#jsmol_window{
  width:600px;
  float:right;
  display:inline;
  }

#atomselect{
  width:460px;
  clear:right;
  display:inline;
  }

#jsmol{
  width:1060px;
  margin-left:auto;
  margin-right:auto;
  background-color:#FFFFFF;
  color:#000000;
  background:#000000 url("/images/leebg.gif") repeat;
  font-family:arial,helvetica,sans-serif;
  font-size:76%;
  font-style:normal;
  font-weight:normal;
}

.qmmminput{
  width:60px;
  margin-left:5px;
}


.selectbutton{
  margin-right:5px;
  margin-left:5px;
}

.atomselectbutton{
  margin-right:5px;
  margin-left:0px;
}

