body{
 line-height:normal;
}

a:link {color: #0131a8; text-decoration: underline; }
a:active {color: #0000ff; text-decoration: underline; }
a:visited {color: #590576; text-decoration: underline; }
a:hover {color: #FF0F00; text-decoration: none; }

/*this is for all "code"-style groups of lines, like on the energy page*/
.code_lines{
  font:12px,Courier,fixed;
  position:relative;
  left:25%;
  top:00px;
  width:90%;
}

/* all lessons are text-align:left so why not make them a class */
.lesson_text{
  text-align:left;
}

/* we align so many headers I couldn't resist */
.center_header{
  text-align:center;
}

.qm_hr{
  width:70%;
}

.noshade_hr{
  border: 1px solid #000;
  width:80%;
}

/* for most input type="text" */
.input_box{
  width:100px;
}

/* For the buildstruct page*/
#select_div{
  text-align:center;
  margin:0 auto;
  border-collapse:collapse;
  width:70%;
}

/* This is for our status divs...since we re-use the same colors a lot, we should
 * try to make them into classes - much easier than style='color:red' or whatever.*/

.done{
  color:green;
}

.running{
  color:blue;
}

.inactive{
  color:gray;
}

.failed{
  color:red;
}

/*this one came up because of taskfiles.html. Gotta genericize!*/
.task_table{
  width:20%;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  margin-bottom:10px;
}

/* this was initially only going to be used for QM/MM param table
 * but it is very useful for any of our tables that aren't really tables,
 * or things that are 600px wide with auto margins*/
.qm_table{
  margin-left:auto;
  margin-right:auto;
  width:600px;
}

tr.padding_under > td{
  padding-bottom:5px;
}

/* We can have up to 1000 of these at once, so we need to speed up parsing */
.ligand_checkbox{
  width:10px;
  text-align:left;
}

/* Ditto */
.ligand_viewbutton{
  width:20px;
  text-align:left;
}
/* Used in some tables and can be used for small textareas as well */
.small_field{
  width:50px;
}

.ligand_desc_field{
  width:300px;
  text-align:left;
}
/* On some pages this needs to be bigger... */
.wider_ligand_desc_field{
  width:400px;
  text-align:left;
}

.file_desc_field{
  width:350px;
  text-align:left;
}

.ligand_name_field{
  width:200px;
}

.table_center{
  margin-left:auto;
  margin-right:auto;
}
/* For a bunch of different things...see it in ligand_design. */
.gray_green_bg{
  background-color:#919f86;
}
/*For buildstruct (CG model build)*/
.light_green_bg{
  background-color:#E0FFF0;
}
/* self-explanatory. Seen on buildstruct. */
.one_third{
  width:33%;
}
/* halfway across the page */
.half{
  width:50%;
}
/* If these make things parse faster, I'm all for it */
.align_right{
  text-align:right;
}

.align_left{
  text-align:left;
}
/* for md */
.mid_hr{
  width:60%;
}

.name_field{
  width:165px;
}

.small_table{
  width:500px;
}
/* This is the equivalent of one <br> */
.small_break{
  margin-bottom:5px;
}
/* Most tables have this border */
.normal_border{
  border: solid 2px black;
}

/*If you need to hide elements for display purposes, this is it.
 * If you need to group show/hide, make it into its own class with display:none.
 * NOTE: JQuery's show() and hide() supersede this!*/
.hidden{
  display:none;
}
/* This is the equivalent of two <br>*/
.big_break{
  margin-bottom:10px;
}

/*for when you really need a split*/
.huge_break{
  margin-bottom:25px;
}

/*For buttons on ligand_design.html*/
.button_separator{
  margin-bottom:10px;
  margin-right:5px;
}
/* This is the equivalent of one <br> */
.header_separator{
  margin-bottom:5px;
}

/* We also have a lot of stuff with width: 100% */
.full_table{
  width:100%;
}
/*
 * Most of our headers in tables are 300px, so I made this class
 */
.desc_header{
  width:300px;
}
.qmmm_params{
  display:none;
}

.oniom_params{
  display:none;
}

.model_selection{
  display:none;
}

.gm_input{
  width:10%;
}

div.colwrapper {
 position: relative;
 width:500px;
}

div.col1 {
 position: absolute;
 left: 0;
 top: 0;
 width: 200px;
}

div.col2 {
 position: absolute;
 left: 205px;
 top: 0;
 width: 200px;
}


div.frontpage{
 line-height:normal;
 font-family:Arial;
}
th.status{
 background-color: #012b01;
 color: #ffffff;
 border: 0px;
 /*background: url("/images/sdmenu/leemenu2/toptitle2.gif") no-repeat;*/
}
table.status{
 margin: 0;
 padding: 0;
 border:0;
 background-color: #ffffff;
 font-size:small;
}
tr.statustop{
 margin: 0;
 padding: 0px;
 border: 0px;
 background-color: #e2e9fe;
}
td.status{
 padding: 0px;
 border: 0px;
 background-color: #cfc4a3;
}
tr.status{
 padding: 0px;
 border: 0px;
 background-color: #DDDDDD;
}
input.login
{
 background: #CFC4A3;
 border: 1px solid #CFC4A3;
}
td.frontpage
{
 padding:0;
 margin: 0;
}
input:focus {
 border: 2px solid #e2e9fe;/*#FFBC47;*/
}
fieldset.login
{
 border: 1px solid #CFC4A3;/*#FFBC47;*/
 width: 20em
}
fieldset.frontpage
{
 border: 1px solid #CFC4A3;/*#FFBC47;*/
 width: 36em;
 height:3.8em;
}
fieldset.custom_sequ
{
 border: 2px solid #cfc4a3;/*#FFBC47;*/
 font-size:small;
 text-align:left
}
legend.custom_sequ
{
 /*background: #FFBC47;*/
 background: #cfc4a3;
 font-size:small;
}
fieldset.structure
{
 border: 5px solid #cfc4a3;/*#FFBC47;*/
 width: 35em
}
legend.login
{
 /*background: #FFBC47;*/
 background: #cfc4a3;
}
div.centerpageiframe
{
 position:fixed;
 left:30%;
 top:40%;
}
div.centerpage
{
 position:fixed;
 left:35%;
 top:40%;
}
#jmolfooter
{
   background-color: #000000;
   color: #CCCCCC;
}

.fontsmall {
font-size:small;
}

.fontmed {
font-size:medium;
}

.fontlarge {
font-size:large;
}

#mainstatus {
color: #000000;
width:  200px;
margin: auto;
position: relative;
font-size: medium;
font-weight: lighter;
clear: both;
border-left: #000000 0px solid;
border-right: #000000 0px solid;
border-bottom: #000000 0px solid;
background: #e2e9fe;
}

/* CSS declarations for ligand design */

#jsmol_ligand{
  width:600px;
  float:right;
  display:inline;
}

#mol_actions{
  clear:right;
  display:inline;
}






