/* CSS file for mutationselect.html
 * Sets 1000px total area and marginalizes
 * Also adds background to fit the rest of CHARMMing.
 * Same as ligand_design but with declarations flipped. */

#jsmol_window{
  width:600px;
  float:right;
  display:inline;
  }

#atomselect{
  width:460px;
  float:left;
  display:inline;
  }

body{
  width:1060px;
  margin-left:auto;
  margin-right:auto;
  background-color:#FFFFFF;
  color:#000000;
  background:#000000 url("/images/leebg.gif") repeat;
  font-family:arial,helvetica,sans-serif;
  font-size:76%;
  font-style:normal;
  font-weight:normal;
}



