#headbkgd {
width:  1220px;
height: 140px;
background:#000000 url("/images/leebg.gif") repeat;
background-color: #00FF00;
display: block;
}

#container {
width:  1220px;
position:relative;
top: -140px;
margin: 0px auto 0px auto;
padding-top:15px;
/*background-color: #FFFFFF;*/
background-color: #919f86;
/* background: url("/images/charmming-css/charmming-bkgrd.png") repeat-y;*/
}

#login-container {
width:  1220px;
position:relative;
top: -140px;
margin: 0px auto 0px auto;
padding-top:15px;
background-color: #FFFFFE;
}

/*---------------------------------------------*/

#header {
margin: 0px;
width:  1220px;
height: 140px;
border-left: #000000 0px solid;
border-right: #000000 0px solid;
border-top: #000000 0px solid;
border-bottom: #000000 0px solid;
background-color: red;
background: url("/images/redesign/header6.png") no-repeat;
display: block;
}

#headmenu a {
  position: absolute;
  height: 140px;
  width: 1220px;
  top: 15px;
  text-decoration: none;
  }

#headmenu a i { text-indent:0px; overflow: hidden; }
#headmenu { text-indent:0px; overflow: hidden; }

#header a span {
visibility: hidden;
}

a#charmming { left: 1px; width: 1220px; top: 230px;}
a#nih2 { left: 867px; width: 138px; top: 125px;}
a#hhs2 { left: 867px; width: 228px; top: 107px;}
a#hhs { left: 867px; width: 66px; top: 100px;}
a#nih { left: 934px; width: 54px; top: 100px;}
a#nhlbi { left: 989px; width: 178px; top: 100px;}


/*---------------------------------------------*/

#my_menu {
width: 150px;
margin: 0px;
float: left;
padding-left: 0px;
padding-top: 0px;
}

#sidebar {
width: 156px;
margin: 0px;
float: left;
padding-left: 0px;
padding-top: 5px;
background-color: #fffffe;
/* background-color: #919f86; */
/* background: url("/images/charmming-css/charmming-bkgrd.png") repeat-y; */
}

#statusreport {
width: 150px;
margin: 0px;
float: left;
padding-left: 0px;
padding-top: 10px;
padding-bottom: 15px;
}

#lessonreport {
width: 150px;
margin: 0px;
float: left;
padding-left: 0px;
padding-top: 10px;
padding-bottom: 15px;
}

#maincolumn {
width: 1060px;
margin: 0px;
float: left;
padding-left:5px;
}

/*---------------------------------------------*/

#footer {
color: #000000;
width:  1220px;
height: 40px;
margin: auto;
position: relative;
font-size: medium;
font-weight: lighter;
clear: both;
border-left: #000000 0px solid;
border-right: #000000 0px solid;
border-bottom: #000000 0px solid;
background-color: #00FF00;
background: url("/images/redesign/footer6.png") no-repeat;
float: left;
/*background-color: #f6f6f6;*/
}

#login-footer {
color: #000000;
width:  1220px;
height: 40px;
margin: auto;
float: left;
font-size: medium;
font-weight: lighter;
clear: both;
border-left: #000000 0px solid;
border-right: #000000 0px solid;
border-bottom: #000000 0px solid;
background: url("/images/redesign/footer6.png") no-repeat;
background-color: #f6f6f6;
}


#footmenu a {
  position: absolute;
  height: 40px;
  width: 1220px;
  top: 0px;
  text-decoration: none;
  }

#footmenu a i { visibility: hidden; }

a#foothhs { left: 853px; width:47px;}
a#footnih { left: 900px; width:38px;}
a#footnhlbi { left: 938px; width:45px;}
a#foothome { left: 0px; width:850px; top: 0px;}



/*---------------------------------------------*/

/*
#statusfooter {
background: url(/images/sdmenu/leemenu2/bottom.gif) no-repeat;
}
*/

.content {
padding-top: 12px;
padding-left: 28px;
background: #012b01;
}

.single {
text-indent: 0px;
margin-bottom: 0;
margin-top: 0;
text-align:
justify; }

.intro {
text-indent: 0px;
margin-bottom: 0px;
margin-top: 0px;
margin-left: 25px;
margin-right: 25px;
text-align: justify;
font-size:medium;
line-height: 14pt
}

.padding {
margin-top: 50px;
/*line-height: 24pt */
}

.introlist {
text-indent: 0px;
margin-bottom: 0px;
margin-top: 0px;
margin-left: 0px;
margin-right: 0px;
text-align: justify;
font-size:medium;
line-height: 14pt
}


/*html>body {font-size:small;}*/

.tabs {
      float:left;
      width:1060px;
      font-size:93%;
      /*background:#000000 url("/images/leebg.gif") repeat;*/
      margin:0;
      padding:0;
      color:#000;
      /*background: #DCE0E7;*/
      background: #919f86;
      line-height:normal;
}

.tabs ul {
      margin:0;
      padding:10px 10px 0;
      list-style:none;
}

.tabList li {
      float:left;
      background:url("/images/left_both.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 9px;
      border-bottom:1px solid #765;
      list-style:none;
}

.tabList span {
      float:left;
      display:block;
      background:url("/images/right_both.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      text-decoration:none;
      font-weight:bold;
      color:#765;
}

.tabs > ul a {
      width:auto;
}

 /* Commented Backslash Hack hides rule from IE5-Mac \*/
 .tabList a {float:none;}
 /* End IE5-Mac hack */
 .tabList a:hover {
   color:#333;
 }

.tabList {
      background-position:0 -150px;
      border-width:0;
}

.tabList a {
      background-position:100% -150px;
      padding-bottom:5px;
      color:#333;
      }

.tabList {
      background: transparent;
}

.tabList li span {
  display: inline;
  float: left;
}

.tabHandle {
  display: inline;
}

.tabList li span img {
  position: relative;
  left: 2px;
  top: 2px;
}


.tabList li:hover a, .tabList li:hover {
      background-position:0% -150px;
      color:#333;
}

.tabList a:hover, .tabList span:hover  {
      background-position:100% -150px;
      cursor: pointer;
}


.tabList li.selected {
      background-position:0% -150px;
      color:#333;
}

.tabList li.selected span {
      background-position: 100% -150px;
}

.tabPanels {
  background-color: #FFFFFF; /* old color was #f8f7f5 */
  border-bottom:0px solid #BBBBBB;
  border-left:0px solid #BBBBBB;
  border-right:0px solid #BBBBBB;
  height: 100%;
 /*  height: 100%; use this if you want to have a certain height at all times */
  padding: 1px;
}



.tabContainer {
   text-align: left;
   position:relative;
   width: 1060px;
   background-color: #ffffff;
}


