{% extends 'layout.html' %}

{% block title %} Administration :: New User {% endblock %}
{% block html_class %} admin-user-new {% endblock %}

{% block content %}
<div class='title'>
  Create a New User
</div>
<div class='alert-box alert hide'></div>
<form action='/admin/user/new' method='post'>
  <label>Username</label>
  <input type='text' name='username'>

  <label>Password (<a id='random'>randomly generate</a>)</label>
  <input type='text' name='password'>

  <label>Email Address</label>
  <input type='text' name='email_address'>

  <label>Permissions</label>
  <select name='permissions'>
    <option value='1'>User</option>
    <option value='2'>Administrator</option>
    <option value='0'>Disabled</option>
  </select>

  <div>
    <input type='submit' class='button' value='Create'>
  </div>
</form>
{% endblock %}
