<html>
<head>
<title> Select an option </title>
</head>
<body>
{% block title %}Select an option{% endblock %}

{% block content %}
      <h1>Select an option</h1>
     <a href="/login/">Login</a><br> 
     <a href="register/">Register</a> 
{% endblock %}
</body>
</html>
