<!DOCTYPE html>
<head>
<link href="/css/custom.css" rel="stylesheet" type="text/css" media="all" />
<script src="/js/protoculous-1.0.2-packed.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" media="all" href="/css/tablekit/tablestyle.css" />
<script type="text/javascript" src="/js/tablekit/fastinit.js"></script>
<script type="text/javascript" src="/js/tablekit/tablekit.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

{% block js%}
 <script type="text/javascript">

function getClassList() {
   teacher_name = document.getElementById('teacher_name').value;
   document.getElementById('class_list').innerHTML = "Getting class list. One moment.";
   new Ajax.Updater("class_list","/accounts/register/student/refreshclasslist/"+teacher_name + "/", {method:'post', asynchronous:false});
}

    </script>
{% endblock%}


<title>{% block title %}Create an account{% endblock %}</title>
</head>

{% block content %}
<body>
<center>
      <h1>Create an account</h1><br>
      <center>
      <form action="/accounts/register/" method="post">
        {% if form.error_dict %}
          <p class="error">Please correct the errors below.</p>
        {% endif %}

        {% if form.username.errors %}
          {{ form.username.html_error_list }}
        {% endif %}
        <label for="id_username">Username:</label><br><input type=text name="username" onBlur="javascript:this.value=this.value.toLowerCase();"><br>

        {% if form.password1.errors %}
          {{ form.password1.html_error_list }}
        {% endif %}
        <label for="id_password1">Password:</label><br> {{ form.password1 }}<br>
        {% if form.password2.errors %}
          {{ form.password2.html_error_list }}
        {% endif %}
        <label for="id_password2">Password (again):</label><br> {{ form.password2 }}<br>
        {% if form.first_name.errors %}
          {{ form.first_name.html_error_list }}
        {% endif %}
        <label for="id_first_name">First Name:</label><br> <input type=text name="first_name" id="id_first_name"><br>
        <label for="id_last_name">Last Name:</label><br> <input type=text name="last_name" id="id_last_name"><br>
        <label for="id_institute">Institute:</label><br> <input type=text name="institute" id="id_institute"><br>
        <label for="id_email">Email:<br></label> <input type=text name="email" id="id_email"><br>
        <label for="id_charmmlicense">Do you have a CHARMM License?:</label> <br>Yes: <input type=radio name="charmmlicense" value="Yes"> No: <input type=radio name="charmmlicense" value="No" checked><br><br>
<!--	
	What type of account are you applying for?<br>
	Student Account <input type="radio" name="account_type" value="student"><br>
	Teacher Account <input type="radio" name="account_type" value="teacher"><br>
-->

    {% if register_paper %}
    <input type="hidden" name="authordinal" value="{{ authordinal }}" />
    <label for="id_author">Give the last (family) name of the {{ authordinal }} author of the 2008 CHARMMing paper (J. Chem. Inf. Model vol 48 issue 9 pp. 1920-1929).</label> <input type="text" name="authanswer" /><br>
    {% endif %}
    {% if register_captcha %}
    <div class="g-recaptcha" data-sitekey="6LcXMxQTAAAAAELAaZQgLJgriz1EeF2e_ydjvst8"></div>
    {% endif %}
    <br />
    <input type="submit" value="Create the account" />
      </label>
    </center>
  </form>
</body>
</html>
{% endblock %}
