{% if tasks %}
  <table>
  {% for abadfile in abadfiles %}
    {% if forloop.first %}
       <tr><td><input type="radio" name="native_ligand" value="{{ abadfile.name }}" checked /></td><td>{{ abadfile.name }}</td><td><a href="/jmolview/{{ abadfile.name }}">View</a></td></tr>
    {% else %}
       <tr><td><input type="radio" name="native_ligand" value="{{ abadfile.name }}" /></td><td>{{ abadfile.name }}</td><td><a href="/jmolview/{{ abadfile.name }}">View</a></td></tr>
    {% endif %}
  {% endfor %}
  </table>
{% endif %}

