{% extends "html/skeleton.html" %}

{% block content %}
<div id="mainpage">
  <h1 class="center_header">About CHARMMing</h1><br /> 

<h2 class="intro" style="margin-top:50px">Citation</h2>
<br>
<p class="intro">If you use CHARMMing in any work, please cite our paper:
<br /><br />
<i>Miller, B. T.; Singh, R. P.; Klauda, J. B.;
Hodoscek M.; Brooks, B. R.; Woodcock H. L. CHARMMing: A new, flexible Web portal for CHARMM. Journal of Chemical Information
and Modeling. 48(9), 1920-1929. 2008.</i><br />(<a href="http://pubs.acs.org/cgi-bin/abstract.cgi/jcisd8/asap/abs/ci800133b.html">Link to abstract</a>)</p>

<h2 class="intro" style="margin-top:50px">Source Code</h2><br/>

<p class="intro">The source code for CHARMMing can be found at <a href="http://source.charmming.org">source.charmming.org</a>
or at <a href="http://charmming.googlecode.com">CHARMMing's Google Code site</a>.</p>


<h2 class="intro" style="margin-top:50px">Using the site</h2>
<br>
<p class="intro">
CHARMMing has been tested with Mozilla Firefox versions 2+ (up to and including 23.0). The browser must be set to accept
cookies. It should also work with recent versions of Safari, but these have not
been tested as thoroughly. It should also work well with recent versions of Google Chrome, including the
mobile versions for Android phones; it is the preferred browser for visualizing molecules with GLmol.
Due to extensive use of HTML5 elements for visualization, any of the applications on this site that involve the use of
JSmol or GLmol will not work on Internet Explorer versions older than Internet Explorer 9.
Please note that most of our graphical applications will not run if you have JavaScript disabled; however, you
will still be able to submit calculations without issues.</p>
<br />
<p class="intro">CHARMMing is HTML5 (experimental) compliant! Please report any non-compliant pages (including the URL, and possibly the non-compliant line) to btmiller@helix.nih.gov.</p>
<br>
<p class="intro">To report bugs, please e-mail btmiller@helix.nih.gov or RishiSingh@gmail.com, but please check the known problem
list below to make sure it's not a duplicate of an issue we already know about.</p>

<h2 class="intro" style="margin-top:50px">Known Problems</h2>

<ul>
  <li><p class="introlist">Occasionally, the status box will not update when a job is submitted. If this happens, please
      restart the job.</p></li>
  <li><p class="introlist">Antechamber will combine all &quot;bad&quot; hetero-atoms into a single residue when it is used.</p></li>
  <li><p class="introlist">GENRTF also combines all &quot;bad&quot; hetero-atoms into a single residue when hydrogens are generated.</p></li>
  <li><p class="introlist">Generating hydrogens for &quot;bad&quot; hetero-atoms can cause problems with Antechamber.</p></li>
      <li><p class="introlist">Visualizing custom sequences does not work until a CHARMM operation is performed on them (since coordinates must be built).</p></li>
      <li><p class="introlist">Downloading screenshots taken with GLmol can cause severe glitches in Firefox. It is recommended to 
      instead copy the image to the clipboard and paste it into an image editing program or similar for local storage.</p></li>
      <li><p class="introlist">On some versions of Firefox, the Build Working Structure page will crash the browser due to a glitch in JSmol. This bug is resolved in versions of Firefox 32 and later; it is recommended to upgrade to this version for stability.</p></li>
</ul>

<h2 class="intro" style="margin-top:50px">Report a bug</h2>
<br />
<div id='error_report'>
   <p class="intro">
     If you believe you have found a bug, please report it using the form below.<br><br>
   </p>
   <form id="error_form" method="post"  action="." onsubmit="return report_error(this,'error_report');">
   <p class="intro">Subject:</p>
   <input class="intro" name="subject" type="text">
   <br>
   <p class="intro">
     Please tell us some information about your PDB and what the error(s) were:<br>
   </p>
   <textarea class="intro" name="errordescription" cols="50" rows="5"></textarea><br>
  <br>
  <input class="intro" type="submit" value="Report Error">
  </form>
</div>


<h2 class="intro" style="margin-top:50px">Software</h2><br>

<p class="intro">
CHARMMing makes use of a variety of additional software.

<ul>
  <li><p class="introlist"><a href="http://craigsworks.com/projects/qtip2/download/">qTip2</a>: provides context-sensitive help.</p></li>
  <li><p class="introlist"><a href="http://www.djangoproject.org">Django</a>: an open source Web application framework.</p></li>
  <li><p class="introlist"><a href="http://www.orangoo.com/labs/GreyBox/">GreyBox</a>: for various display functionality.</p></li>
  <li><p class="introlist"><a href="http://www.dynamicdrive.com/dynamicindex1/slashdot.htm">SD Menu</a>: used to create the sidebar.</p></li>
  <li><p class="introlist"><a href="https://github.com/EdlinOrg/jqTableKit/">jqTableKit</a>: for table sorting.</p></li>
  <li><p class="introlist"><a href="http://www.openbabel.org">Open Babel</a>: generates hydrogens for bad heteroatoms and generates SDF files for parameter fitting.</p></li>
  <li><p class="introlist"><a href="http://sourceforge.net/projects/jsmol/">JSmol</a>: for visualization of molecules and custom ligand building.</p></li>
  <li><p class="introlist"><a href="http://webglmol.sourceforge.jp/index-en.html">GLmol</a>: for fast visualization of molecules on machines with limited resources, such as phones.</p></li>
  <li><p class="introlist"><a href="http://jquery.com">jQuery</a>: for various display functionality as well as JSmol.</p></li>
  <li><p class="introlist"><a href="http://jqueryui.com/">jQuery-UI</a>: for error/information boxes.</p></li>
</ul>
<br><br>
<h2 class="intro">People</h2>
<br />
<p class="intro">CHARMMing was developed by the Laboratory of Computational Biology and the Woodcock research group at the University of South Florida. Planning and development were done by:

<ul>
  <li><p class="introlist">Tim Miller</p></li>
  <li><p class="introlist">Rishi Singh</p></li>
  <li><p class="introlist">Yuri Pevzner</p></li>
  <li><p class="introlist">Vinushka Schalk</p></li>
  <li><p class="introlist">Jingjun Sun</p></li>
  <li><p class="introlist">Frank Pickard</p></li>
  <li><p class="introlist">Jeff Klauda</p></li>
  <li><p class="introlist">Milan Hodoscek (GENRTF)</p></li>
  <li><p class="introlist">Lee Woodcock</p></li>
</ul>

<p class="intro">
With special thanks to:	

<ul>
  <li><p class="introlist">Bernard Brooks</p></li>
  <li><p class="introlist">Rick Venable</p></li>
  <li><p class="introlist">Xiongwu Wu</p></li>
</ul>

<br />
<br />
</div>
{% endblock %}
