{% extends "html/skeleton.html" %}

{% block content %}

<h2 align="center">Choose topology and parameter file</h2>

<p>You have supplied CHARMMing with a PSF and coordinate file. However, in
order to run CHARMM calculations, you must supply all topology and parameter
files that were used to generate the PSF. Note, these files <b>must match</b>
the ones used to generate the PSF, or else errors will occur.</p>

<p><b>Note:</b> topology and parameter files usually come in matched pairs.
However, some parameters are distributed as stream files. These stream files
can be uploaded in the second part of the form.</p>

<p>As a reminder, you have the following segments in your structure:</p>

<ul>
{% for s in seglist %}
  <li>{{ s }}</li>
{% endfor %}
</ul>

<form method="post" action="{% url 'add-struct-to-toppar' %}" enctype="multipart/form-data">
  <h3 align="center">Topology and parameter files</h3>
  <table align="center" width="50%">
    <tr>
       <td>How many topology and parameter <b>pairs</b> do you have?</td>
       <td><input type="text" size="4" name="ntoppar" id="ntoppar" value="0" onkeyup='writeTopparLines($(this).val());' /></td>
    </tr>
  </table>
  <div id="tppairs">
  </div>
  <hr />
  <h3 align="center">TOPPAR stream files</h3>
  <table align="center" width="50%">
       <td>How many TOPPAR <b>stream files</b> do you have?</td>
       <td><input type="text" size="4" name="ntpstr" id="ntpstr" value="0" onkeyup='writeStrFiles($(this).val());' /></td>
  </table>
  <div id="strfiles">
  </div>

  <input type="submit" value="submit">
</form>

{% endblock %}

