<h3 class="center_header">Define Binding Site using Native Ligand</h3>
{%if abadfiles%}
<table id="native_ligand_table" class="qm_table" style="margin-left:auto;margin-right:auto;width:330px;">
  {% for abadfile in abadfiles %}
  <tr>
    <td><input type="radio" name="native_ligand" value="{{ abadfile.name }}" {%if forloop.first%}checked{%endif%} /></td>
    <td>{{ abadfile.name }}</td><td><a href="javascript:getLigandJSmolView('{{ abadfile.jsmolpath }}');">View</a></td>
    <td>
      <div class="ligand_image">
        <div class="ligand_tooltip_image" style="display:none">
          <img src="http://www.rcsb.org/pdb/images/{{ abadfile.tag}}_300.gif" alt="Ligand Image from RCSB PDB">
          </div>
        <img src ="http://www.rcsb.org/pdb/images/{{ abadfile.tag }}_120.gif" alt="Ligand Image from RCSB PDB">
      </div>
    </td>
    {% endfor %}
</table>
{%else%}<p class="center_header"><b>No native ligand found</b></p>{%endif%}
{%if binding_sites %}
<table class="qm_table" style="margin-left:auto;margin-right:auto;width:330px;">
    {%for bindingsite in binding_sites %}
    <tr>
      <td> <input type="radio" name="native_ligand" value="{{bindingsite}}"   {% if not abadfiles and forloop.first %}checked{%endif%} /></td>
      <td>{{bindingsite}}</td><td></td><td></td>
    </tr>
  {%endfor%}
</table>
{%endif%}
<h3 class="center_header"><a href="/dd_infrastructure/bindingsite/">Define new binding site</a></h3>
<script>
  $(document).ready(function()
  {
    $(".ligand_image").each(function() {
      $(this).qtip({
        content: {
          text:$(this).children('.ligand_tooltip_image')
        },
        show: 'click',
        hide: 'click',
        style: {
          width: 320, //300x300, size of image, plus a small offset.
          height: 310
        }
        });
      });
    });
</script>

