<!doctype html>
<html>
  <head>
    <title>Charmming2</title>
    {% asset 'css' 'bundle' "[('id','css')]" %}
  </head>
  <body>
    <div id='root'></div>
    {% asset 'js' 'bundle' "[('id','js')]" %}
  </body>
</html>
