<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>View/Edit PDBs</title>

    <script type="text/javascript">
        var GB_ROOT_DIR = "/greybox/greybox/";
function send_select_form(username) {
   new Ajax.Request("/select/"+form.id, {method:'post', asynchronous:true});
}

    </script>

{% asset 'css' 'index' %}
</head>
<body>

<center>
<h1>Approve Students</h1>
</center>
<div class='status'>
<body>
<center>
<form method="post" action=".">

<table class="sortable resizable" border=2 style="text-align:center;">
<tr><th>Name</th><th>Class</th><th>Approve</th></tr>
{% for student in student_list %}
<tr><td>{{ student.student.first_name }} {{student.student.last_name}}</td><td> {{student.classroom.name}}</td><td><input type="checkbox" name="approve_{{student.student.username}}"></td></tr>
{% endfor %}
</table>
<input type="Submit" value="Approve">
</form>
</div>
</center>
</body>
