{% extends "html/skeleton.html" %}

{% block content %}
<h3 align="center">A working structure has been created</h3>

<div style="text-align:left;">
<p>Now that you have defined the physical and chemical make up of your
system, you may proceed to run calculations. For example, you may now
minimize the potential energy of your structure using the CHARMM force
field or add solvent.</p>

{% if nscale_msg %}
  {{nscale_msg}}
{% endif %}

</div>
{% endblock %}
