{% extends "html/skeleton.html" %}

{%block jsmol_scripts %}
  {% comment %}
  The reason this is loaded in this fashion is to bypass the Google Analytics tracking
  in the bundled version (.min.js)

  TODO: Eventutally this can be removed in favor of the complete bundle
  {% endcomment %}
  <script src="/js/jsmol/JSmoljQueryExt.js" type="text/javascript"></script>
  <script src="/js/jsmol/JSmolCore.js" type="text/javascript"></script>
  <script src="/js/jsmol/JSmolApplet.js" type="text/javascript"></script>
  <script src="/js/jsmol/JSmolApi.js" type="text/javascript"></script>
  <script src="/js/jsmol/JSmolControls.js" type="text/javascript"></script>
  <script src="/js/jsmol/j2sjmol.js" type="text/javascript"></script>
  <script src="/js/jsmol/JSmol.js" type="text/javascript"></script>
  <script src="/js/jsmol/JSmolConsole.js" type="text/javascript"></script>
  <script src="/js/jsmol/JSmolMenu.js" type="text/javascript"></script>
  <script src="/js/jsmol/JSmolThree.js" type="text/javascript"></script>
  <script src="/js/jsmol/JSmolGLmol.js" type="text/javascript"></script>
  <script src="/js/jsmol/JSmolTM.js" type="text/javascript"></script>
  <script type="text/javascript" src="/js/init_jsmol.js"></script>
{%endblock%}

{% block content %}
<div id="mainpage">
  <h1 class="center_header">Editing structure {{ structname }}</h1>
  <hr />

  {% if haveworkingstruct %}
    <div id="swap_form">
      <h2>Change Active Working Structure</h2>
      <form id="swap" method="post" action="/swapstruct/" onsubmit="return send_form_gener('swap_form','/swapstruct/',makeUniqueDiv('Edit Structure'));" >
        <select name="choosestruct">
          {% for str in built_list %}
            <option value="{{ str.identifier }}" {% ifequal str.selected 'y' %}selected{% endifequal %}>{{ str.identifier }}</option>
          {% endfor %}
        </select>
        <input type="submit" value="Switch Working Structure" />
      </form>
    </div>
  {% endif %}
  <div id="newbuild">
     <h2>Build A New Working Structure</h2>

     <form id="config_form" method="post" action="{% url 'mod-struct' %}" enctype="multipart/form-data" >
        <div class="gray_green_bg"><b>Please choose a name for this working structure:</b> <input type="text" name="wsidentifier" value="{{ proposedname }}" /></div><br />
        <b>Please choose which model you want this working structure based from:</b>

        <select name="basemodel">
           {% for modelname in model_list %}
             <option value="{{ modelname }}">{{ modelname }}</option>
           {% endfor %}
        </select>

        <div class="gray_green_bg">
          <h3>What type of structure should be built?</h3>
          <table style="width:65%">
            <tr><td><input type="radio" name="buildtype" value="aa" onclick="setCGDisplay('aa');" checked /></td><td>A &quot;traditional&quot; all-atom model using the CHARMM force field.</td></tr>
            <tr><td><input type="radio" name="buildtype" value="go" onclick="setCGDisplay('go');" /></td><td>A Klimov-Thirumalai style Go model.</td></tr>
            <tr><td><input type="radio" name="buildtype" value="bln" onclick="setCGDisplay('bln');" /></td><td>A two site BLN type model based on the work of Marrink and Bond &amp; Sansom.</td></tr>
          </table>
        {%if customCount > 1 %}
        <p class="fontlarge">Your structure has more than one custom ligand. Before performing any other calculations on this working structure, please <br> perform a minimization to ensure accurate results.</p>
        {%endif%}
      </div>
        <div id="form_stuff">
          <div id="aa_display">
           <h3>Configure patching and chemical properties of the structure</h3>
           <hr />
           <h4>Choose Segments and Patching</h4>

           <div id="select_div">
             <table class="sortable resizable normal_border">
             <tr><td>Selected</td><td>Segment Name</td><td>Segment type</td><td>First patch</td><td>Last patch</td><td>Topology File and Parameter File</td><td>Residue Name</td><td>Residue Image</td></tr>
             {% for seg in seg_list %}
                <tr>
                  <td><input type="checkbox" name="select_{{ seg.name }}" value="y" /></td>
                  <td>{{ seg.name }}</td><td>{{ seg.type }}</td>
                  <td>
                    <select name="{{ seg.name }}_firstpatch">
                    {% for opt in seg.possible_firstpatches %}
                      <option value="{{ opt }}" {% ifequal opt seg.default_patch_first %}selected{% endifequal %}>{{ opt }}</option>
                    {% endfor %}
                    </select>
                  </td>
                  <td>
                    <select name="{{ seg.name }}_lastpatch">
                    {% for opt in seg.possible_lastpatches %}
                      <option value="{{ opt }}" {% ifequal opt seg.default_patch_last %}selected{% endifequal %}>{{ opt }}</option>
                    {% endfor %}
                    </select>
                  </td>
                  <td>
                    {% ifequal seg.type "bad" %}
                      Choose:
                      <select id="toppar_{{seg.name}}" name="toppar_{{ seg.name }}" onchange="showUploads(this.id);">
                        <option value="upload">Upload my own topology/parameters</option>
                        <option value="autogen" selected="selected">Attempt to automatically generate parameters</option>
                        {% if seg.fes4 %}
                           <option value="redox">Use only for REDOX calculations</option>
                        {% endif %}
                        {% if super_user %}
                           <option value="dogmans">Force Dogmans</option>
                           <option value="match">Force MATCH</option>
                           <option value="antechamber">Force Antechamber</option>
                           <option value="genrtf">Force GENRTF</option>
	                {% endif %}
                      </select>
                      <br />
                      <div class="hidden" id="toppar_upload_{{seg.name}}">
                        topology file: <input type="file" name="topology_{{ seg.name }}" /><br />
                        parameter file: <input type="file" name="parameter_{{ seg.name }}" /><br />
                      </div>
                    {% else %}
                      CHARMM36 topology/parameters for proteins/nucleic acids will be used
                      <input type="hidden" name="toppar_{{ seg.name }}" value="standard" />
                    {% endifequal %}
                  </td>
                  <td>
                    {% if seg.resName %}{{seg.resName}}{%endif%}
                  </td>
                  <td>
                    {% ifnotequal seg.resName "N/A" %}
                      {% if not seg.is_custom %}
                      <img src="http://www.rcsb.org/pdb/images/{{seg.resName|upper}}_120.gif" alt="Residue image">
                      {% endif %}
                    {%endifnotequal%}
                  </td>
                </tr>
             {% endfor %}
           </table>
           </div>
           <hr />


           <div id="disul_div">
           {% if disulfide_list %}
             <p>Change disulfide bond patching options <input type="checkbox" name="disul_box" id="disul_box" onclick="if($(this).is(':checked')){$('#disulfide').show();}else{$('#disulfide').hide();}" /></p>

             <div id="disulfide" class="hidden">
             <h3>Choose Disulfide Patching</h3>
             <table class="qm_table">
               <tr><td>SEGID 1</td><td>RESID 1</td><td>SEGID 2</td><td>RESID 2</td><td>Selected</td></tr>
               {% for disul in disulfide_list %}
                 <tr><td>{{ disul.0 }}</td><td>{{ disul.2 }}</td><td>{{ disul.3 }}</td><td>{{ disul.5 }}</td><td><input type="checkbox" name="disul_{{ disul.0 }}_{{ disul.2 }}_{{ disul.3 }}_{{ disul.5 }}" checked /></td></tr>
               {% endfor %}
             </table>
           {% endif %}
             </div>
           {% if proto_list %}
           <p>Modify protonation states of titratable residues <input type="checkbox" name="proto_box" id="proto_box" onclick="click_proto_box()" /></p>
           {%if no_propka%}<p class="failed"><b>* You need to decide on the protonation states of all residues. Either they were assigned default values, or PROPKA could not be run on this molecule.</b></p>
            {%else%}
              {%if user_decision%}<p class="failed"><b>* You need to decide on the protonation states of some residues. Either they were assigned default values, or PROPKA returned a pKa value equal to the pKa for one of that particular residue's protonation states.</b></p>
              {%endif%}
              {%endif%}
            <div id="proton_divs">
                <p><b>WARNING</b>: The non-solvent hydrogens displayed in the JSmol window below were automatically generated by JSmol and do not necessarily reflect the actual positions of the hydrogens in the molecule.
                Do not rely on these positions for your calculations, they are provided as a <b>graphical aid only</b>. Solvent or ligand hydrogens will <b>not</b> be displayed unless
                they were included in the original PDB file.</p>
                <hr>
               <div id="protonation">
               <table class="sortable" style="border-spacing:1em">
                 <tr><th>SEGID</th><th>Residue Number</th><th>Protonation State</th><th class="sortfirstdesc">Requires user decision</th></tr>
               {% for pproto in proto_list %}
               <tr><td>{{ pproto.0 }}</td><td><a href="javascript:select_residue('{{pproto.3}}','{{pproto.0}}')">{{ pproto.1 }}</a></td>
                   <td>
                     <select onchange="change_proto_state(this,'{{pproto.3}}','{{pproto.0}}');" name="protostate_{{ pproto.0 }}_{{ pproto.1 }}">
                       {% for alt in pproto.2 %}
                         <option {% if forloop.first and pproto.4 == 0 or forloop.last and pproto.4 == 1%}selected="selected"{%endif%} value="{{ alt.0 }}">{{ alt.0 }} ({{ alt.1 }})</option>
                        {%comment%} Make SURE that your protonation state is always the last, and the default non-protonated state is always the first! May need to change logic for more residues in CHARMMing.{%endcomment%}
                         {% endfor %}
                       </select>
                      </td>
                      <td>
                      {%if pproto.4 == 2 %}
                      <p class="failed"><b>*</b></p>
                      {%endif%}
                    </td>
                </tr>
               {% endfor %}
             </table>
                </div>
                <div id="protonation_jsmol">
               <script type="text/javascript" async="async">
                  var filepath = "{{filepath}}"; //base filepath - since this is the structure there's only one
                  var jmolApplet;
                  var jmol_height;
                  jmol_isReady = function(applet) {
                    $("#jmolApplet_appletdiv").css("z-index",0);
                    Jmol._getElement(applet, "appletdiv".style.border="1px solid blue");
                  }
                  var Info = {
                    width: "400",
                    height: "400",
                    debug: false,
                    color: "white",
                    use: "HTML5",
                    j2sPath: "/js/jsmol/j2s",
                    readyFunction: jmol_isReady,
                    script: "set antialiasDisplay;",
                    disableJ2SLoadMonitor: false,
                    disableInitialConsole: false,
              //  console: "jmolApplet_infodiv"
                //Apparently the DEFAULT setting is to have debug on. Thus the awkwardness.
              }
                jmolApplet = Jmol.getApplet("jmolApplet", Info);
                Jmol.script(jmolApplet, "set pdbaddhydrogens true;load async " + filepath + ";");
                initializeDisplay();
                Jmol.script(jmolApplet, "selectionHalos on;");
              </script>
              <hr class="noshade_hr">
              <button class="hidden_options" onclick="show_protein();return false;">Show/Hide rest of protein</button>
              <button onclick="show_hide_hydrogens();return false;">Show/Hide Generated Hydrogens</button>
            </div>
          </div>
          {% endif %}
        </div>

        <div id="go_display" class="hidden">
          <h3 class="center_header">Select segments for the Go model</h3>
           <table class="sortable normal_border table_center" style="width:20%;">
           {% for seg in seg_list %}
              {% ifequal seg.type "pro" %}
                 <tr><td><input type="checkbox" name="go_select_{{ seg.name }}" value="y" /></td><td>{{ seg.name }}</td></tr>
              {% endifequal %}
           {% endfor %}
           </table>

           <h3 class="center_header">Go model parameters</h3>

           <p>A <b>Go like</b> model incorporates a potential energy function that is based on a known structure. Contacts within
              the structure are defined as <b>native</b> or <b>non-native</b>, and determined via an empirical contact potential.
              Long range interactions are modeled as Lennard-Jones potentials. The particular Go-type model used in CHARMMing is one
              derived by Klimov and Thirumalai. For more details, please see
              <a target="_blank" href="http://onlinelibrary.wiley.com/doi/10.1002/bip.1978.360170612/abstract">Ueda <i>et al.</i></a>,
              <a target="_blank" href="http://jcp.aip.org/resource/1/jcpsa6/v109/i10/p4119_s1">Klimov <i>et al</i> (1998)</a>, and&nbsp;
              <a target="_blank" href="http://www.pnas.org/content/97/6/2544.abstract">Klimov and Thirumalai (2000)</a>.
            </p>

           <table>
              <tr>
                 <td colspan="2" class="light_green_bg">Basic parameters (should be manipulated as needed for all Go models).</td>
              </tr>
              <tr>
                 <td><b>Contact types</b><br />
                    The contact map determines which empirical potential is used for native and non-native contacts.
                 </td>
                 <td>
                   <input type="radio" name="gm_contact_type" value="mj" checked /> MJ
                   <input type="radio" name="gm_contact_type" value="kgs" /> KGS
                   <input type="radio" name="gm_contact_type" value="bt" /> BT
                 </td>
              </tr>
              <tr>
                 <td><b>Nscale</b><br />
                    The Nscale parameter sets the relative strength of the native contact interactions. This must be tuned
                    for each starting structure to reproduce a physically realistic melting temperature. Often, 1.0 is a good
                    starting guess for Nscale, but each system is different and this parameter must be tuned separately.
                 </td>
                 <td><input type="text" class="gm_input" name="gm_nscale" value="1.00" /><br />
                    <!-- Tim Miller - May, 2014; UI for auto-nScale calculation -->
                    <input type="radio" name="gm_known_nscale" value="true" checked /> I know this is the correct nScale for my system<br />
                    <input type="radio" name="gm_known_nscale" value="false" /> I want CHARMMing to estimate nScale for the target melting temperature below<br />
                    Target melting temperature (kelvins): <input type="text" name="gm_nscale_temp" width="6" value="340" />
                 </td>
              </tr>
              <tr>
                <td colspan="2" class="light_green_bg">Advanced parameters (these should be left unchanged in most cases).</td>
              </tr>
              <!--              <div id="gm_advancedparms" style="display: block;"> THis is invalid and doesn't even work. It crashes the HTML. -->
                <tr>
                  <td class="half"><b>Contact radius</b>: sets the distance<br />at which a contact is considered native.</td>
                  <td class="half"><input class="gm_input" type="text" name="gm_contactrad" value="4.5" /></td>
                </tr>
                <tr>
                  <td class="half">Bond force constant <input class="gm_input" type="text" name="gm_kbond" value="50.0" /> </td>
                  <td class="half">Angle force constant <input class="gm_input" type="text" name="gm_kangle" value="30.0" /> </td>
                </tr>

                <!-- Frank needs to give me things for form processing -->
                <tr>
                  <td class="half">&alpha;-helix 1 dihedral force constant <input class="gm_input" type="text" name="gm_kdihedralalphahelix_1" value="0.30" /></td>
                  <td class="half">&alpha;-helix 3 dihedral force constant <input class="gm_input" type="text" name="gm_kdihedralalphahelix_3" value="0.15" /></td>
                </tr>
                <tr>
                  <td class="half">310-helix 1 dihedral force constant <input class="gm_input" type="text" name="gm_kdihedral310helix_1" value="0.30" /></td>
                  <td class="half">310-helix 3 dihedral force constant <input class="gm_input" type="text" name="gm_kdihedral310helix_3" value="0.15" /></td>
                </tr>
                <tr>
                  <td class="half">helical 1 dihedral force constant <input class="gm_input" type="text" name="gm_kdihedralnohelix_1" value="0.55" /></td>
                  <td class="half">Unhelical 3 dihedral force constant <input class="gm_input" type="text" name="gm_kdihedralnohelix_3" value="0.275" /></td>
                </tr>
                <tr>
                  <td>Well depth for hydrogen bond LJ potentials:</td>
                <td>
                  &alpha;-helix <input type="text" class="gm_input" name="gm_hbondenergyalphahelix" value="-0.25" />
                                  310-helix <input type="text" class="gm_input" name="gm_hbondenergy310helix" value="-0.25" />
                                  no helix <input type="text" class="gm_input" name="gm_hbondenergynohelix" value="-0.50" />
                  </td>
                </tr>
                <tr>
                  <td class="half">Non-attractive LJ well depth <input class="gm_input" type="text" name="gm_epsilonnn" value="1e-12" /></td>
                  <td class="half">Well depth for backbone-sidechain LJ interactions <input type="text" class="gm_input" name="gm_bbscinteraction" value="-0.37" /></td>
                </tr>
           </table>
        </div>

        <div id="bln_display" class="hidden">
           <h3 class="center_header">Select segments for the BLN model</h3>
           <table class="sortable normal_border table_center" style="width:20%;">
           {% for seg in seg_list %}
              {% ifequal seg.type "pro" %}
                 <tr><td><input type="checkbox" name="bln_select_{{ seg.name }}" value="y" /></td><td>{{ seg.name }}</td></tr>
              {% endifequal %}
           {% endfor %}
           </table>

           <p>A BLN model is is based on the fact that amino acid residues generally fall into three chemical types: hydropho<b>B</b>ic,
              hydrophi<b>L</b>ic, and <b>N</b>eutral. Under this model, the type of interaction between two residues is determined by
              their chemical type. The BLN model used in CHARMMing is based on that of <a>Marrink <i>et al</i></a>
              and expanded for proteins by <a target="_blank">Bond and Sansom</a>.
              <!-- Why are those hrefs if they don't have any link they're pointing to? -->
           </p>

           <h3 class="center_header">BLN Model Parameters</h3>
           <table>
             <tr>
                <td colspan="2" class="light_green_bg">These parameters generally do not need to be adjusted.</td>
             </tr>
             <tr>
                <td class="one_third">Helix bond force constant <input type="text" name="bln_kbondhelix" value="3.50" /></td>
                <td class="one_third">Helix angle force constant <input type="text" name="bln_kanglehelix" value="8.37" /></td>
             </tr>
             <tr>
                <td class="one_third">&Beta;-sheet bond force constant <input type="text" name="bln_kbondsheet" value="3.50" /></td>
                <td class="one_third">&Beta;-sheet angle force constant <input type="text" name="bln_kanglesheet" value="8.37" /></td>
             </tr>
             <tr>
                <td class="one_third">Coil bond force constant <input type="text" name="bln_kbondcoil" value="2.50" /></td>
                <td class="one_third">Coil angle force constant <input type="text" name="bln_kanglecoil" value="5.98" /></td>
             </tr>
           </table>
        </div>
        </div>
           <input class="submit_button" type="submit" value="Submit"/>
     </form>
  </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <script type="text/javascript" src="/js/buildstruct.js"></script>
{% endblock %}
