{% extends 'html/skeleton.html' %}
{% block content %}
<script type="text/javascript">
function report_error(form,divtoupdate)
{
 $.ajax({
    async:true,
    method:"post",
    url: "/reporterror",
    data:$(form).serialize(),
    success:function(responseData){
    $(divtoupdate).html(responseData);
    }
  });
// new Ajax.Updater(divtoupdate,'/reporterror/',{method:'post', asynchronous:true, parameters:Form.serialize(form)});
  return false;
  }
</script>

<h1 class="center_header">Change Password</h1><br>
<div id='change_password_div' style="text-align:center">
<form id="changepassword_form" method="post"  action="{% url 'change-password' %}">
Old Password: <input name="oldpassword" type="password"><br>
New Password: <input name="newpassword" type="password"><br>
New Password (confirm): <input name="newpasswordconfirm" type="password"><br>
<br>

<input type="submit" value="Change Password">
</form>
</div>
{% endblock %}
