<html>
  <head>
    <!-- this is for ChemDoodle -->
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" href="/css/chemdoodle/ChemDoodleWeb.css" type="text/css">
    <script type="text/javascript" src="/js/chemdoodle/ChemDoodleWeb-libs.js"></script>
    <script type="text/javascript" src="/js/chemdoodle/ChemDoodleWeb.js"></script>
  </head>

<body>
  <div>
     <h3 align="center">ChemDoodle Visualizer</h3>
     <center>
       <script>

         // BTM -- this function can be called for debugging to ensure ChemDoodle reads
         // the molecule correctly.         
         function alertMolecule(mol) {
           var message = 'This molecule contains '+mol.atoms.length+' atoms and '+mol.bonds.length+' bonds.';
           alert(message);
         }

         var transformBallAndStick = new ChemDoodle.TransformCanvas3D('ribbonTransformer',520,520);
     //    transformBallAndStick.specs.set3DRepresentation('Ball and Stick');
         transformBallAndStick.specs.proteins_ribbonCartoonize = true;
        // This was set to false even though JSmol and GLmol both do cartoonize...why?
//         transformBallAndStick.specs.atoms_useJMOLColors = true;
         transformBallAndStick.specs.backgroundColor = 'black';
         //transformBallAndStick.specs.projectionPerspectiveWidthHeightRatio_3D = 1.5;
         //transformBallAndStick.specs.projectionPerspective_3D = false;

         var PDB  = "{{ content }}"
         var molecule = ChemDoodle.readPDB(PDB);

         transformBallAndStick.loadMolecule(molecule);
         transformBallAndStick.repaint();
       </script>
    </center>
  </div>
</body>
</html>
