<head>
    {% asset 'css' 'index' %}

    <script type="text/javascript" src="/js/tablekit/fastinit.js"></script>
    <script type="text/javascript" src="/js/tablekit/tablekit.js"></script>
    <script src="/js/ajax.js" type="text/javascript"></script>
    <script src="/js/sdmenu/sdmenu.js" type="text/javascript"></script>
    <script src="/js/tabs.js" type="text/javascript"></script>
    {% if trusted %}
     <script src="/js/trusted.js" type="text/javascript"></script>
    {% endif %}
    <script src="/js/protoculous-1.0.2-packed.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/custom.js"> </script>
    <script type="text/javascript" src="/js/emap.js"> </script>
    <script type="text/javascript" src="/js/windows2/window.js"> </script>
    <title>Drug Design Projects</title>
    <script type="text/javascript">


        function RefreshProjectInfo(codestring)
	{
	//alert (document.getElementById("gridset_name").value);
	var code = codestring + '&name=' + document.getElementById("project_name").value + '&description=' + document.getElementById("project_description").value;
	//alert (code);
	var myAjax = new Ajax.Updater('projectinfodiv', '/dd_infrastructure/updateprojectinfo/', {method: 'post', parameters: code})
	}

	function DisplayBlankForm(codestring)
	{
	//alert (document.getElementById("gridset_name").value);
	var code = codestring;
	//alert (code);
	var myAjax = new Ajax.Updater('projectinfodiv', '/dd_infrastructure/updateprojectinfo/', {method: 'post', parameters: code})
	}


</script>

</head>
<body onload="DisplayBlankForm('setid=0&action=refresh');">
<center>
<h2>Create New User Defined Grid Set</h1>
</center>
<div class='status'>

<center>
<form id="vcsmanagesetsaddnew" enctype="multipart/form-data" method="post" action="/vcsmanagesetsaddnew/">
<div name="projectinfodiv" id="projectinfodiv">
</div>


</form>
</div>
</center>
</body>





