<div id="availableligandsinsidediv" class="align_left" style="overflow:auto;">
<table class="sortable resizable full_table">
  <tr><th class="small_field"><input id="checkall" type="checkbox" name="checkall" onclick='LigandSet_CheckUncheck();'/></th>
    <th class="ligand_name_field">Ligand Name</th>
    <th class="wider_ligand_desc_field">Ligand Description</th>
    <th >View in JSmol</th>
    <th >View in GLmol</th></tr>
  <!-- Width 99% is IMPORTANT! Otherwise the table gets a scrollbar. -->
{% for ligand in available_ligands%}
<tr>
  <td class="small_field"><input id="ligandid_{{ligand.id}}" type="checkbox" name="ligandid" value="{{ ligand.id }}"/></td>
  <td class="ligand_name_field fontsmall">{{ ligand.name }}</td>
  <td class="wider_ligand_desc_field fontsmall">{{ ligand.description }}</td>
<td>
{% if ligand.file_id == 0 %}
<p>---</p>
{% else %}
<a href="javascript:getLigandJSmolView('{{ligand.file_location}}');">View</a>
{% endif %}
</td>
<td>
{% if ligand.file_id == 0 %}
<p>---</p>
{% else %}
<a href="#" onclick="window.open('/dd_substrate/viewligandglmol/{{ligand.file_id}}/', 'View Ligand', 'height=700, width=700');">View</a>
{% endif %}
</td>
</tr>
{% endfor %}
</table>
</div>
