<html>
<head>
    {% asset 'css' 'index' %}

    <script type="text/javascript" src="/js/protoculous-1.0.2-packed.js"></script>
    <script type="text/javascript" src="/js/tablekit/fastinit.js"></script>
    <script type="text/javascript" src="/js/tablekit/tablekit.js"></script>
    <script type="text/javascript" src="/js/greybox/AJS.js"></script>
    <script type="text/javascript" src="/js/greybox/AJS_fx.js"></script>
    <script type="text/javascript" src="/js/greybox/gb_scripts.js"></script>
    <script type="text/javascript" src="/js/custom.js"> </script>
    <script src="/js/tabs.js" type="text/javascript"></script>
</head>
<body>
<table class="sortable resizable" width=100%>
<tr><th align="left" width="50"><input id="checkall" type="checkbox" name="checkall" onclick='CheckUncheck();'/></th><th align="left" width="200">Ligand Name</th><th align="left" width="400">Ligand Description</th></tr>
</table>
<div name="availableligandsinsidediv" id="availableligandsinsidediv" style="overflow:auto;width:99%;height:158px;border:0px solid #336699;padding-left:5px;text-align:left">

<table class="sortable resizable" width=100%>


{% for ligand in available_ligands%}
<tr>
	      <td width="50"><input id="ligandid" type="checkbox" name="ligandid" value="{{ ligand.id }}"/></td><td width="200"><font size="2" align="left">{{ ligand.name }}</font></td><td width="400"><font size="2">{{ ligand.description }}</font></td>
</tr>
{% endfor %}

</table>
</div>
