{% extends 'html/skeleton.html' %}
{%block jsmol_scripts %}
  <link rel="stylesheet" href="/css/atomselect_visualize.css" />
  <script type="text/javascript" src="/js/jsmol/JSmol.min.js"></script>
  <script type="text/javascript" src="/js/visualization.js"></script>
{%endblock%}
{% block content %}
  <h1 class="center_header">Visual Binding Site Selection</h1>
  <br />
<div id="jsmol">
  <div id="jsmol_window">
    {%include 'html/jsmol_initialize.html' %}
    <script>
      jmolApplet = Jmol.getApplet("jmolApplet", Info);
      Jmol.script(jmolApplet,  "load /pdbuploads/{{filepath}};select all and not [TIP];cartoons on;cpk 0;"+
      "wireframe 0;color structure;slab off; spin off; trace off; set ambient 40; set specpower 40;select none;set picking group;selectionhalos on;");
      Jmol.script(jmolApplet, "select none;selectionhalos on;");
     </script>
     <br />
     {%include "html/display_options.html" %}
  </div>
<!-- we leave this one in such that we can create error boxes later. May replace these with foundation.js boxes in future?
  <div id="dialog_long_link" title="Bad link atom">
    <p><span class="ui-icon ui-icon-alert" style="float:left;margin: 0 auto auto 0;"></span>
    The MM host you selected is over 2 Å from the QM host attached to it. Please cut across a C-C bond on that QM host.</p>
  </div>
  -->
 <!-- Buttons go under "atomselect_buttons" div, buttons themselves go in "selectbuttons" div class
  TODO: "grey out" buttons if certain conditions are not met (i.e. no chains, therefore grey out chain button -->
  <h1>Atom Selection Options</h1>
  <hr />
  <div id="atomselect_buttons">
    {%comment%} outermost layer goes first, then the other ones down to 1.{%endcomment%}
    <h2>Select by: </h2>
    <button class="atomselectbutton" id="residue">Residue</button>
    <button class="atomselectbutton" id="reset">Reset Selection</button>
    <button class="atomselectbutton" id="no_buried">Remove "Buried" residues from selection</button>
    <br>
    <label>Radius of selection:<input type="text" id="sel_radius" /></label><br>
    <button class="atomselectbutton" id="compile_res" >Compile residue List using radius</button>
    <button class="atomselectbutton" id="compile_norad" >Compile residue List without radius</button>
    <hr>
  </div>
  <div class="atom_form">
  <form id="atomselect_form" method="post" action="{% url 'ddi-binding' %}" enctype="multipart/form-data"> <!-- change the return false later -->
    <table>
      <tr><td>Residues selected:</td><td><input type="text" name="residue_selection" id="res_select" value="" /></td></tr>
      <tr><td>Name your binding site:</td><td><input type="text" name="binding_name" value="" /></td></tr><br>
    </table>
      <button id="submit_button" type="button">Submit your residue selection</button> <br>

  </form>
  </div>
  </div>
<script type="text/javascript" src="/js/ddbindingsite.js"></script>
{% endblock %}
