{% extends "html/skeleton.html" %}
{%block extra_scripts %}
<script type="text/javascript" src="/js/qtip/jquery.qtip.js"></script>
<!-- <link rel="stylesheet" type="text/css" media="all" href="/js/qtip/jquery.qtip.css" /> -->
{%endblock%}
{%block jsmol_scripts%}
<script type="text/javascript" src="/js/jsmol/js/JSmolCore.js"></script>
<script type="text/javascript" src="/js/jsmol/js/JSmolApplet.js"></script>
<script type="text/javascript" src="/js/jsmol/js/JSmolApi.js"></script>
<script type="text/javascript" src="/js/jsmol/js/j2sjmol.js"></script>
<script type="text/javascript" src="/js/jsmol/js/JSmol.js"></script>
{%endblock%}
{% block content %}
<div id="mainpage">
  <p {%if message_color %}style="color:{{message_color}}"{%endif%}><strong>{{message}}</strong></p>
  <table  class="sortable resizable normal_border" style="background-color:#eeeee0;" >
  {% for tarfile in tarfiles %}
   <tr>
     <td><a href="/dd_infrastructure/downloadfile/{{tarfile.id}}">{{ tarfile.name }}</a></td>
   </tr>
  {% endfor %}
  </table>

  <form id="dsfform" enctype="multipart/form-data" method="post" action="{% url 'ddi-dsf-form' %}">
    <h2 class="center_header">Submit Docking Job</h2>
    <h3 class="center_header">Working structure: {{ ws_identifier }}</h3>

  {% include "html/taskfiles.html" %}

  {%comment%}<!--<h3>Select Target Conformation(s)</h1><br>Only Targets Belonging to the Current Project are Shown-->{%endcomment%}
  <p {%if message_color%}style="color:{{message_color}};"{%endif%} class="fontsmall"><strong>{{message}}</strong></p>

    {% include "html/anativefiles.html" %}
<h3 class="center_header">Select Ligands to Dock</h3>
<div class='status'>
<p>Select Grid Set:
<select name="ligandsets" id="ligandsets">
{% for set in existingsets %}
<option value='{{ set.id }}'>{{set.name}} ({{set.ligand_count}} ligands)</option>
{% endfor %}
</select></p>
<div id="ligandsdiv" class="full_table align_left" style="overflow:auto;height:300px;border:1px solid #336699;padding-left:5px;">
</div>
<hr class="noshade_hr">
       <br/>
<div id="estimatediv">
</div>

       <p class="center_header">Please enter a short description for this job<br>
       <input type="text" name="job_description" id="job_description"/><br><br>
       <input type="submit" value="Submit Docking Job"/>
       </p>
       <br>
       <br>

<script type="text/javascript">
  $("#ligandsets").on("change", function(event){
      RefreshDSFLigands();
    });
   RefreshDSFLigands();
</script>
</div>
</form>
<!-- Incoming code is generic for implementing JSmol modal windows -->
<div class="hidden" id="jsmol_test">
  <script>
    var jmolApplet;
    jmol_isReady = function(applet){
      console.log("test");
    }


    var Info = {
        width: "500",
        height: "500",
        debug: false,
        color: "black",
        use: "HTML5",
        j2sPath: "/js/jsmol/j2s",
        readyFunction: null,
        script: "set antialiasDisplay;",
        disableJ2SLoadMonitor:true,
        disableInitialConsole:true
      }
      jmolApplet = Jmol.getApplet("jmolApplet",Info);
  </script>
</div>

<script>
  $("#jmolApplet_appletinfotablediv").attr("title","JSmol modal test");
  $(function($){
    $("#jmolApplet_appletinfotablediv").dialog({
      resizable:true,
      height:600,
      width:600,
      modal:true,
      autoOpen:false,
      buttons:{
        "OK":function(){
          $(this).dialog("close");
        }
    }
  });
});

  $("#ligandsdiv").ready(function()
  {
    $("#ligandtable").jqTableKit("init");
  });

</script>
</div>
{% endblock %}





