<table id="ligandtable" class="sortable resizable fontsmall align_left" style="width:99%;height:260px;padding-left:5px;">
<tr><th class="align_left" style="width:170px;">Ligand Name</th>
    <th class="ligand_desc_field">Ligand Description</th>
    <th class="file_desc_field">File Description</th>
    <th class="align_left" style="width:95px">3D</th>
    <th class="align_left" style="width:37px"><input id="dsfligandscheckall" type="checkbox" name="dsfligandscheckall" onclick='DSFLigands_CheckUncheck();'></th></tr>
{% for ligand in ligands %}
<tr><td class="name_field">{{ ligand.name }}</td>
  <td class="desc_header">{{ ligand.description }}</td>
	    {% for ligand_file_object in ligand.file_objects_list %}
	       {% if ".mol2" in ligand_file_object.file.file_name %}
         <td class="small_table">{{ ligand_file_object.file.description}}</td>
           <td class="ligand_viewbutton"><a href="javascript:getLigandJSmolView('{{ligand_file_object.file.file_location}}{{ligand_file_object.file.file_name}}');">View</a></td>
          <td class="ligand_checkbox"> <input id="id_ligand_file_{{ligand_file_object.file.id}}" class="id_ligand_file" type="checkbox" name="ligand_{{ligand_file_object.file.id}}" onchange="getCheckedDSFLigands();"/> </td></tr>
	       {% endif %}
            {% endfor %}	
          </td>
</tr>
{% endfor %}  
</table>

  
