<form id="insideligandsetform" enctype="multipart/form-data" method="post" action="/dd_substrate/updateligandsetinfo/">
<p {%if messagecolor%}style="color:{{ messagecolor }}"{%endif%}>{{ message }}</p>
<table class="table_center" style="width:78%;">
 <tr>
<td>Ligand Set Name:<br>
       <input type="text" name="name" id="ligandset_name" value="{{ ligand_set.ligand_set_name }}"size="30"></input></td>
<td>Ligand Set Description:<br>
       <textarea name="description" id="ligandset_description" cols=50 rows=3>{{ ligand_set.description }}</textarea>
</td>
</tr>
</table>
<!--<button type="button" onclick="CheckRedirect();">Update Project Info</button>-->
<p class="center_header">
<button type="button" onclick="RefreshLigandSetInfo({{ligand_set.id}},'update',$('#insideligandsetform').serializeArray());">Update Set Info</button><br><br>
{% ifequal message "Ligand Set was successfully created" %}
<a href="/dd_substrate/ligandsetdetails/{{ligand_set.id}}" title="Add Ligands to this Set"><p class="fontmed">Add Ligands to this Set</p></a>
{% endifequal %}
</p>
<!--<input type=submit id="submitAddNewSet" name="submitAddNewSet" value="Save New Set" onClick="CheckRedirect();"></input>-->
</form>

