{% extends "html/skeleton.html" %}
{% block content %}
<div id="mainpage">
<h2 class="center_header">Ligand Upload</h2>
<p class="center_header">All Fields are Required</p>
     <form id='submit_structure' enctype="multipart/form-data" method="post" action="/dd_substrate/ligandfileupload/">
      <fieldset class="structure table_center">
         <legend class="login">Submit Structure</legend>

		<div id='ligand_upload'>
		<p>
		<table class="full_table table_center">
		<tr><td>Ligand File<br> (mol2 format)</td><td> {{ form.ligand_file }} {{ form.ligand_file_file }}</td></tr>
                <tr><td colspan="2" class="center_header">
                      Choose atomtyping option:<br>
                      <select name="tpmeth">
                        <option value="autogen">Attempt to automatically generate parameters</option>
                        {% if seg.fes4 %}
                           <option value="redox">Use only for REDOX calculations</option>
                        {% endif %}
                        {% if super_user %}
                           <option value="dogmans">Force Dogmans</option>
                           <option value="match">Force MATCH</option>
                           <option value="antechamber">Force Antechamber</option>
                           <option value="genrtf">Force GENRTF</option>
                        {% endif %}
                      </select>
                </td></tr>
		</table>
		</div>
		<div id='ligand_draw' class="hidden">

            	</div>
		<table><tr><td><label for="filedesc"> File Description </label></td><td><input type="text" name="filedesc" id="filedesc"></td></tr></table>
<!--		<div id='new_existing' style="display:none">
		<font size="3">Is this new or existing ligand?<br></font>
		<font size="2">New<input type="radio" name="new_existing_option" id="new_ligand" value="new_ligand" onclick="LoadNewLigand()">
		Existing<input type="radio" name="new_existing_option" id="existing_ligand" value="existing_ligand" onclick="LoadExistingLigand()">
	 	</font>
		</div>
-->
		<div id='newliganddiv'>
		  <table>
                     <tr><td><label for="id_pdbcode"> Ligand PDB Code </label></td><td><input type="text" name="pdbcode" id="id_pdbcode"></td></tr>
		     <tr><td><label for="ligandname"> Ligand Name </label></td><td><input type="text" name="ligandname" id="ligandname"></td></tr>
		     <tr><td><label for="liganddescription"> Ligand Description </label></td><td><textarea name="liganddescription" id="liganddescription" rows="3" cols="50"></textarea></td></tr>
		  </table>
		</div>
<!--		<div id='existingliganddiv' name='existingliganddiv' style="display:none">
		</div>
-->


      </fieldset>

      <hr>
     <div id="savedrawing">
     </div>

      <div id="file_button" class="center_header"><input type="submit" id="btn_file" value="Submit Structure File"></div>

   </form>
</div>

{% endblock %}
