{% extends "html/skeleton.html" %}

{% block content %}
<script type="text/javascript">
   DisplayBlankLigandForm();
</script> 
<h1 class="center_header">Create Ligand Set</h1>
<div class='status'>

<div id="ligandsetinfodiv" class="center_header">
</div>


</div>

{% endblock %}
