<html>
<head>
  {% asset 'css' 'index' %}
  <script type="text/javascript" src="/js/custom.js"> </script>
</head>
<body>
<center>
    <select id='existingligand' name='existingligand'>
    {% for ligand in ligandlist %}
      <option value="{{ ligand.id }}">{{ ligand.ligand_owner_index }} - {{ ligand.ligand_name }}</option>
    {% endfor %}
  </select>
</center>
</body>
</html>
