<html>
<head>
  {% asset 'css' 'index' %}
  <script type="text/javascript" src="/js/custom.js"> </script>
	 <script type="text/javascript">



</script>
</head>
<body>

<table class="sortable" width="100%" border="0">
<tr><td colspan="4"><font size="2">Ligands: {{ ligandcount }}</font></td>
<tr><th align="left" width="50"><input id="setcheckall" type="checkbox" name="setcheckall" onclick='SetCheckUncheck();'/></th><th align="left" width="400">Ligand Name</th><th align="left" width="200">Ligand Description</th></tr>
</table>
<div name="setligandsinsidediv" id="setligandsinsidediv" style="overflow:auto;width:99%;height:155px;border:0px solid #336699;padding-left:5px;text-align:left">
<table class="sortable" width="100%" border="0">
{% for setligand in setligands %}
<tr>
	      <td width="50"><input id="set_ligand_id" type="checkbox" name="set_ligand_id" value="{{ setligand.id}}"/></td><td width="400"><font size="2">{{ setligand.ligands.ligand_name}}</font></td><td width="200"><font size="2">{{ setligand.ligands.description }}</font></td>
</tr>
{% endfor %}

</table>
</div>
</body>
</html>
