<table class="sortable" style="width:100%;margin-left:auto;margin-right:auto;">
<tr><td colspan="4"><p class="fontsmall">Conformations:</p></td>
  <tr><th style="text-align:left;width:50px"><input id="setcheckall" type="checkbox" name="setcheckall" onclick='SetCheckUncheck();'/></th>
    <th style="text-align:left;width:400px">Conformation Name</th>
    <th style="text-align:left;width:200px">Target PDB Code</th></tr>
</table>
<div id="projectconformationsinsidediv" style="overflow:auto;width:99%;height:155px;border:0px solid #336699;padding-left:5px;text-align:left">
<table class="sortable" style="width:100%;">
{% for conformation in conformations %}
<tr>
  <td style="width:50px"><input id="project_conformation_id" type="checkbox" name="project_conformation_id" value="{{ conformation.project_conformation_id}}"/></td>
  <td style="width:400px"><p class="fontsmall">{{ conformation.conformation_name}}</p></td>
  <td style="width:200px"><p class="fontsmall">{{ conformation.protein_pdb_code }}</p></td>
</tr>
{% endfor %}

</table>
</div>
