<form id="insideprojectform" enctype="multipart/form-data" method="post" action="/dd_infrastucture/updateprojectinfo/">
<font color="{{ messagecolor }}">{{ message }}</font>
<table width=78% align="center">
 <tr>
<td valign="top">Project Name:<br>
       <input type="text" name="project_name" id="project_name" value="{{ project.project_name }}"size="30"></input></td>
<td>Project Description:<br>
       <textarea name="project_description" id="project_description" cols=50 rows=3>{{ project.description }}</textarea>
</td>
</tr>
</table>
<!--<button type="button" onclick="CheckRedirect();">Update Project Info</button>-->
<button type="button" onclick="RefreshProjectInfo({{project.id}},'update');">Update Project Info</button><br><br>
{% ifequal message "Project was successfully created" %}
<a href="/dd_infrastructure/projectdetails/{{project.id}}" title="Add Target to this Project" ');"><font size="3">Add Target to this Project</font></a>
{% endifequal %}
<!--<input type=submit id="submitAddNewSet" name="submitAddNewSet" value="Save New Set" onClick="CheckRedirect();"></input>-->
</form>


