{% extends "html/skeleton.html" %}

{% block content %}
<div id="mainpage">
  <link href="/css/custom.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript">
window.onload = function() {
   DisplayBlankForm();
}
</script> 
<center>
<h2>Create Project</h1>
</center>
<div class='status'>

<center>
<form id="ddprojectsaddnew" enctype="multipart/form-data" method="post" action="/dd_infrastructure/projectsaddnew/">
<div name="projectinfodiv" id="projectinfodiv">
</div>


</form>
</div>
</center>

{% endblock %}





