<div id="setligandsinsidediv" style="overflow:auto;border:0px solid #336699;text-align:left">
<table class="full_table">
  <tr><td class="fontsmall" colspan="4">Ligands: {{ ligandcount }}</td>
</table>
<table id="setligandsinsidetable" class="sortable full_table">
  <tr><th class="small_field"><input id="setcheckall" type="checkbox" name="setcheckall" onclick='LigandSet_SetCheckUncheck();'/></th>
    <th class="ligand_name_field">Ligand Name</th>
    <th class="wider_ligand_desc_field">Ligand Description</th>
    <th class="center_header">View in JSmol</th>
    <th class="center_header">View in GLmol</th></tr>
{% for setligand in setligands %}
<tr>
  <td class="small_field"><input id="set_ligand_id_{{setligand.ligandsetid}}" type="checkbox" name="set_ligand_id" value="{{ setligand.ligandsetid}}"/></td>
  <td class="ligand_name_field fontsmall">{{ setligand.name}}</td>
  <td class="wider_ligand_desc_field fontsmall">{{ setligand.description }}</td>
  <td class="align_left small_field">
{% if setligand.file_id == 0 %}
---
{% else %}
<a href="javascript:getLigandJSmolView('{{setligand.file_location}}');">View</a>
{% endif %}
</td>
  <td class="center_header small_field">
{% if setligand.file_id == 0 %}
---
{% else %}
  <a href="javascript:window.open('/dd_substrate/viewligandglmol/{{setligand.file_id}}/', 'View Ligand', 'height=700, width=700');">View</a>
{% endif %}
</td>
</tr>
{% endfor %}

</table>
</div>
