<html>
<head>
<link rel="stylesheet" type="text/css" media="all" href="/css/tablekit/tablestyle.css" />
<link href="/css/tabs.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/js/protoculous-1.0.2-packed.js"></script>
<script type="text/javascript" src="/js/tablekit/fastinit.js"></script>
<script type="text/javascript" src="/js/tablekit/tablekit.js"></script>
    <script type="text/javascript" src="/js/greybox/AJS.js"></script>
    <script type="text/javascript" src="/js/greybox/AJS_fx.js"></script>
    <script type="text/javascript" src="/js/greybox/gb_scripts.js"></script>
    <script type="text/javascript" src="/js/custom.js"> </script>
    <script src="/js/tabs.js" type="text/javascript"></script>
    <link href="/css/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	 <script type="text/javascript">
	
	
	
</script>
</head>

<form id="insideligandsetform" enctype="multipart/form-data" method="post" action="/dd_substrate/updateligandsetinfo/">
<font color="{{ messagecolor }}">{{ message }}</font>
<table width=78% align="center">
 <tr>
<td valign="top">Ligand Set Name:<br>
       <input type="text" name="set_name" id="set_name" value="{{ ligandset.ligand_set_name }}"size="30"></input></td>
<td>Ligand Set Description:<br>
       <textarea name="set_description" id="set_description" cols=50 rows=3>{{ ligandset.description }}</textarea>
</td>
</tr>
</table>
<!--<button type="button" onclick="CheckRedirect();">Update Project Info</button>-->
<button type="button" onclick="RefreshSetInfo();">Update Set Info</button><br><br>
{% ifequal message "Ligand Set was successfully created" %}
<a href="/dd_substrate/ligandsetdetails/{{ligandset.id}}" title="Add Ligands to this Set" ');"><font size="3">Add Ligands to this Set</font></a>
{% endifequal %}
<!--<input type=submit id="submitAddNewSet" name="submitAddNewSet" value="Save New Set" onClick="CheckRedirect();"></input>-->
</form>
</div>

