<head>
<link rel="stylesheet" type="text/css" media="all" href="/css/tablekit/tablestyle.css" />
    <script type="text/javascript" src="/js/tablekit/fastinit.js"></script>
    <script type="text/javascript" src="/js/tablekit/tablekit.js"></script>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/tabs.css" rel="stylesheet" type="text/css" />
    <link href="/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="/css/sdmenu/sdmenu.css" rel="stylesheet" type="text/css" />
    <script src="/js/ajax.js" type="text/javascript"></script>
    <script src="/js/sdmenu/sdmenu.js" type="text/javascript"></script>
    <script src="/js/tabs.js" type="text/javascript"></script>
    {% if trusted %}
     <script src="/js/trusted.js" type="text/javascript"></script>
    {% endif %}
    <script src="/js/protoculous-1.0.2-packed.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/custom.js"> </script>
    <script type="text/javascript" src="/js/emap.js"> </script>
    <script type="text/javascript" src="/js/windows2/window.js"> </script>
    <title>Ligand Set Details</title>
    <script type="text/javascript">
    
    function getCheckedAvailableLigandIds()
    {
      var nodes=document.getElementsByName("availableligandsdiv")[0].childNodes;
      var checkedvalues="";
      for(i = 0;i < nodes.length;++i)
        if(nodes[i].id=="availableligandsinsidediv"){
        var checkboxes = nodes[i].getElementsByTagName('input');
        //alert(checkboxes.length);
        for(j = 0;j < checkboxes.length;++j){
            //alert(checkboxes[j].value + ' ' + checkboxes[j].checked);
            //alert("j " + j);
            if (checkboxes[j].checked){
            if (checkedvalues=='') {
                   checkedvalues=checkboxes[j].value;
                   
            }
            else {
               checkedvalues=checkedvalues + ',' + checkboxes[j].value;
            }
            //alert(checkedvalues);
            }
        }
        }
      //alert(checkedvalues);
      return checkedvalues;
    }

    function getCheckedSetLigandIds()
    {
      var nodes=document.getElementsByName("setligandsdiv")[0].childNodes;
      var checkedvalues="";
      for(i = 0;i < nodes.length;++i)
        if(nodes[i].id=="setligandsinsidediv"){
        var checkboxes = nodes[i].getElementsByTagName('input');
        //alert(checkboxes.length);
        for(j = 0;j < checkboxes.length;++j){
            //alert(checkboxes[j].value + ' ' + checkboxes[j].checked);
            //alert("j " + j);
            if (checkboxes[j].checked){
            if (checkedvalues=='') {
                   checkedvalues=checkboxes[j].value;
                   
            }
            else {
               checkedvalues=checkedvalues + ',' + checkboxes[j].value;
            }
            //alert(checkedvalues);
            }
        }
        }
      return checkedvalues;
    }

  function AddLigands()
    {
    RefreshSetLigands(getCheckedAvailableLigandIds(),'');
    //var code = 'ptid=' + $("protein_types").getValue();
    //var myAjax = new Ajax.Updater('availableconformationsdiv', '/updatemanagesetsgrids/', {method: 'post', parameters: code})
    }

  function RemoveLigands()
    {
  //alert (getCheckedProjectConformationsIds());
    RefreshSetLigands('',getCheckedSetLigandIds());
    //var code = 'ptid=' + $("protein_types").getValue();
    //var myAjax = new Ajax.Updater('availableconformationsdiv', '/updatemanagesetsgrids/', {method: 'post', parameters: code})
    }
  
  function RefreshSetInfo()
    {
    var code = '&name=' + document.getElementById("set_name").value + '&description=' + document.getElementById("set_description").value;
    var myAjax = new Ajax.Updater('setinfodiv', '/dd_substrate/updateligandsetinfo/{{set_id}}/update/', {method: 'post', parameters: code})
    }
    
  function DisplaySetInfo()
    {
    //alert (document.getElementById("gridset_name").value);
    //var code = codestring;
    //alert (code);
    var myAjax = new Ajax.Updater('setinfodiv', '/dd_substrate/updateligandsetinfo/{{set_id}}/refresh/', {method: 'post'})
    }
    
  function RefreshAvailableLigands()
    {
    //alert ($("targets").getValue());
    //var code = "protein_id=" + $("targets").getValue() + "&setid=" + $("targets").getValue();
    //alert ('/dd_substrate/setavailableligands/'+$("sets").getValue()+'');
    var myAjax = new Ajax.Updater('availableligandsdiv', '/dd_substrate/setavailableligands/'+$("sets").getValue()+'', {method: 'post'})
    //var myAjax = new Ajax.Updater('availableconformationsdiv', 'www.google.com', {method: 'post'})
  }

    
  function RefreshSetLigands(addedids,removedids)
    {
    //alert (document.getElementById("Receptor").value);
    //var code = "project_id={{ project_id }}&addedids=" + addedids + "&removedids=" + removedids;
        //var code = 'ptid=' + $("protein_types").getValue();
    //alert('/dd_infrastructure/projectconformations/{{project_id}}/'+addedids+'/'+removedids);
    var myAjax = new Ajax.Updater('setligandsdiv', '/dd_substrate/setligands/{{set_id}}/'+addedids+'/'+removedids+'/', {method: 'post'})

    //alert(document.getElementById('conformations').style)
    }

    function CheckUncheck()
    {

       if ( document.forms['setdetail'].elements['ligandid'].length )
       {
          for (var x = 0; x < document.forms['setdetail'].elements['ligandid'].length; x++)
          {
         if (document.forms['setdetail'].elements['checkall'].checked)
         {
            document.forms['setdetail'].elements['ligandid'][x].checked = true;   
         }
         else
         {
            document.forms['setdetail'].elements['ligandid'][x].checked = false;
         }
         
          }
       }
       else
       {
          if (document.forms['setdetail'].elements['checkall'].checked)
          {
         document.forms['setdetail'].elements['ligandid'].checked = true;            
          }
          else
          {
         document.forms['setdetail'].elements['ligandid'].checked = false;
          }
       }
    }

    function SetCheckUncheck()
    {

       if ( document.forms['setdetail'].elements['set_ligand_id'].length )
       {
          for (var x = 0; x < document.forms['setdetail'].elements['set_ligand_id'].length; x++)
          {
         if (document.forms['setdetail'].elements['setcheckall'].checked)
         {
            document.forms['setdetail'].elements['set_ligand_id'][x].checked = true;   
         }
         else
         {
            document.forms['setdetail'].elements['set_ligand_id'][x].checked = false;
         }
         
          }
       }
       else
       {
          if (document.forms['setdetail'].elements['setcheckall'].checked)
          {
         document.forms['setdetail'].elements['set_ligand_id'].checked = true;            
          }
          else
          {
         document.forms['setdetail'].elements['set_ligand_id'].checked = false;
          }
       }
    }
    function CheckRedirect()
    {
      alert (document.getElementById("ligandset_name").value);
    }
       
    
</script>
    
</head>
<body onload="DisplaySetInfo();RefreshAvailableLigands();RefreshSetLigands(0,0);">
<center>
<h2>Ligand Set Details</h1>
</center>
<div class='status'>

<center>
<form id="setdetail" enctype="multipart/form-data" method="post" action="/dd_substrate/ligandsetdetails/">
<div name="setinfodiv" id="setinfodiv">
</div>
<table>
<tr>
<td>
<font size="2">Use Existing Sets:</font>
<select name="sets" id="sets" onChange="RefreshAvailableLigands();">
{% for set in existingsets %}
<option value='{{ set.id }}'>{{set.name}} ({{set.ligand_count}} ligands)</option>
{% endfor %}
</select>
</td>
</tr>
<tr><td colspan=2>
<div name="availableligandsdiv" id="availableligandsdiv" style="overflow:auto;width:100%;height:200px;border:1px solid #336699;padding-left:5px;text-align:left">
</div>
</td></tr></table>
<table width=83% align="center">
<tr>
<td align="center"><button type="button" onclick="AddLigands();">Add Selected Ligands to this Set</button></td>
<td align="center"><button type="button" onclick="RemoveLigands();">Remove Selected Ligands from this Set</button></td>
</tr>
<td colspan=2 align=center>
<font size="3">Ligands Belonging to This Set</font></td></tr>
<tr>
<td colspan=2 align=center>
<div name="setligandsdiv" id="setligandsdiv" style="overflow:auto;width:100%;height:230px;border:1px solid #336699;padding-left:5px;text-align:left">
</div>
</td></tr>
</table>

</form>
</div>
</center>
</body>





