<head>
<link href="/css/custom.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="/js/custom.js"> </script>
<script type="text/javascript" src="/js/BubbleTooltips.js"> </script>
<link href="/css/bt.css" rel="stylesheet" type="text/css"/>
<script src="/js/protoculous-1.0.2-packed.js" type="text/javascript"></script>




<script type="text/javascript">
var last_option_id ="";

function setOptionId(div)
{
 last_option_id = div.id;
}

function doOnLoad()
{
 enableTooltips();
}

function LoadExistingTarget()
{

  setVisible('existingtargetdiv',"block");
  setVisible('newtargetdiv',"none");
  new Ajax.Updater('existingtargetdiv', '/dd_target/viewtargetdropdown/', {method: 'post'})

}

function LoadNewTarget()
{

  setVisible('existingtargetdiv',"none");
  setVisible('newtargetdiv',"block");

}

//This swaps two words separated by an underscore
//example: bob_pdb is returned as pdb_bob
//this is done because the form ID is the inverse
//of the div_id it controls
//upload_pdb controls pdb_upload
function getChoiceDiv(div_id)
{
 var re =  /[a-z]*/;
 var first_part = re.exec(div_id);
 var re2 = /_[a-z]*/;
 var second_part = re2.exec(div_id);
 second_part[0] = second_part[0].replace(/[_]/,'');
 new_div = second_part[0] + "_" + first_part[0];
 return new_div;
}

//displays the div_id sent to it, specially designed for
//fileuploadform page
function displayFields(div_id)
{


setVisible("new_existing","block");

if (div_id=='target_draw'){
	var myAjax = new Ajax.Updater('target_draw', '/vcstargetdraw/', {method: 'post'})

        setVisible("target_upload","none");
        setVisible("target_draw","block");
        setVisible("file_button","none");
        setVisible("draw_button","block");
	}
   if (div_id=='target_upload'){

        setVisible("target_upload","block");
        setVisible("target_draw","none");
        setVisible("file_button","block");
        setVisible("draw_button","none");
	}

}

{% ifequal lessonuser 1 %}
  //This gets the lesson value then passes it to the parent
  function getLessonValue()
  {
    return document.getElementById("lesson").value;
  }
{% endifequal %}

//This is needed otherwise the radio button selection moves
//to the replace/append under topology/parameter
//I'm assuming it's a javascript shortcoming
function leavecheck()
{
 field.checked = true;
}
</script>

</head>
<body bgcolor=#FFFFFF onload="doOnLoad();">
   <center>
   <div>
      <h2>Submit Molecule of Interest (target)</h1>
      <hr width="50%">
   </div>
<div id="app">
</div>

   
   <form id="choose_options">
      <table cellspacing="4" cellpadding="7">
         
         <tr>
            <td><p class="fontlarge">Upload my own target file</p></td><td> <input type="radio" name="submit_structure_option" id="upload_target" onclick="displayFields('target_upload');setOptionId(this);"></td>
         </tr>
      </table>
   </form>
     <form id='submit_structure' enctype="multipart/form-data" method="post" action="/dd_target/targetfileupload/">
      <fieldset class="structure">
         <legend class="login">Submit Structure</legend>
            
		<div id='target_upload' style="display:none">
		<p>
		<table>
		<tr><td><label for="id_target"> Target PDB File Uploader </label></td><td> {{ form.target_file }} {{ form.target_file_file }}</td></tr>
		</table>
        <table>
		<tr><td><label for="id_psf_target"> Target PSF File Uploader </label></td><td> {{ form.psf_target_file }} {{ form.psf_target_file_file }}</td></tr>
		</table>
		</div>
		<div id='target_draw' style="display:none">

            	</div>
		<table><tr><td><label for="targetname"> File Description </label></td><td><input type="text" name="filedesc" id="filedesc"></input></td></tr></table>
		<div id='new_existing' style="display:none">
		<font size="3">Is this new or existing target?<br></font>
		<font size="2">New<input type="radio" name="new_existing_option" id="new_target" onclick="LoadNewTarget()">
		Existing<input type="radio" name="new_existing_option" id="existing_target" onclick="LoadExistingTarget()">
	 	</font>
		</div>
		<div id='newtargetdiv' name='newtargetdiv' style="display:none">
		  <table>
                     <tr><td><label for="pdbcode"> Target PDB Code </label></td><td><input type="text" name="pdbcode" id="id_pdbcode"></input></td></tr>
		     <tr><td><label for="targetname"> Target Name </label></td><td><input type="text" name="targetname" id="targetname"></input></td></tr>
		     <tr><td><label for="targetdescription"> Target Description </label></td><td><textarea name="targetdescription" id="targetdescription" rows="3" cols="50"></textarea></td></tr>
		  </table>
		</div>
		<div id='existingtargetdiv' name='existingtargetdiv' style="display:none">
		</div>
	    
            
            
      </fieldset>

      <hr>
     <div name="savedrawing" id="savedrawing">
     </div>
     
      <div id="file_button" style="display:none"><input type="submit" id="btn_file" value="Submit Structure File"></div>
            
   </form>
</center>
</body>
</html>

