<html>
<head>
  <link href="/css/custom.css" rel="stylesheet" type="text/css" />
  <link href="/css/tabs.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/js/custom.js"> </script>
</head>
<body>
<center>
    <select id='existingtarget' name='existingtarget'>
    {% for protein in targetlist %}
      <option value="{{ protein.id }}">{{ protein.protein_owner_index }}. {{ protein.pdb_code }} - {{ protein.protein_name }}</option>
    {% endfor %}
  </select>
</center>
</body>
</html>
