<h3 class="center_header">Results</h3> 
<table  class="sortable resizable" border="1" style="background-color:#eeeee0;width=100%;" >
  <tr><th>Rank</th>
    <th style="text-align:center;width:50px">Ligand Name</th>
    <th style="text-align:center;width:50px">Median Rank</th>
    <th style="text-align:center;width:50px">CHARMM Energy</th>
    <th style="text-align:center;width:50px">CHARMM Rank</th>
    <th style="text-align:center;width:50px">SEED Score</th>
    <th style="text-align:center;width:50px">SEED Rank</th>
    <th style="text-align:center;width:50px">FFLD Score</th>
    <th style="text-align:center;width:50px">FFLD Rank</th>
    <th style="text-align:center;width:50px">Download File</th>
    <th style="text-align:center;width:50px">View File</th>
    <th style="text-align:center;width:50px">View Pose</th></tr>
{% for pose in result_poses %}
	<tr>
    <td style="text-align:center;width:50px">{{ pose.rank }}</td>
    <td style="text-align:center;width:250px">{{ pose.ligand_name }}</td>
    <td style="text-align:center;width:50px">{{ pose.median_rank|floatformat:"0" }}</td>
    <td style="text-align:center;width:50px">{{ pose.charmm_score }}</td>
    <td style="text-align:center;width:50px">{{ pose.charmm_rank|floatformat:"0" }}</td>
    <td style="text-align:center;width:50px">{{ pose.seed_score }}</td>
    <td style="text-align:center;width:50px">{{ pose.seed_rank|floatformat:"0" }}</td>
    <td style="text-align:center;width:50px">{{ pose.ffld_score }}</td>
    <td style="text-align:center;width:50px">{{ pose.ffld_rank|floatformat:"0" }}</td>
    <td style="text-align:center;width:120px"><a href="/dd_infrastructure/downloadfile/{{pose.file_id}}">Download File</a></td>
    <td style="text-align:center;width:80px"><a target = "_blank" href="/dd_infrastructure/viewfile/{{pose.file_id}}">View File</a></td>
    <td style="text-align:center;width:80px"><a href="#" onclick="window.open('/dd_infrastructure/viewresultpose/{{pose.file_id}}/{{job.job_scheduler_id}}/', 'View Pose', 'height=700, width=700');">View Pose</a></td>
	</tr>
{% endfor %}
</table>

