{% extends "html/skeleton.html" %}

{% block content %}
<h1 class="center_header">View User Defined Ligand Sets</h1>
<div class='status'>
<form method="post" action=".">
<div id="gridsets" style="overflow:auto;width:100%;height:500px;border:0px solid #336699;padding-left:5px;text-align:left">
<a href="{% url 'dds-add-ligand-set' %}" title="Create New Grid Set">Create New Set</a><br><br>
<table class="sortable resizable" border=1 style="border:2px solid black;width:100%;margin-left:auto;margin-right:auto">
  <tr><th style="text-align:left;width:300px">Set Name</th>
    <th style="text-align:left;width:600px">Set Description</th>
    <th style="text-align:left;width:50px">Total Ligands</th>
    <th style="text-align:left;width:50px">Delete</th></tr>
{% for set in ligandsets %}
        <tr><td><a href="/dd_substrate/ligandsetdetails/{{set.id}}" title="Edit:{{ set.name}} ');">{{ set.name }}</a></td><td>{{ set.description }}</td><td>{{ set.grid_count }}</td><td><a href="" onclick="if (confirm('Are you sure you want to delete ligand set {{ set.name }}?')){send_delete_ligandset_form('{{set.id}}')}">X</a></td>
{% endfor %}
</table>
</div>
</form>
</div>
{% endblock %}
