<head>
  <script type="text/javascript" src="/js/jsmol/JSmol.min.js"></script>
</head>
<body>

<script>
    
       //alert("{{username}} {{filename}} load /pdbuploads/{{username}}/{{filename}}");
       //alert("segid {{segid}} resid {{resid}}");
       //jmolApplet(parent.getFrameDim(), "load files '/vcs_data/mois/{{username}}/{{filename}}'; animation frame 0;anim on; ");
       //jmolApplet(parent.getFrameDim(), "load files '/vcs_data/mois/{{username}}/{{filename}}'; slab off; spin off; wireframe on; spacefill off; trace off; set ambient 40; set specpower 40; slab off; animation frame 0;");
       //jmolApplet(parent.getFrameDim(), "load files '/vcs_data/mois/{{username}}/1FIN.pdb' '/charmmin/vcs_data/mois/{{username}}/1FIN_vcsdrawn302.mol2; slab off; spin off; wireframe off; spacefill off; trace off; set ambient 40; set specpower 40; slab off; ribbons on;");
       //jmolApplet(parent.getFrameDim(), "load '/vcs_data/mois/{{username}}/1FIN_vcsdrawn302.mol2'; load APPEND '/vcs_data/mois/{{username}}/1FIN.mol2'; frame *; display 1.1,2.1;");
       
     var jmolApplet;
    jmol_isReady = function(applet) {
        document.title = (applet._id + " is ready")
        Jmol._getElement(applet, "appletdiv").style.border="1px solid blue"
}
    var Info = {
        width: "70%",
        height: "95%",
        debug: false,
        color: "black",
        use: "HTML5",
        j2sPath: "/js/jsmol/j2s",
        readyFunction: jmol_isReady,
        script: "set antialiasDisplay;"
}
       
	jmolApplet = Jmol.getApplet("jmolApplet", Info)
	Jmol.script(jmolApplet,  "load '{{ligandfile}}'; load APPEND '{{proteinfile}}';  select 2.1; slab off; spin off; wireframe off; spacefill off; trace off; set ambient 40; set specpower 40; slab off; ribbons on; color structure; select sidechain; color white; select WITHIN(5, true,model=1.1) and model!=1.1 and sidechain; color gray; wireframe 0.05; spacefill on; spacefill 0.15; select 1.1; wireframe 0.1; spacefill off; color yellow; frame *; display 2.1,1.1");
//jmolApplet(300, "load '{{ligandfile}}'; load APPEND '{{proteinfile}}';  select 2.1; slab off; spin off; wireframe off; spacefill off; trace off; set ambient 40; set specpower 40; slab off; ribbons on;select WITHIN(5, true,model=1.1) and model!=1.1 and protein and sidechain; wireframe 0.1; spacefill on; spacefill 0.25; select 1.1; wireframe 0.08; spacefill off; color green; frame *; display 2.1,1.1");
	
       
        //jmolApplet(600, "load {{proteinfile}}; wireframe off; spacefill off; ribbons; color gray; select sidechain; wireframe on; color atom;")
        
        //jmolApplet(600, "load '{{ligandfile}}'; load APPEND '/dd/targets/root/target_4/target_4_1.mol2'; select 2.1; wireframe off; spacefill off; ribbons; color green; frame *; display 2.1,1.1;")
        
    /*jmolApplet(parent.getFrameDim(), "load /pdbuploads/{{username}}/{{filename}};anim mode palindrome 2 2;anim on; select 29:PSEG; cpk 25%;
 * wireframe 50; label %e, %n"); */
</script>
<!--<body onload="makeMspace();" -->
<div id="app">
</div>
<!--
<div class="jmolfooter" style="background-color: #000000;">
  <center>
    <button value="Minimize Window" onclick="minWin('jmolVisual');">Minimize Window</button>&nbsp;
    <button value="Close Window" onclick="closeWin('jmolVisual');">Close Window</button>&nbsp;
  </center>
</div>
-->
</body>
<!--
    <applet codebase="/marvin/"
        code="chemaxon/marvin/space/gui/MSpaceApplet" name="MSpaceApplet" width=400 height=400
        archive="mspace.jar,jmarvin.jar,jogl.jar,gluegen-rt.jar">
    <param name="progressbar" value="true">
    <param name="selectionpanel" value="false">
    <param name="molecule" value="/pdbuploads/{{username}}/{{filename}}">
    </applet>
-->
