<h3 class="center_header">Results</h3> 
<table  class="sortable resizable" border="1" style="background-color:#eeeee0;width=100%;" >
  <tr><th>Rank</th>
    <th>Ligand Name</th>
    <th>DSFC Average</th>
    <th>DSFC Median</th>
    <th>CHARMM Energy</th>
    <th>SEED Score</th>
    <th>FFLD Score</th>
    <th>Download File</th>
    <th>View File</th>
    <th>View Pose</th></tr>
{% for pose in result_poses %}
	<tr>
    <td style="text-align:center;width:50px">{{ pose.rank }}</td>
    <td style="text-align:center;width:300px">{{ pose.ligand_name }}</td>
    <td style="text-align:center;width:50px">{{ pose.average_score }}</td>
    <td style="text-align:center;width:50px">{{ pose.median_score }}</td>
    <td style="text-align:center;width:50px">{{ pose.charmm_energy }}</td>
    <td style="text-align:center;width:50px">{{ pose.seed_score }}</td>
    <td style="text-align:center;width:50px">{{ pose.ffld_score }}</td>
    <td style="text-align:center;width:140px"><a href="/charmming/dd_infrastructure/downloadfile/{{pose.file_id}}">Download File</a></td>
    <td style="text-align:center;width:100px"><a target = "_blank" href="/charmming/dd_infrastructure/viewfile/{{pose.file_id}}">View File</a></td>
    <td style="text-align:center;width:100px"><a href="#" onclick="window.open('/charmming/dd_infrastructure/viewresultpose/{{pose.file_id}}/{{job.job_scheduler_id}}/', 'View Pose', 'height=700, width=700');">View Pose</a></td>
	</tr>
{% endfor %}
</table>

