{% extends "html/skeleton.html" %}

{% block content %}
<div id="mainpage" style="width: 100%;">
<script>
    doDDJobDetailsOnLoad({{ job.id }});
</script>
<h2 class="center_header">Job Details</h2>
{% if message %}
<p class="fontmed" style="color:Red">{{ message }}</p>
{% endif %}
<form method="post" action=".">

<div id="jobinfo" style="width:100%">
</div>
<br>
<div id="ddjobresultsdiv" style="overflow:auto;width:100%;height:150px;border:1px solid #336699;padding-left:5px;text-align:left;display:none">
</div>
<br>

<hr>
<!--<h3>Targets</h3>
<div align="center" style="overflow:auto;width:100%;height:150px;border:1px solid #336699;padding-left:5px;text-align:center">
<table class="sortable resizable" border=2>
<tr><th>Protein</th><th>PDB Code</th><th>Conformation</th><th>View File</th><th>Download File</th></tr>
{% for conformation in job_conformations %}
           <tr>
           <td align="center" width = "350">{{ conformation.protein_name }}</td>
           <td align="center" width = "200">{{ conformation.pdb_code }}</td>
           <td align="center" width = "200">{{ conformation.conformation_name }}</td>
           <td align="center" width = "150"><a target="_blank" href="/dd_infrastructure/viewfile/{{conformation.file_id}}">View File</a></td></td>
           <td align="center" width = "150"><a href="/dd_infrastructure/downloadfile/{{conformation.file_id}}">Download File</a></td></td>
           </tr>
{% endfor %}
</table>
</div>
-->
<h3 class="center_header">Ligands</h3>
<div style="overflow:auto;width:100%;height:300px;border:1px solid #336699;padding-left:5px;text-align:left;margin-left:auto;margin-right:auto">
<table class="sortable resizable" border=1>
<tr><th>Ligand Name</th><th>Ligand Description</th><th>View File</th><th>Download File</th></tr>
{% for ligand in job_ligands %}
           <tr>
           <td style="text-align:center;width:300px">{{ ligand.ligand_name }}</td>
           <td style="text-align:center;width:500px">{{ ligand.description }}</td>
           <td style="text-align:center;width:100px"><a target="_blank" href="/dd_infrastructure/viewfile/{{ligand.file_id}}">View File</a></td>
           <td style="text-align:center;width:140px"><a href="/dd_infrastructure/downloadfile/{{ligand.file_id}}">Download File</a></td>
           </tr>
{% endfor %}
</table>
</div>

<h3 class="center_header">Job Files</h3>
<div style="width:740px;margin-left:auto;margin-right:auto;height:105px;border:1px solid #336699;text-align:left">
<p style="text-align:center">
<table class="sortable" style="text-align:center">
<tr><th>File Description</th><th>View File</th><th>Download File</th></tr>
{% for file in job_files %}
           <tr>
           <td style="text-align:center;width:500px">{{ file.description }}</td>
           <td style="text-align:center;width:100px"><a target="_blank" href="/dd_infrastructure/viewfile/{{file.file_id}}">View File</a></td>
           <td style="text-align:center;width:140px"><a href="/dd_infrastructure/downloadfile/{{file.file_id}}">Download File</a></td>
           </tr>
{% endfor %}
</table>
</p>
</div>
</form>
</div>
{% endblock %}
