{% extends "html/skeleton.html" %}

{% block content %}
<h1 class="center_header">Drug Design Jobs History</h1>
<div class='status'>
<form method="post" action=".">
<table class="sortable resizable" style="border: 2px solid black;margin-left:auto;margin-right:auto;border-collapse:collapse">
<tr><th>Job ID</th><th>Description</th><th>Current Status</th><th>Submitted</th><th>Wait time</th><th>Running time</th><th>Total time</th></tr>
{% for job in jobs %}
           <tr>
           <td style="text-align:center;width:50"><a href="/dd_infrastructure/viewjobdetails/{{job.id}}" title="Edit:{{ job.description}}">{{ job.owner_index }}</a></td>
           <td><p class="fontsmall"><a href="/dd_infrastructure/viewjobdetails/{{job.id}}" title="Edit:{{ job.description}}">{{job.description}}</a></p></td> 
           <td style="text-align:center;width:80px">{{ job.status|safe }}</td>
       <td style="text-align:center"><p class="fontsmall">{{ job.queued }}</p></td>
       <td style="text-align:center"><p class="fontsmall">{{ job.waited }}</p></td>
       <td style="text-align:center"><p class="fontsmall">{{ job.runtime }}</p></td>
           <td style="text-align:center"><p class="fontsmall">{{ job.totaltime }}</p></td>
       </tr>
{% endfor %}
</table>
</form>
</div>


{% endblock %}
