{% extends "html/skeleton.html" %}

{% block content %}
<div id="mainpage" align="center">
  <link href="/css/custom.css" rel="stylesheet" type="text/css" media="all" />
<center>
<h1>Manage Projects</h1>
</center>
<div class='status'>
<body>
<center>

<form method="post" action=".">
<div name="projects" id="projects" style="overflow:auto;width:100%;height:500px;border:0px solid #336699;padding-left:5px;text-align:left">
<a href="/dd_infrastructure/projectsaddnew/" title="Create New Project">Create New Project</a><br><br>
<table class="sortable resizable" border=2>
<tr><th>Project Name</th><th>Target</th><th>Date</th><th>Select this Project</th><th>Delete <br> <a href="" onclick="send_delete_form('all_files');">All Projects</a></th></tr>
{% for project in user_projects %}
    {% if project.selected %}
        <tr bgcolor="yellow">
           <td> <a href="/dd_infrastructure/projectdetails/{{project.id}}" title="Edit:{{ project.project_name}}">{{project.project_name}}</a></td><td> {{ project.project_name }} </td> 
           <td> {{ project.date_created }} </td>
           <td> <input type="radio" name="viewprojects" id={{ project.id }} onclick="send_select_form(this);" checked></td>
           <td> <a href="" onclick="send_delete_form('{{project.id}}')">X</a></td></tr>
    {% else %}
        <tr><td> <a href="/dd_infrastructure/projectdetails/{{project.id}}" title="Edit:{{ project.project_name}}">{{project.project_name}}</a></td><td>{{ project.project_name }} </td> <td>  {{ project.date_created }} </td><td>
        <input type="radio" name="viewprojects" id={{ project.id }} onclick="dd_send_project_select_form(this);"></td>
        <td><a href="" onclick="send_delete_form('{{project.id}}')">X</a></td></tr>
    {% endif %}
{% endfor %}
</table>
</div>
</form>
</div>

{% endblock %}
