<div class="qm_table">
      <h3 class="center_header">Display options</h3>
      <hr>
      <button class="display ballandstick">Ball and Stick</button>
      <button class="display ribbons">Ribbons</button>
      <button class="display cartoons">Cartoons (fast)</button>
      <button class="display fancyCartoons">Fancy Cartoons (slow)</button>
      <button class="display wireframe">Wireframe</button>
      <button class="solvent">Show/Hide Solvent Molecules</button>
      <button class="background_white">White Background</button>
      <button class="background_black">Black Background</button>
      {%block extra_display_options %}
      {%endblock%}
      <br>
    </div>
    <br>
    <div class="qm_table region_options">
      <h4 class="center_header">Region display options</h4>
      <hr>
      <button class="region select">Select region for display</button>
      <button class="region zoom4">Zoom to region (4Å)</button>
      <button class="region zoom5">Zoom to region (5Å)</button>
      <button class="region zoom6">Zoom to region (6Å)</button>
    </div>
    <br>
  <script type="text/javascript" src="/js/visualization.js"></script>
