<head>
  <link href="/css/tabs.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/js/instantedit.js"></script>
  <script type="text/javascript" src="/js/windows2/window.js"> </script>
  <script type="text/javascript" src="/js/custom.js"> </script>
  <script type="text/javascript" src="/js/tabs.js"> </script>
</head>

<body bgcolor="fffffe" onload="parent.changeTabLabel(parent.AjaxTabs.GetFocusedTabId(),'Multi-model PDB');">
<center>
<div>
<h1>PDB with {{ npdbs }} models detected</h1><br>
<h3>The first model found in the PDB has been selected. You can change the selected model and delete models you do
not want on the select/edit PDB page.</h3><br>
</center>

</div>
</body>
