{% extends "html/skeleton.html" %}
{%block extra_scripts %}
  <script type="text/javascript" src="/js/setup_selection.js"></script>
{%endblock%}
{% block content %}
  <h1 class="center_header">Energy</h1>
  <div id="mainpage">
  <div id="change_ener">
    {% if energy_lines %}
       <hr class="noshade-hr">
       <div class="code_lines">
         <h3> Previously Calculated Energy </h3>
         <pre>
           {% autoescape off %}
             {% for l in energy_lines %}{{ l }}{% endfor %}
           {% endautoescape %}
         </pre>
       </div>
  {% endif %}
  <hr class="noshade_hr">
  <div class="center_header">
  <form id="ener_form" method="post"  action="{% url 'energy' %}" onsubmit="send_form_energy(this,'mainpage',[{%for item in filename_list%}'{{item}}',{% endfor%}]);return false;">
    <h2>Working structure: {{ ws_identifier }}</h2>

      {% include "html/taskfiles.html" %}
      <br />

      {% if not cg_model %}
      <p class="fontmed">Use Multi-Scale modeling<input id="useqmmm" type="checkbox" name="useqmmm" onclick="showHideQM();">
      {%comment%}For future devs confused at our choice of id/name - this used to be "Use QM/MM calculations". Feel free to replace all instances of "useqmmm" in the code.
      I'm not doing that until I'm done with my current work, and that may likely not happen.
      ~VS{%endcomment%}
           {% include "html/qmmm_params.html" %}
           {%endif%}
       <p class="fontmed">Use Periodic Boundary Conditions (PBC)<input id="usepbc" type="checkbox" name="usepbc"></p>
       {% include "html/impsolv.html" %}
       <input type="hidden" name="form_submit" value="1" />
       <input type="submit" value="Calculate Energy" />
  </form>
  </div>
</div>
</div>
{% endblock %}
