{% if status %}
  <div id="dialog" title="Message">
      <p>
        <span class="ui-icon ui-icon-alert" style="float:left;margin: 0 auto auto 0;"></span>
        {{ status.message }}
      </p>
    </div>
    <script type="text/javascript">
      $(function($) {
          $("#dialog").dialog({
          resizable:false,
          height:200,
          width:600,
          modal:true,
          autoOpen:true,
          buttons:{
            "Close":function(){
              $(this).dialog("close");
            }
          }
        });
      });
    </script>
{% endif %}
