<!doctype html>
<html>
  <head>
    {% asset 'css' 'index' "[('id','css')]" %}
    <title>CHARMMing -- CHARMM Interface and Graphics</title>
  </head>
  <body>

<div id="login-container">
   <div id="headbkgd"></div>

   <div id="header">
      <div id="headmenu"></div>
   </div>


  {% block content %}
  <!-- TODO: Find out why form errors don't show up -->
    {% if form.errors %}
      <p class="error">Sorry, that's not a valid username or password</p>
    {% endif %}
    <div style="position:relative;left:0%;top:0%;" class="frontpage" >
    <h2 class="center_header">CHARMMing (CHARMM INterface and Graphics)</h2>
    <br /><br />
    <div style="position:relative; left:20%">
    <form action='/login' method='post'>
    <fieldset class="frontpage">
        <legend class="login">Welcome to CHARMMing, please login with your user name and password or register for an account.</legend>
        <table class="qm_table" style="margin-left:auto;margin-right:auto;width:700px">
             <tr><td class="frontpage"><label for="username">User name:</label></td>
             <td class="frontpage"><input class="login" type="text" name="username" id="username" onBlur="javascript:this.value=this.value.toLowerCase();"></td>
             <td class="frontpage"><label for="password">Password:</label></td>
             <td class="frontpage"><input class="login" type="password" name="password" value="" id="password"></td>
             <td class="frontpage"> <input type="submit" value="Login" /></td>
          <td><a href="/accounts/register/">Register</a></td></tr>
      </table>
    <input type="hidden" name="next" value="{{ next }}" />
    </fieldset>
    <a href="/accounts/resetpassword/" style="font-size:70%">Forgot password?</a><br><br>
          {%if login_error %}
          <li> {{login_error}}</li>
          {% endif %}
      </form>
    </div>
    </div>
  {% endblock %}



  <div style="text-indent: 2.0em;" class="frontpage">
    <br />
    <h3 class="center_header">About this site</h3>
<p class="intro">
CHARMMing contains an integrated set of tools for uploading structures, performing simulations, and viewing the results. In order to provide the best possible
user experience, it incorporates a number of freely available tools such as
<a href="http://sourceforge.net/projects/jsmol/">JSmol</a> for visualization and an automatic residue topology
file (RTF) generator (GENRTF) which generates the necessary information for atoms and residues that are currently not supported by the
<a href="http://mackerell.umaryland.edu/CHARMM_ff_params.html">CHARMM force fields.</a>

Below is a partial list of functionality that currently is incorporated into charmming.org:

<ul>
<li> <p class="introlist"> A <a href="http://www.charmmtutorial.org">CHARMM</a> tutorial that has been specifically designed for novice CHARMM users </p>
<li> <p class="introlist"> PDB/CRD reader and input script generator </p>
<li> <p class="introlist"> Integrated molecular graphics </p>
<li> <p class="introlist"> Integrated simulation tools (i.e. minimization, solvation, dynamics) </p>
<li> <p class="introlist"> Automatic topology generation </p>
</ul>

   <h3 class="center_header">New users</h3>
    <p class="intro">If you are new, you may use the site with a demonstration account: the user is "demo" and password is "drdoom." If you would like your own
       account, you may register using the above link. </p>
      <br>

   <h3 class="center_header">Browser compatibility note</h3>
   <p class="intro">CHARMMing has been tested with Firefox (version 3 or later) and Google Chrome. If you experience problems with the site, please try one of these
   browsers. If you still encounter problems, please report them (the e-mail address is given below).</p>

   <h3 class="center_header">CHARMMing.org is now running version 0.10 of the software!</h3>
   <h4 class="center_header">The following are new features of this version</h4>
   <ul>
    <li><p class="introlist">Ligand docking functionality.</p></li>
    <li><p class="introlist">SAR and QSAR model building tools.</p></li>
    <li><p class="introlist">ProPKA support for determining titration states.</p></li>
    <li><p class="introlist">Replaced JMol with GLMol or JSMol for visualization (yay, no more browser plug-ins!).</p></li>
   </ul>

    <p class="intro">CHARMMing is currently in beta testing. Please report bugs to btmiller@helix.nih.gov.</p>
       <br>
  </div>

  <div id="login-footer">
    <div class="content">
      CHARMMing (CHARMM INterface and Graphics)
    </div>
    <div id="footmenu">
       <a href="/html/skeleton/" id="foothome"><i>CHARMMing</i></a>
       <a href="http://www.hhs.gov" id="foothhs"><i>HHS</i></a>
       <a href="http://www.nih.gov" id="footnih"><i>NIH</i></a>
       <a href="http://www.nhlbi.nih.gov" id="footnhlbi"><i>NHLBI</i></a>
    </div>
  </div>
</div>

</body>
{% comment %}
Add only in development
{% endcomment %}
<script src="/js/hotswap.js"></script>
</html>

{% comment %}

    <div class="hero">
      <div class="nav">
        <div class="nav_inner">
          <a href="#">Testing</a>
        </div>
      </div>
      <div class="heading">
        <h1>Run your tasks, with two clicks</h1>
        <h2>CHARMMing is the simplest way to run your CHARMM and Q-chem tasks. </h2>
      </div>
    </div>
    <div class="section">

    </div>
    <div class="footer">

    </div>
  </body>

{% endcomment %}
