<hr />
<p class="fontmed">No implicit solvent <input type="radio" id="solvate_implicitly_none" name="solvate_implicitly" value="none" checked></p>
<p class="fontmed">Solvate implicitly with GBMV <input type="radio" id="solvate_implicitly_gbmv" name="solvate_implicitly" value="gbmv"></p>
<p class="fontmed">Solvate implicitly with SCPISM <input type="radio" id="solvate_implicitly_scpism" name="solvate_implicitly" value="scpism"></p>
<hr />
