<div id="maincontent">
  {%comment%}<!--<h1><p class="padding">Welcome to the Laboratory of Computational Biology's GUI for Creating Scripts, Parsing Structures, and Learning CHARMM!</p></h1>-->{%endcomment%}
<h1 class="center-header">Welcome to CHARMMing: <br />CHARMM INterface and Graphics</h1> 
<p class="intro">
CHARMMing contains an integrated set of tools for uploading structures, performing simulations, and viewing the results. In order to provide the best possible
user experience, it incorporates a number of freely available tools such as 
{%comment%}
<!--
<a href="http://www.chemaxon.com/product/mspace.html">ChemAxon's MarvinSpace</a> and 

<a href="http://dir.nhlbi.nih.gov/cgi-bin/redir.asp?http://jmol.sourceforge.net/">Jmol</a> 
-->{%endcomment%}
<a href="http://sourceforge.net/projects/jsmol/">JSmol</a> and 
<a href="http://webglmol.sourceforge.jp/index-en.html">GLmol</a>
for visualization and an automatic residue topology
file (RTF) generator (GENRTF) which generates the necessary information for atoms and residues that are currently not supported by the 
<a href="http://mackerell.umaryland.edu/CHARMM_ff_params.html">CHARMM force fields.</a> 

Below is a partial list of functionality that currently is incorporated into CHARMMing.org: 

<ul> 
<li> <p class="introlist"> A <a href="http://www.charmm.org">CHARMM</a> tutorial that has been specifically designed for novice CHARMM users </p></li>
<li> <p class="introlist"> PDB/CRD reader and input script generator </p></li>
<li> <p class="introlist"> Integrated molecular graphics </p></li>
<li> <p class="introlist"> Integrated simulation tools (i.e. minimization, solvation, dynamics) </p></li>
<li> <p class="introlist"> Automatic topology generation </p></li>
</ul> 

<h2 class="padding">We have moved CHARMMing to a new server! Welcome to the future of CHARMMing.</h2>

<h3 class="padding">The following are new features added during development of version 0.10</h3>

<ul>
<li><p class="introlist">Ligand docking functionality.</p></li>
<li><p class="introlist">SAR and QSAR model building tools.</p></li>
<li><p class="introlist">ProPKA support for determining titration states.</p></li>
<li><p class="introlist">Replaced JMol with GLMol or JSMol for visualization (yay, no more browser plug-ins!).</p></li>
</ul>

<h3 class="padding">The following are new features in version 0.8</h3>

<ul>
<li> <p class="introlist"> Cleaned up CHARMM scripts (e.g. nonbond parameters are no longer mixed with dynamics options) </p></li>
<li> <p class="introlist"> Oxidation/reduction calculations on proteins with Iron-Sulphur sites using the CHARMM/APBS interface. </p></li>
<li> <p class="introlist"> Generation of Go and BLN two site models (see O'Brien, EP <i>et al.</i>, Proc. Natl. Acad. Sci. USA, 105(36), 13404-13408 for the Go model and Marrink et al. J. Phys. Chem B., 108, p. 750 for the BLN model).
                           Note that the implementation of these coarse-grained models is in very early beta testing. <b>You</b> are responsible for validating and verifying any models or results obtained.</p></li>
</ul>

<br />
<p class="intro">CHARMMing version 0.8 is still a bit rough and may contain issues. Please remember that <b>you</b> are responsible for verifying any scripts, models, or results generated by the program! To report any 
bugs please contact: Tim Miller (btmiller@helix.nih.gov). For CHARMM-related questions please visit the <a href="http://www.charmm.org/ubbthreads">CHARMM forums</a> available at <a href="http://www.charmm.org">www.charmm.org</a>. 
<br />
<br />
</p>
</div>
