{% extends 'html/skeleton.html' %}
{%block jsmol_scripts %}
  <script type="text/javascript" src="/js/jsmol/JSmol.min.js"></script>
  <script type="text/javascript" src="/js/init_jsmol.js"></script>
{%endblock%}
{% block content %}
  
  <h1 class="center_header">Visualization of structure {{structname}}</h1>
  <hr class="noshade_hr">
  <br />
  <div id="jsmol" class="qm_table">
    {%include "html/jsmol_initialize.html" %}
  <script>
      jmolApplet = Jmol.getApplet("jmolApplet", Info);
       {% if not cg_model %}  
       Jmol.script(jmolApplet, "load /pdbuploads{{filepath}};anim mode palindrome 2 2; anim on;");
       initializeDisplay();
      {% else %}
       Jmol.script(jmolApplet, "load /pdbuploads{{filepath}};anim mode palindrome 2 2; anim on; cpk 30%; wireframe 55;");
      {%endif%}
       var displayDict = new Object();
       displayDict['ribbons'] = {%if not cg_model%}true{%else%}false{%endif%};
       displayDict['ballandstick'] = {%if not cg_model%}false{%else%}true{%endif%};
     </script>
     <br />
    {%include "html/display_options.html" %}
{% endblock %}
