<html>
<head>
  <link href="/css/custom.css" rel="stylesheet" type="text/css" />
  <link href="/css/tabs.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/js/custom.js"> </script>
</head>
<body>
<center>
  <table border=0 bordercolor=#e2e9fe class="status" cellspacing=0 cellpadding=0 width=150px>
   {% if PDB.filename %}
     <tr class="status"><th class="status"> Lesson progress of: <br /> {{ PDB.filename }} </th></tr>
{% endifequal %}
     <tr class="status"><td class="status">Lesson :</td></tr>
     {% if mini_param %}
       <tr class="status"><td class="status"><a href="javascript:openWin('spread', 'Minimization Output', 200, 300, 800, 800, '/viewdynamicoutputcontainer/minimization/','null')">Minimization:</a> {{ mini_param.statusHTML }}</td></tr>
     {% endif %}
     {% if solv_param.statusHTML %}
       <tr class="status"><td class="status"> <a href="javascript:openWin('spread', 'Solvation Output', 200, 300, 800, 600, '/viewdynamicoutputcontainer/solvation/','null')">Solvation:</a> {{ solv_param.statusHTML }}</td></tr>
     {% endif %}
     {% if nma_param.statusHTML %}
       <tr class="status"><td class="status"><a href="javascript:openWin('spread', 'NMA Output', 200, 300, 800, 600, '/viewdynamicoutputcontainer/nma/','null')">NMA:</a> {{ nma_param.statusHTML }}</td></tr>
     {% endif %}
     {% if PDB.nma_movie_status %}
       <tr class="status"><td class="status"> NMA Movie: {{ PDB.nma_movie_status }}</td></tr>
     {% endif %}
     {% if PDB.md_status %}
       <tr class="status"><td class="status"> <a href="javascript:openWin('spread', 'MD Output', 200, 300, 800, 600, '/viewdynamicoutputcontainer/md/','null')">MD:</a> {{ PDB.md_status }}</td></tr>
     {% endif %}
     {% if PDB.md_movie_status %}
       <tr class="status"><td class="status"> MD Movie: {{ PDB.md_movie_status }}</td></tr>
     {% endif %}
     {% if PDB.ld_status %}
       <tr class="status"><td class="status"> <a href="javascript:openWin('spread', 'LD Output', 200, 300, 800, 600, '/viewdynamicoutputcontainer/ld/','null')">LD:</a> {{ PDB.ld_status }}</td></tr>
     {% endif %}
     {% if PDB.ld_movie_status %}
       <tr class="status"><td class="status"> LD Movie: {{ PDB.ld_movie_status }}</td></tr>
     {% endif %}
     {% if PDB.sgld_status %}
       <tr class="status"><td class="status"><a href="javascript:openWin('spread', 'SGLD Output', 200, 300, 800, 600, '/viewdynamicoutputcontainer/sgld/','null')">SGLD:</a> {{ PDB.sgld_status }}</td></tr>
     {% endif %}
     {% if PDB.sgld_movie_status %}
       <tr class="status"><td class="status"> SGLD Movie: {{ PDB.sgld_movie_status }}</td></tr>
     {% endif %}
   {% else %}
     <tr class="status"><th class="status"> No PDB Uploaded </th></tr>
   {% endif %}
</table>

  <div id="statusfooter">
    <div class="content">
    </div>
  </div> 

</center>
</body>
</html>
