{% extends "html/skeleton.html" %}

{% block content %}
<div id="mainpage" class="lesson_text">

<br />
<h1 class="center_header">Lesson 1, Introduction to Simulations {% ifequal lesson1.curStep 4 %}: <span class="done">Completed</span> {% endifequal %}</h1>

<p class="intro">
  <span class="failed">Lesson Objectives</span>
  <ul>
    <li> Introduce user to CHARMM </li>
    <li> Explain basic concepts behind computational chemistry methods </li>
    <li> Teach user basic usage and syntax of CHARMM</li>
  </ul>	

<h2 class="intro">Introduction to CHARMM</h2>

<p class="intro">CHARMM (Chemistry at HARvard Macromolecular Mechanics) is a versatile and widely-used molecular simulation program with broad application to
  many-particle systems. It is generally used to gain insight into how complex biomolecular systems behave in nature. It provides a large suite of simulation and
  analysis tools that encompass numerous computational methods.</p>
<br />

<p class="intro">Because it is a large and complicated program, CHARMM can be intimidating for a new user. The series of tutorials on this web site will help
  guide you through setting up basic simulations. You can look at the input and output files produced on the <b>View Inputs and Outputs</b> page, and you can download
  them from the <b>Download Files</b> page. You should do this in order to get a sense of which CHARMM commands are used to perform various tasks. You should also
  explore the commands in more detail in the documentation (available on <a href="http://www.charmm.org/documentation/chmdoc.html">
  the CHARMM home page</a>.</p>

<br />

<p class="intro">A complete tutorial is available at <a target="_blank" href="http://www.charmmtutorial.org">www.charmmtutorial.org</a>. The
   <a target="_blank" href="http://charmmtutorial.org/index.php/Introduction">introduction</a> to this tutorial describes several prerequisites
   needed to run CHARMM. Even if you do not meet them, though, you can still work through the on-line CHARMMing lessons. Throughout
   this and other lessons, links will be provided to various sections of the tutorial, which you can follow for more information about various
   topics.</p>

<br />

<h2 class="intro">Protein structure and coordinate files</h2>

<p class="intro">To get started with this lesson download the coordinate file and protein structure file below. A Protein Structure File (PSF) contains bond information 
  such as angles, torsion (dihedral) angles, and improper torsion angles. This makes a PSF vital to energy calculations in CHARMM. A CHARMM coordinate File (COOR, CRD), stores 
  the cartesian coordinates of each atom along with its residue and segment identification. Groups of atoms form commonly-used subunits called residues (e.g., an amino acid, 
  such as Lysine, is a residue). Residues are further grouped into segments which represent chains of amino acids. A PDB file contains the same information, but in a different 
  format.</p>

<br />

<p class="intro">In order for CHARMM to build a model of a molecule, it needs to know its structure (contained in the protein structure file) and the coordinates of its constituent
  atoms. To read this in via CHARMMing, go to the <b>Submit Structure</b> page, 
  select "Upload my own CRD/PSF files" and upload the following two files (be sure to select lesson 1 as the lesson your upload is associated with):<br>
  <ul>
    <li><a href="/lessons/download/lesson1/1water.crd">1water.crd</a> (the coordinate file)</li>
    <li><a href="/lessons/download/lesson1/1water.psf">1water.psf</a> (the protein structure file)</li>
  </ul>
<br />
<p class="intro">Leave the "Rebuild PSF?" box checked. Once you have done so, come back to this page and you should see a confirmation that the files were uploaded correctly.</p>

<p class="intro">
  <ul>
     <li>To learn more about some of the file formats used by CHARMMing, please see <a target="_blank" href="http://charmmtutorial.org/index.php/Basic_CHARMM_Scripting#Data_Structures">
         the &quot;data structures&quot; section</a> of the tutorial.</li>
  </ul>
</p>

<br />

{% if lesson1 %}
 
 {% ifequal html_step_list.0 1 %}
   <p class="intro"><span class="failed"> Step 1: Upload Done </span></p>
   <br />

   <p class="intro">Congratulations! You successfully uploaded both the CRD and PSF files! These files describe the structure of a single water molecule. We will
     be using this model to build up an entire water box.</p>
   <br />

   <p class="intro">In order to build the box, it is necessary to use CHARMMing's solvation functionality. Usually, solvation is used to put a macromolecule into solvent,
      but in this case we are just using it to build up a large water structure. We will solvate the water molecule in a Rhombic Dodecahedron (RHDO) structure. The RHDO is
      a convex polyhedron that has 12 rhombuses as faces. Since it approximates a sphere, it is the most efficient method for solvating globular proteins (actual spheres
      are not used because there is no crystal structure for them). To solvate, look to the left menu bar under <i>Calculations</i> and select <b>Solvate.</b></p>
   <br />

   <p class="intro">For the <span style="fixed">Solvation Parameters</span> dialog, select the RHDO shape and choose to calculate the crystal dimensions based on the structure
      size plus a buffer. When this is selected, CHARMMing will automatically create a CHARMM input script that calculates the appropriate size of the RHDO structure. It will 
      take the largest x,y,z coordinate and add 5 Angstroms to that value. The 5 Angstroms can be changed by changing the value in the textbox. Change the value to 15 
      and press submit.</p>
   <br />

   <p class="intro">
     <ul>
        <li>The solvation algorithm used by CHARMMing and various other considerations are described in the <a target="_blank" href="http://charmmtutorial.org/index.php/Solvation">
            &quot;Solvation&quot; section</a> of the tutorial.</li>
     </ul>
   </p>

 {% endifequal %}
 
 {% ifequal html_step_list.1 2 %}
   <br /> 
   <p class="intro"><span class="failed"> Step 2: Solvation Running </span></p>
   <br />

   <p class="intro">The solvation job is still in progress but you can read ahead.</p>
   <br />

  <p class="intro">For the next step, you will minimize the water structure. The purpose of minimization is to try to find the conformation (position of the atoms in the protein) that
    has the lowest possible energy. Ideally, the conformation produced would be the structure at absolute zero. This is a commonly done to remove bad atom placement (often caused
    by adding hydrogens to crystal and NMR structures). For a realistic dynamics simulation, the structure is then heated back to the desired temperature. Two common alogorithms for
    minimization are Steepest Descent (SD) and Adopted-Basis Newton-Rhapson (ABNR).</p>
  <br />

  <p class="intro">In order to minimize your water structure, go to <b>Minimize</b> in the left hand menu, select the water molecule, select "coordinates from
    solvation" at the top of the page, and set Steepest Descent to 1000 and ABNR to 1000. The
    TOLG parameter specifies the minimum average gradient that can be reached before the simulation stops. The average gradient is essentially a measure of how &quot;steep&quot; the
    energy surface is. The closer this is to 0, the closer to being converged the minimization is. For this example, set the tolg to 0.01. Additionally, since dynamics uses periodic
    boundary conditions (PBC) we need to use them in the minimization as well (otherwise there will be problems with the dynamics simulation), so make sure that the &quot;Use PBC&quot;
    option is set.
   </p>

   <p class="intro">
     <ul>
       <li>The <a href="http://charmmtutorial.org/index.php/Minimization" target="_blank">&quot;minimization&quot; section</a> of charmmtutorial.org describes the
           process of minimization in more depth. For the illustrative purposes of this tutorial case, we are running more SD steps than is sometimes advised.</li>
     </ul>
   </p>
   <br />

   <p class="intro">Please wait until solvation of the solvated structure is complete before starting the minimization calculation.</p>
 {% endifequal %}
 {% ifequal html_step_list.1 1 %}
   <br />
   <p class="intro"><span class="failed"> Step 2: Solvation Performed </span></p>
   <br />

   <p class="intro">Congratulations! You have sccuessfully solvated a water molecule! The end result is a rhombic dodecahedronal water box.</p>
   <br />
 
  <p class="intro">For the next step, you will minimize the water structure. The purpose of minimization is to try to find the conformation (position of the atoms in the protein) that
    has the lowest possible energy. Ideally, the conformation produced would be the structure at absolute zero. This is a commonly done to remove bad atom placement (often caused
    by adding hydrogens to crystal or NMR structures). For a realistic dynamics simulation, the structure is then heated back to the desired temperature. Two common alogorithms for 
    minimization are Steepest Descent (SD) and Adopted-Basis Newton-Rhapson (ABNR).</p>
  <br />

  <p class="intro">In order to minimize your water structure, go to <b>Minimize</b> in the left hand menu, select the water molecule, set Steepest Descent to 1000 and ABNR to 1000. The 
    TOLG parameter specifies the minimum average gradient that can be reached before the simulation stops. The average gradient is essentially a measure of how &quot;steep&quot; the
    energy surface is. The closer this is to 0, the closer to being converged the minimization is. For this example, set the tolg to 0.01. Additionally, since dynamics uses periodic
    boundary conditions (PBC) we need to use them in the minimization as well (otherwise there will be problems with the dynamics simulation), so make sure that the &quot;Use PBC&quot;
    option is set.
   </p>

   <p class="intro">
     <ul> 
       <li>The <a href="http://charmmtutorial.org/index.php/Minimization" target="_blank">&quot;minimization&quot; section</a> of charmmtutorial.org describes the
           process of minimization in more depth. For the illustrative purposes of this tutorial case, we are running more SD steps than is sometimes advised.</li>    
     </ul>
   </p>
   <br />
 {% endifequal %}

 {% ifequal html_step_list.2 2 %}
   <br /> 
   <p class="intro"><span class="failed"> Step 3: Minimization Running </span></p>
   <br />

   <p class="intro">Minimization is currently running. Until it is finished you can read ahead.</p>
   <br />

   <p class="intro">The next step will involve running Molecular Dynamics (MD). MD applies Newton's laws of motion coupled with the CHARMM force field to simulate 
     how the system would act in a &quot;natural state.&quot; CHARMMing supports four types of MD simulations: heating, NVE (constant volume and energy), NVT (constant temperature and volume), and
     NPT (constant pressure and volume). Heating gradually adds energy to the system, while NVT and NPT keep the temperature constant by means of a thermostat. NVE does
     not attempt to regulate the temperature.
     Because we brought the system to a low energy conformation, we should start by heating the system gradually. Leave the 
     number of steps at 1000, the starting temperature at 210.15 K, the final temprature at 310.15 K (physiological temperature), temperature increment at 10 K, steps between temperature 
     increases (IHTFRQ) to 100, and temperature of bath at 310.15 K. This increases the the temperature 100 K over the 1000 step simulation, which is a more rapid increase than is
     usually used.</p>
   <br />

   <p class="intro">
     <ul>
       <li><a href="http://charmmtutorial.org/index.php/MD" target="_blank">Molecular dynamics</a> is described extensively on charmmtutorial.org, particular
           attention should be paid to the descriptions of the various ensembles that can be run and which integrators may be used. All CHARMMing calculations
           use the leapfrog Verlet algorithm.</li>
     </ul>
   </p>
   <br />

   <p class="intro">Please wait until minimization of the solvated structure is complete before starting the MD simulation.</p>
 {% endifequal %}

 {% ifequal html_step_list.2 1 %}
   <br />
   <p class="intro"><span class="failed"> Step 3: Minimization Performed </span></p>
   <br />

   <p class="intro">Congratulations! You have successfully minimized the system!</p>
   <br />

   <p class="intro">The next step will involve running Molecular Dynamics (MD). MD applies Newton's laws of motion coupled with the CHARMM force field to simulate 
     how the system would act in a &quot;natural state.&quot; CHARMMing supports four types of MD simulations: heating, NVE (constant volume and energy), NVT (constant temperature and volume), and
     NPT (constant pressure and volume). Heating gradually adds energy to the system, while NVT and NPT keep the temperature constant by means of a thermostat. NVE does
     not attempt to regulate the temperature.
     Because we brought the system to a low energy conformation, we should start by heating the system gradually. Leave the 
     number of steps at 1000, the starting temperature at 210.15 K, the final temprature at 310.15 K (physiological temperature), temperature increment at 10 K, steps between temperature 
     increases (IHTFRQ) to 100, and temperature of bath at 310.15 K. This increases the the temperature 100 K over the 1000 step simulation, which is a more rapid increase than is
     usually used. For this simulation, make sure to select "coordinates from minimization" to use the structure generated from the previous step.</p>

   <p class="intro">
     <ul>
       <li><a href="http://charmmtutorial.org/index.php/MD" target="_blank">Molecular dynamics</a> is described extensively on charmmtutorial.org, particular
           attention should be paid to the descriptions of the various ensembles that can be run and which integrators may be used. All CHARMMing calculations
           use the leapfrog Verlet algorithm.</li>
     </ul>
   </p>
   <br />
 {% endifequal %}

 {% ifequal html_step_list.3 2 %}
   <br />
   <p class="intro"><span class="failed"> Step 4: Molecular Dynamics Running</span></p>
   <br />

   <p class="intro">The MD job is still in progress.</p>
 
 {% endifequal %}

 {% ifequal html_step_list.3 1 %}
   <br />
   <p class="intro"><span class="failed"> Step 4: Molecular Dynamics Performed </span></p>
   <br />

   <p class="intro">Congratulations! You have successfully run Molecular Dynamics (MD) on the system!</p>
   <br />
 
   <p class="intro">You have now completed this introductory lesson to computational methods and CHARMMing.</p>
 {% endifequal %}
 {% autoescape off %}
 {% for problem in lessonproblems %}
  <br />
  <p class="intro"><span class="failed">LESSON ERROR: STEP - {{problem.errorstep}}, SEVERITY - {{problem.severity}}</span></p> <br>
  {{problem.description}}</p>
  {% endfor %}
  {%endautoescape%}

{% endif %}
<br>
</div>
{% endblock %}
