{% extends "html/skeleton.html" %}
{% block content %}

<div id="mainpage" class="lesson_text">

{% autoescape off %}
<h1 class="center_header">Lesson 2, Simulating Proteins {% ifequal lesson2.curStep 5 %}: <span class="done">Completed</span> {% endifequal %}</h1>

<p class="intro">
  <span class="failed">Lesson Objectives</span>
  <ul>
    <li>Demonstrate how CHARMM can be used with proteins </li>
    <li>Teach the user how to use custom Topology and Parameter files to extend CHARMM ability to recognize residues </li>
    <li>Teach user basic usage and syntax of CHARMM</li>
  </ul>
<br />

<p class="intro">1ZHY is the Protein Data Bank (PDB) ID of a Oxysterol binding protein complexed with cholesterol. This protein is known to transport 
  cholesterol within the cell and to the cell membrane. It is found in high concentrations in cancer patients. The standard CHARMM topology and parameter
  files for proteins and nucleic acids do not have residue and parameter information for cholesterol, so the custom topology files below will be used with this lesson. You 
  will need to download them, along with the PDB file itself, to continue. The links are below: 
</p><br>

<p class="intro">
  <ul>
    <li><a href="/lessons/download/lesson2/1zhy.pdb">1ZHY.pdb</a></li>
    <li><a href="/lessons/download/lesson2/par_all36_lipid_chol.prm">par_all36_lipid_chol.prm</a> (the parameter file)</li>
    <li><a href="/lessons/download/lesson2/top_all36_lipid_chol.rtf">top_all36_lipid_chol.rtf</a> (the topology file)</li>
  </ul>
<br />


<p class="intro">Go to the <b>Submit Structure</b> page, select &quot;Upload my own PDB file&quot;, and select the 1ZHY PDB file for uploading. When you reach the
   &quot;Build structure&quot; page, upload the topology and parameter files for the bad heteroatom segment. Once you have done so come back here and you should 
   see a completion message below if done correctly.</p>
<br />

{% if lesson2 %}
 {% ifequal html_step_list.0 1 %}
   <br />
   <p class="intro"><span class="failed"> Step 1: Upload Done </span></p>
   <br />

   <p class="intro">Congratulations! You successfully uploaded the PDB file along with the custom topology and parameter!</p>
   <br />

   <p class="intro">We would like to make sure that this structure was uploaded successfully and be able to visualize it. To do so, we need to perform a calculation so that CHARMMing
   will build the structure. Therefore, submit a single point energy calculation by visiting the <b>Energy</b> page under the calculations submenu.</p>
   <p class="intro">
     <ul>
        <li>charmmtutorial.org has <a target="_blank" href="http://charmmtutorial.org/index.php/The_Energy_Function">a page</a> that describes CHARMM's potential energy
            function. This page describes, among other things <a target="_blank" href="http://charmmtutorial.org/index.php/The_Energy_Function#What_the_ENERgy_command_really_does_--_or_how_to_break_ENERgy_into_its_individual_steps">
            what actually happens when the energy command is called.</a></li>
     </ul>
     </p>
   </p>

 {% endifequal %}
 
 {% ifequal html_step_list.1 2 %}
   <br />
   <p class="intro"><span class="failed"> Step 2: Energy Running </span></p>
   <br>

   <p class="intro">The energy job is still running. Once it's done, please visualize the system</p>
   <br />
 {% endifequal %}
 
 {% ifequal html_step_list.1 1 %}
   <br />
   <p class="intro"><span class="failed"> Step 2: Energy Done </span></p>
   <br />

   <p class="intro">If you look at the <b>Visualize system</b> page, you'll notice that the protein is globular. Because it is a globular protein we should use a cubic 
     or RHDO structure. An RHDO structure is most efficient, so solvate the structure in an RHDO and choose a buffer size of 10 angstroms. 1ZHY has a negative charge, and in order 
     for CHARMM to use the Particle Mesh Ewald Summation method for electrostatics, the system must be neutral. In order to ensure this, you may neutralize through the 
     &quot;Solvate&quot; page. For this lesson, use Potassium Chloride, and set the molar concentration to .15. The number of trials will determine a lower energy 
     position for these ions but significantly add to the neutralization calculation time. For this reason, please set the number of trials to 1.</p>
   <p class="intro">
      <ul>
         <li>The process of solvation was described in Lesson 1. There is <a target="_blank" href="http://charmmtutorial.org/index.php/Solvation">a page on charmmtutorial.org</a>
             that describes the method used by CHARMMing.</li>
         <li>Neutralization has <a target="_blank" href="http://charmmtutorial.org/index.php/Neutralization">its own CHARMM tutorial page</a>, which lays out several considerations
             and provides the Monte Carlo algorithm used in CHARMMing.</li>
      </ul>
   </p>

   <br /> 
 {% endifequal %}

 {% ifequal html_step_list.2 2 %}
   <br />
   <p class="intro"><span class="failed"> Step 3: Solvation Running </span></p>
   <br>

   <p class="intro">The solvation job is still running but you can read ahead.</p>
   <br />

   <p class="intro">The next step is to minimize the system. Go to the <b>Minimization</b> page and select the neutralized structure.
     Set the number of steps for SD 100, ABNR to 500 and tolg to 0.1. This time, select &quot;Use Periodic Boundary Conditions (PBC)&quot;.
     This will tell CHARMMing that periodic boundary conditions should be used with minimization, thus avoiding undesirable vacuum boundary effects. 
      Since dynamics is run with PBC, it is important
     that the minimization be run under the same conditions. Once you have set it up, go ahead and submit the minimization. Because this is a large
     structure, it may take over an hour to run.</p>
   <br />

   <p class="intro">
     <ul>
       <li>The <a href="http://charmmtutorial.org/index.php/Minimization" target="_blank">&quot;minimization&quot; section</a> of charmmtutorial.org describes the
           process of minimization. You can also work through Lesson 1, which describes the process in some detail, if you have not done so already.</li>
       <li>CHARMM's handling of periodic boundary conditions is described in <a target="_blank" href="http://charmmtutorial.org/index.php/The_Energy_Function#Periodic_boundary_conditions_.28PBC.29:_IMAGe.2FCRYStal">
           a section on the energy page</a> of charmmtutorial.org.</li>
     </ul>
   </p>

   <p class="intro">Please wait until solvation of the solvated structure is complete before starting the minimization calculation.</p>
 {% endifequal %}
 
 {% ifequal html_step_list.2 1 %}
   <br />
   <p class="intro"><span class="failed"> Step 3: Solvation Done </span></p>
   <br />

   <p class="intro">The next step is to minimize the system. Go to the <b>Minimization</b> page and select the neutralized structure. 
     Set the number of steps for SD to 100, ABNR to 500, and tolg to 0.1. This time, select &quot;Use Periodic Boundary Conditions (PBC)&quot;.
     This will tell CHARMMing that periodic boundary conditions should be used with minimization, thus avoiding undesirable vacuum boundary effects. 
      Since dynamics is run with PBC, it is important
     that the final minimization be run under the same conditions. Once you have set it up, go ahead and submit the minimization. Because this is a large
     structure, it may take over half an hour to run.</p>
   <p class="intro">
     <ul>
       <li>The <a href="http://charmmtutorial.org/index.php/Minimization" target="_blank">&quot;minimization&quot; section</a> of charmmtutorial.org describes the
           process of minimization. You can also work through Lesson 1, which describes the process in some detail, if you have not done so already.</li> 
       <li>CHARMM's handling of periodic boundary conditions is described in <a target="_blank" href="http://charmmtutorial.org/index.php/The_Energy_Function#Periodic_boundary_conditions_.28PBC.29:_IMAGe.2FCRYStal">
           a section on the energy page</a> of charmmtutorial.org.</li>
     </ul>
   </p>
   <br /> 
 {% endifequal %}

 {% ifequal html_step_list.3 2 %}
   <br />
   <p class="intro"><span class="failed"> Step 4: Minimization Running </span></p>
   <br />

   <p class="intro">The minimization job is still in progress but you can read ahead to the next step in the lesson.</p>
   <br />

   <p class="intro">The next step is to run dynamics on the system. Before a production run, the system should be heated to bring it out of its minimized 
      state. Minimization brings the system to a low energy state and in so doing removes bad contacts (e.g. water molecules located in hydrophobic pockets). 
      Heating is applied to gradually bring the system up to a natural temperature for biochemical processes. Set the initial temperature to 210.15 K, the
      final temperature to 310.15 K, and the bath temperature (TBATH) to 310.15 K. Make sure to check the box to use Periodic Boundary Conditions (PBC),
      since you performed the previous minimization using PBC. Leave all other settings at their default values.</p>

   <br />

   <p class="intro">
      <ul>
         <li>Dynamics was another topic that was discussed in the previous lesson, and which is described on a <a href="http://charmmtutorial.org/index.php/MD" target="_blank">
             CHARMM Tutorial page</a>. The dynamics in this step is heating, like was run in Lesson 1. Constant temperature dynamics will be run in the final ste.</li>
      </ul>
   </p>

   <p class="intro">Please do not submit the dynamics job until the solvation is completed.</p>
 {% endifequal %}

 {% ifequal html_step_list.3 1 %}
   <br />
   <p class="intro"><span class="failed"> Step 4: Minimization Done </span></p>
   <br />

   <p class="intro">The next step is to run dynamics on the system. Before a production run, the system should be heated to bring it out of its minimized
      state. Minimization brings the system to a low energy state and in so doing removes bad contacts (e.g. water molecules located in hydrophobic pockets).
      Heating is applied to gradually bring the system up to a natural temperature for biochemical processes. Set the initial temperature to 210.15 K, the
      final temperature to 310.15 K, and the bath temperature (TBATH) to 310.15 K. Make sure to check the box to use Periodic Boundary Conditions (PBC),
      since you performed the previous minimization using PBC. Leave all other settings at their default values.</p>
   <p class="intro">
      <ul>
         <li>Dynamics was another topic that was discussed in the previous lesson, and which is described on a <a href="http://charmmtutorial.org/index.php/MD" target="_blank">
             CHARMM Tutorial page</a>. The dynamics in this step is heating, like was run in Lesson 1. Constant temperature dynamics will be run in the final ste.</li>
      </ul>
   </p>
   <br />

   <p class="intro">Now that minimization is done, please go ahead and submit the dynamics job.</p>
   <br />
 {% endifequal %}

 {% ifequal html_step_list.4 2 %}
   <br />
   <p class="intro"><span class="failed">Step 5: Molecular Dynamics Heating Running</span></p>
   <br />

   <p class="intro">The MD job is still in progress. Meanwhile, you can read ahead about the next part of the lesson.</p>
   <br />

   <p class="intro">The next step after heating is to perform equilibration on the system in order to let it &quot;settle in&quot; at the desired temperature.
     Generally, the purpose of a molecular dynamics simulation is to get a statistical picture of how the system behaves in real world conditions. This can be
     done by running for a sufficiently long period of time to gain summary statistics about which conformations are preferred and how they shift over time.
     Detailed explanation about how long is long enough and exactly how these statistics are gathered is beyond the scope of this lesson. At this stage, it
     is sufficient to know that CHARMM can write out files describing various facets of the system (energy, atomic velocities, etc.) as the simulation evolves.
     One of the most important of these files is called the <i>trajectory file</i>, which contains coordinates. A coordinate set (called a trajectory &quot;frame&quot;
     is generally not written out every step, but usually every 10 to 1000 steps depending on the desired resolution. The input files CHARMMing produces are designed
     to write ten steps over the dynamics calculation, no matter how long it is.</p>
   <br />

   <p class="intro">In general, trajectories from early equilibrium runs are not used for analysis (as the system is still &quot;settling in&quot;, however they
     still can show how the system moves over time. In order to see this for yourself, go back to the <b>Molecular Dynamics</b> page and select &quot;Coordinates from md&quot; at the
     top of the page. This will use the coordinates from your heating run. This time, select &quot;NPT&quot; and make the thermostat temperature 310.15 K. 
    Make sure to once again check the box to use Periodic Boundary Conditions (PBC). Also, have CHARMMing make a movie.</p>

   <p class="intro">
      <ul>
         <li>The <a href="http://charmmtutorial.org/index.php/MD" target="_blank">
             molecular dynamics tutorial page</a> describes the temperature and pressure options that are used in CHARMM.</li>
      </ul>
   </p>
 {% endifequal %}

 {% ifequal html_step_list.4 1 %}
   <br />
   <p class="intro"><span class="failed">Step 5: Molecular Dynamics Heating Done</span></p>
   <br />

   <p class="intro">The next step after heating is to perform equilibration on the system in order to let it &quot;settle in&quot; at the desired temperature.
     Generally, the purpose of a molecular dynamics simulation is to get a statistical picture of how the system behaves in real world conditions. This can be
     done by running for a sufficiently long period of time to gain summary statistics about which conformations are preferred and how they shift over time.
     Detailed explanation about how long is long enough and exactly how these statistics are gathered is beyond the scope of this tutorial. At this stage, it
     is sufficient to know that CHARMM can write out files describing various facets of the system (energy, atomic velocities, etc.) as the simulation evolves.
     One of the most important of these files is called the <i>trajectory file</i>, which contains coordinates. A coordinate set (called a trajectory &quot;frame&quot;
     is generally not written out every step, but usually every 10 to 1000 steps depending on the desires resolution. The input files CHARMMing produces are designed
     to write ten steps over the dynamics calculation, no matter how long it is.</p>
   <br />

   <p class="intro">In general, trajectories from early equilibrium runs are not used for analysis (as the system is still &quot;settling in&quot;, however they
     still can show how the system moves over time. In order to see this for yourself, go back to the <b>Molecular Dynamics</b> page and select the &quot;Coordinates from md&quot; at the 
     top of the page. This will use the coordinates from your heating run. This time, select &quot;NPT&quot; and make the thermostat temperature 310.15 K. 
    Make sure to once again check the box to use Periodic Boundary Conditions (PBC). Also, have CHARMMing make a movie.</p>
   <p class="intro">
      <ul>
         <li>The <a href="http://charmmtutorial.org/index.php/MD" target="_blank">
             molecular dynamics tutorial page</a> describes the temperature and pressure options that are used in CHARMM.</li>
      </ul>
   </p>
   <br />
 {% endifequal %}

 {% ifequal html_step_list.5 2 %}
   <br />
   <p class="intro"><span class="failed"> Step 6: Equilibration Molecular Dynamics Running</span></p>
   <br />

   <p class="intro">The MD equilibration job is still in progress.</p>
 {% endifequal %}

 {% ifequal html_step_list.5 1 %}
   <br />
   <p class="intro"<<span class="failed"> Step 6: Equilibration Molecular Dynamics Performed </span></p>
   <br />

   <p class="intro">Congratulations! You have successfully run Molecular Dynamics (MD) on the system! If you made a movie of the dynamics, you can
     see it on the <b>View PDBs</b> page.</p>
   <br />

   <p class="intro">You have now completed this lesson.</p>
 {% endifequal %}


 {% if lessonproblem %}
 {%autoescape off %}
 <br />
 <p class="intro"><span class="failed">LESSON ERROR: STEP - {{lessonproblem.errorstep}}, SEVERITY - {{lessonproblem.severity}}</span><br>
 {{lessonproblem.description}}</p>
{%endautoescape %}
 {% endif %}

{% endif %}
{% endautoescape %}

</div>

{% endblock %}
