{% autoescape off %}
<html>
<head>
</head>
<body>
  <table border=0 bordercolor=#e2e9fe class="status" cellspacing=0 cellpadding=0 width=150px>
   <tr class="status"><th class="status"> Lesson Progress </th></tr>
   <tr class="status"><td class="status">Steps:</td></tr>
                
   {% if lesson %}
   {% for line in status_list %}
    {{line}}
   {% endfor %}
   {% else %}
     <tr class="status"><th class="status"> Lesson Loading... </th></tr>
   {% endif %}
</table>

  <div id="lessonfooter">
    <div class="content center_header">
    </div>
  </div> 
  {% if lessonprob %}
  <div id="dialog_lesson_failure" style="display:none" title="Lesson Error">
    <p>Problem at <b>Step {{lessonprob.errorstep}}</b>, severity {{lessonprob.severity}}:<br>
      {{lessonprob.description}}
    </p>
  </div>
  {%endif%}
</body>
</html>
{% endautoescape %}
