{% extends "html/skeleton.html" %}

{% block content %}
<div id="mainpage" style="text-align: left;">

<h1 class="center_header">Lesson 7: Docking{% ifequal lesson7.curStep 5 %}: <span class="done">Completed</span> {% endifequal %}</h1>

<p class="intro">
  <span class="failed">Lesson Objectives</span><br />
  <ul>
    <li> Re-dock the co-crystallized ligand </li>
  </ul>
</p>

<p class="intro">
This lesson serves as a guide for performing a &quot;re-dock&quot; calculation using CHARMMing's docking module. Such a calculation involves removing a ligand
 molecule from a crystallographically-solved protein-ligand complex, and re-docking it into its predefined binding site. This technique is widely used
 for evaluating the performance of a docking algorithm. This lesson uses the ligand binding domain of the human nuclear receptor RXR &alpha;, with the bound synthetic
 agonist compound BMS 649. This system is catalogued in the RCSB Protein Databank at PDB.org under the identifier 1MVC.<br><br>
First, you will upload the structure of 1MVC into CHARMMing. To do this, go to the <a href="/fileupload/">Submit Structure</a> page under &quot;Structures&quot; in the left-hand sidebar.
Once there, select the option to &quot;Retrieve PDB using a PDB ID&quot;. A box below will appear labeled &quot;PDB.org ID&quot;. Please enter &quot;1MVC&quot; into that box. Then, click on the dropdown menu labeled
&quot;What Lesson is this structure associated with?&quot;, and select &quot;Lesson 7&quot;. Finally, press the &quot;Submit Structure&quot; button at the bottom of the page to upload your structure. Once done, please
return to this page.
<br>
<br>
{% if lesson7 %}



  {% ifequal html_step_list.0 1 %}
    
    <p class="intro"><span class="failed"> Step 1: 
      Upload: Done </span></p>
      <br>
      <p class="intro">You have successfully uploaded the structure of 1MVC!
      <br><br>
        Now that you've uploaded the structure, you will need to define a working structure that will only contain the parts of the system that are of interest for docking. In this case,
        only the protein-ligand complex (in a-chain), as well as the solvent molecules around it, are of interest to this lesson. Go to the <a href="/buildstruct/">&quot;Build/Select Working 
          Structure&quot;</a> page, and check the boxes for chains &quot;a-bad&quot;, &quot;a-good&quot; and &quot;a-pro&quot;. Leave all other options at their default values. Then, click the
        &quot;Submit&quot; button at the bottom of the page.
      </p>
      <br>
    {% endifequal %}


  {% ifequal html_step_list.1 1 %}
    
    <p class="intro"><span class="failed"> Step 2: Working Structure Built: Done </span></p>
      <br>

      <p class="intro">
      You have now successfully created the working structure that will be used for this lesson!
      <br><br>
        Now that you've uploaded your working structure, it is necessary to run an energy calculation in order to &quot;build&quot; your structure
        with CHARMM, which makes it possible to use the docking module. To do this, go to the <a href="/energy">Energy</a> page, and click the &quot;Calculate Energy&quot;
        button. Do not activate any of the other options; they are not needed for this procedure, and will produce erroneous results.
      </p>
      <br>
    {% endifequal %}

    {% ifequal html_step_list.2 2 %}
    
      <p class="intro"><span class="failed"> Step 3: Energy Running </span></p>
      <br>

      <p class="intro">
      Your energy calculation is now running. Meanwhile, you can read ahead for the next step in the procedure.
      <br><br>
      For the next step, you will minimize the structure of 1MVC. The purpose of minimization is to find the conformation that would have the lowest possible energy.
      This will be done in order to correct bad atom placement in the structure, which could potentially occur due to the way that hydrogen atoms are added 
      to crystal structures like 1MVC. 
      <br><br>
      To perform the minimization, go to the <a href="/minimize/">Minimization</a> page under &quot;Calculations&quot; in the left-hand sidebar.
      Set Steepest Descent (SDsteps) to 100, and ABNR to 1000. Set the Gradient Tolerance (tolg) to 0.05. While having a lower tolg would provide better convergence,
      for the purposes of this lesson it will be left at 0.05. Do not enable any of the other options on the page; in particular, do not select to use Periodic Boundary Conditions,
      since your structure will not be solvated in this lesson.
      </p>
      <br>
    {% endifequal %}

  {% ifequal html_step_list.2 1 %}
    
    <p class="intro"><span class="failed"> Step 3: Energy Done </span></p>
      <br>

      <p class="intro">
        You have successfully completed an energy calculation on your structure!
      <br><br>
      For the next step, you will minimize the structure of 1MVC. The purpose of minimization is to optimize the protein conformations.
      This will be done in order to correct bad atom placement in the structure, which could potentially occur due to the way that hydrogen atoms are added 
      to crystal structures like 1MVC. 
      <br><br>
      To perform the minimization, go to the <a href="/minimize/">Minimization</a> page under &quot;Calculations&quot; in the left-hand sidebar.
      Set Steepest Descent (SDsteps) to 100, and ABNR to 1000. Set the Gradient Tolerance (tolg) to 0.05. While having a lower tolg would provide better convergence,
      for the purposes of this lesson it will be left at 0.05. Do not enable any of the other options on the page; in particular, do not select to use Periodic Boundary Conditions,
      since your structure will not be solvated in this lesson.
      </p>
      <br>
    {% endifequal %}

    {% ifequal html_step_list.3 2 %}
    
      <p class="intro"><span class="failed"> Step 4: Minimization Running </span></p>
      <br>

      <p class="intro">
      Your minimization of 1MVC is currently running. This calculation will take a few minutes. In the meantime, you can read ahead about the next calculation you will perform.
      <br><br>
      Once the structure has been minimized, it's time to re-dock the ligand. There are 2 steps you must take in order to do this.
      <br>
      </p>
      <h3 class="center_header">Step 1. Ligand Conversion</h3>
      <p class="intro">
      First, you must provide a MOL2 file of the ligand to the docking module. However, CHARMMing only saves molecule information in .PDB and .PSF/.CRD formats. 
      As such, you must first download the file from CHARMMing, convert it to MOL2, then re-upload it for the docking module.
      <br><br>
      Go to the <a href="/download/">Download Files</a> page. One of the files in the table
      will have a file name that starts with &quot;a-bad&quot; and ends in &quot;.pdb&quot;. This is the file that defines the structure of the ligand.
      Once you have downloaded the file, you will need to convert it to MOL2 format. We recommend using
      the program openbabel, and running it with the following command:
      <br>
      </p>
<pre style="font-family:courier;fixed">
      babel -h -ipdb a-bad-xxxx.pdb -omol2 1mvc-ligand.mol2
</pre>
      <p class="intro">
      Running this command will convert the PDB coordinates from CHARMMing into MOL2 coordinates that can be used by the docking module. The -h flag is required, since docking does not implicitly add hydrogen atoms.
      <br>
      </p>
      <h3 class="center_header">Step 2. Ligand Upload</h3>
      <p class="intro">
      Once you have converted the file, go to the
      <a href="/dd_substrate/ligandfileupload/">Ligand Upload</a> page to upload the MOL2 file. The only required field is the uploaded file, however, it is useful to fill in the
      other fields in order to identify your specific ligand during future docking calculations.
      <br>
      </p>
      <h3 class="center_header">Step 3. Docking Job Submit</h3>
      <p class="intro">
      Once you have uploaded your ligand at the Ligand Upload page, you will be taken to the <a href="/dd_infrastructure/dsfform">Launch Docking Job</a> page. Select
      &quot;Coordinates from minimization&quot; at the top. This option will use the information generated by the results of step 4, and as such do <b>not</b> perform this calculation until minimization is complete. 
      There is only one binding site defined for 1MVC by way of its native ligand, so you do not need to set this option. Select &quot;All User Uploaded&quot; from the &quot;Select Grid Set&quot; menu on
      the page to access your ligand, and select it by clicking the rightmost checkbox in the table. While you do not need to enter a description for your job, it is helpful for your records if you provide one.
      Once done, click the &quot;Submit Docking Job&quot; button to run your docking job with the ligand you uploaded. You will be taken to a page confirming that your job has been submitted,
      and also provided with a tar archive of the entire job's folder, for running the job on any other local resources at your disposal. You can track the process of your job by looking at the status bar on the left-hand
      sidebar, and see the output being produced by the task by clicking on &quot;dsfdocking&quot; in the status report panel.
      </p>
      <br>
    {% endifequal %}

  {% ifequal html_step_list.3 1 %}
    
    <p class="intro"><span class="failed"> Step 4: Minimization Done </span></p>
      <br>

      <p class="intro">
      You have successfully completed a minimization on 1MVC!
      <br><br>
      Once the structure has been minimized, it's time to re-dock the ligand. There are 3 steps you must take in order to do this.
      <br>
      </p>
      <h3 class="center_header">Step 1. Ligand Conversion</h3>
      <p class="intro">
      First, you must provide a MOL2 file of the ligand to the docking module. However, CHARMMing only saves molecule information in .PDB and .PSF/.CRD formats. 
      As such, you must first download the file from CHARMMing, convert it to MOL2, then re-upload it for the docking module.
      <br><br>
      Go to the <a href="/download/">Download Files</a> page. One of the files in the table
      will have a file name that starts with &quot;a-bad&quot; and ends in &quot;.pdb&quot;. This is the file that defines the structure of the ligand.
      Once you have downloaded the file, you will need to convert it to MOL2 format. We recommend using
      the program openbabel, and running it with the following command:
      <br>
      </p>
<pre style="font-family:courier;fixed">
      babel -h -ipdb a-bad-xxxx.pdb -omol2 1mvc-ligand.mol2
</pre>
      <p class="intro">
      Running this command will convert the PDB coordinates from CHARMMing into MOL2 coordinates that can be used by the docking module. The -h flag is required, since docking does not implicitly add hydrogen atoms.
      <br>
      </p>
      <h3 class="center_header">Step 2. Ligand Upload</h3>
      <p class="intro">
      Once you have converted the file, go to the
      <a href="/dd_substrate/ligandfileupload/">Ligand Upload</a> page to upload the MOL2 file. The only required field is the uploaded file, however, it is useful to fill in the
      other fields in order to identify your specific ligand during future docking calculations.
      <br>
      </p>
      <h3 class="center_header">Step 3. Docking Job Submit</h3>
      <p class="intro">
      Once you have uploaded your ligand at the Ligand Upload page, you will be taken to the <a href="/dd_infrastructure/dsfform">Launch Docking Job</a> page. Select
      &quot;Coordinates from minimization&quot; at the top. 
      There is only one binding site defined for 1MVC by way of its native ligand, so you do not need to set this option. Select &quot;All User Uploaded&quot; from the &quot;Select Grid Set&quot; menu on
      the page to access your ligand, and select it by clicking the rightmost checkbox in the table. While you do not need to enter a description for your job, it is helpful for your records if you provide one.
      Once done, click the &quot;Submit Docking Job&quot; button to run your docking job with the ligand you uploaded. You will be taken to a page confirming that your job has been submitted,
      and also provided with a tar archive of the entire job's folder, for running the job on any other local resources at your disposal. You can track the process of your job by looking at the status bar on the left-hand
      sidebar, and see the output being produced by the task by clicking on &quot;dsfdocking&quot; in the status report panel.
      </p>
      <br>
  {% endifequal %}

  {% ifequal html_step_list.4 2 %}
  <p class="intro"><span class="failed">Step 5: Docking Running </span></p>
  <br>
  
  <p class="intro">
  Your docking calculation is now running. This calculation will take a few minutes, longer than minimization, since it is more intensive.
  <br><br>
  Once the docking calculation is complete, you can check the results of the docking calculation by going to the <a href="/dd_infrastructure/viewjobs/">View Jobs/Results</a> page. This page
  displays all of the jobs that have been run by this user account, with the most recent jobs at the top. Click either the Job ID or the Description of the latest entry,
  corresponding to the time at which you submitted your structure for docking, and you will see the details related to your job. Click &quot;View/Hide Results&quot; on the
  top table in order to display your specific results. You will see results similar to the ones below:
  <br>
  <img src="/lessons/download/lesson7/dd_lesson_big.jpg" width="1084" height="327" />
  <br>
  
  Overall, your results will likely be similar to the &quot;Results&quot; section in the picture, but may differ by the number of poses generated by the docking job.
  The list of poses in the &quot;Results&quot; section may include more than one predicted binding mode that passed an energy cutoff, since a random seed is used in the generation of ligand conformations. 
  In the case of multiple poses, they will be ranked according to their binding scores, with a lower score indicating a more favorable binding mode.
  The multiple scores for each pose represent each of the individual components of the consensus scoring scheme used by the docking protocol.
  You can download the resulting ligand MOL2 file by clicking &quot;Download File&quot;, view it in your browser by clicking &quot;View File&quot;, 
  or view the binding mode of the ligand within 1MVC by clicking &quot;View Pose&quot; on any of the poses that were generated by your docking job.
  </p>
  <br>
  {%endifequal%}

  {% ifequal html_step_list.4 1 %}
  <p class="intro"><span class="failed">Step 5: Docking Done</span></p>
  <br>
  <p class="intro">
  You have now completed this lesson successfully.
  <br><br>
  You can check the results of the docking calculation by going to the <a href="/dd_infrastructure/viewjobs/">View Jobs/Results</a> page. This page
  displays all of the jobs that have been run by this user account, with the most recent jobs at the top. Click either the Job ID or the Description of the latest entry,
  corresponding to the time at which you submitted your structure for docking, and you will see the details related to your job. Click &quot;View/Hide Results&quot; on the
  top table in order to display your specific results. You will see results similar to the ones below:
  <br>
  </p>
  <div class="center_header" style="width:1072px;">
    <img src="/lessons/download/lesson7/dd_lesson_big.jpg" width="1084" height="327" /></a>
  </div>
  <p class="intro">
  <br>
  Overall, your results will likely be similar to the &quot;Results&quot; section in the picture, but may differ by the number of poses generated by the docking job.
  The list of poses in the &quot;Results&quot; section may include more than one predicted binding mode that passed an energy cutoff, since a random seed is used in the generation of ligand conformations. 
  In the case of multiple poses, they will be ranked according to their binding scores, with a lower score indicating a more favorable binding mode.
  The multiple scores for each pose represent each of the individual components of the consensus scoring scheme used by the docking protocol.
  You can download the resulting ligand MOL2 file by clicking &quot;Download File&quot;, view it in your browser by clicking &quot;View File&quot;, 
  or view the binding mode of the ligand within 1MVC by clicking &quot;View Pose&quot; on any of the poses that were generated by your docking job.
  </p>
  <br>
  {%endifequal%}
  
  
  {% if lessonproblems %}
  {%autoescape off%}
  {%for lessonproblem in lessonproblems %}
   <br />
   <p class="intro"><span class="failed">LESSON ERROR: STEP - {{lessonproblem.errorstep}}, SEVERITY - {{lessonproblem.severity}}</span><br />
   {%autoescape off%} {{lessonproblem.description}} {%endautoescape%}</p>
   {%endfor%}
  {%endautoescape%}
   {% endif %}
{% endif %}


</div>

{% endblock %}

