{% extends "html/skeleton.html" %}

{% block content %}
<div id="mainpage" class="lesson_text">

{% autoescape off %}
<br />
<center>
<h1>Lesson 6: Reduction Potential Calculations {% ifequal lesson6.curStep 4 %}: <span class="done">Completed</span> {% endifequal %}</h1>
</center>

<p class="intro">
  <span class="failed">Lesson Objectives</span>
  <ul>
    <li> Submit a structure to the redox module. </li>
    <li> Calculate the environmental contribution to the reduction potential (&#916<i>G</i><sub>out</sub>). </li>
    <li> Calculate the reduction potential (<i>E</i>&#176). </li>
    <li> Determine the change in <i>E</i>&#176 with pH.</li>
    <li> Determine contribution of residue to <i>E</i>&#176.</li>
  </ul>
</p>

<h2 class="intro">Reduction Potential</h2>

<p class="intro">
    In biological systems, oxidation and reduction reactions control the flow of chemical energy necessary 
    for life. In an oxidation-reduction (redox) reaction, one molecule donates an electron to another. The 
    ability for a molecule to accept an electron (to be reduced) is quantified by the reduction potential,
    <i>E</i>&#176, of that molecule. High-energy processes, such as photosynthesis and metabolism, utilize 
    electron transfer chains to efficiently transfer electrons from one molecule to another. Along the 
    electron transfer chain, each redox site has a lower <i>E</i>&#176 than the preceding site to promote 
    the transfer of electrons. For proper function of a complex electron transfer chain, all redox sites 
    must be tuned for favorable transfer from the initial reductant to the final oxidizing species. 
    Understanding the roles of the protein environment to controlling the <i>E</i>&#176 of individual redox 
    sites aides in identifying deficiencies in malfunctioning electron transfer chains and the design of 
    novel redox complexes. </p>
<br />
<p class="intro">
    Two main factors contribute to the <i>E</i>&#176 of a redox protein. The primary factor is the chemical
    composition of the redox site. Different redox site metal types, ligands, and conformations will affect
    the energy required to add or remove an electron. Here, the free energy contribution for the reduction
    of any redox site in vacuum is referred to as the intrinsic free energy contribution to the <i>E</i>&#176.
    We will refer to this value as <i>G</i><sub>in</sub>. The second factor contributing to the reduction 
    potential is the combined protein and solvent environments surrounding a redox site. This contribution, 
    referred to here as <i>G</i><sub>out</sub>, is relatively smaller than <i>G</i><sub>in</sub>. In the 
    DFT+PB method, E° is calculated as     
    <br><br>
    <i>E</i>&#176 = -&#916<i>G</i><sub>in</sub>/n<i>F</i> - &#916<i>G</i><sub>out</sub>/n<i>F</i> - &#916<i>G</i><sub>SHE</sub>/n<i>F</i>
    <br /><br />
    where n is the number of electons being transferred and <i>F</i> is the Faraday constant. <i>G</i><sub>in</sub> is 
    determined for each cluster and charge state using density functional theory (DFT). Since this is a computationally 
    expensive calculation, a database of pre-calculated <i>G</i><sub>in</sub> values are stored in CHARMMing.
</p>
<br />
<p class="intro">
    &#916<i>G</i><sub>out</sub> is calcualated using continuum electrostatics, which is relatively fast 
    calculation and can be performed on the CHARMMing web server. &#916<i>G</i><sub>out</sub> is the change 
    in solvation energy with reduction of the redox site calculated as
    <br><br>
    &#916<i>G</i><sub>out</sub> = &#916<i>G</i><sub>sol</sub>(Reduced) - &#916<i>G</i><sub>sol</sub>(Oxidized).
    <br /><br />
</p>
<br />
<h2 class="intro">Iron-Sulfur Proteins</h2>
<p class="intro">
Iron-sulfur proteins serve as a good example of redox proteins. We'll use them as a test case in this lesson.
</p>
<br />

<p class="intro">
    Navigate to the <b>Submit Structure</b> page on from the main menu. Select “Retrieve a PDB using a PDB ID” 
    and enter the PDB.org ID “1CKU” into the text box. For “What Lesson is this structure associated with?,” 
    select Lesson 6 from the drop-down menu. Submit the structure. CHARMMing will redirect the page to the
    <b>Build/Select Working Structure</b> page. Here, an arbitrary name can be provided for the structure and 
    the atoms from the PDB are selected. “1CKU” contains two independent proteins in the asymmetric unit. To 
    calculate the <i>E</i>&#176 of solvated HiPIP, only the atoms of one protein should be selected. Under 
    “Choose Segments and Patching”, select the “a-pro” and “a-bad” segments. The “a-pro” segment contains all 
    protein atoms for monomer A and the “a-bad” segment contains the redox site atoms for monomer A. The 
    “bad”-type atoms are so named because they are not found in the CHARMM protein force-field, and therefore are not recognized by CHARMMing. 
    To account for this, a supplemental set of parameters is provided for the redox atoms, but they must be 
    specified when building the protein structure. To do so, select “Use only for REDOX calculations” from the 
    drop down menu under “Topology File and Parameter File” for “a-bad”. The page should look similar to Figure 3. 
    Submit the page to build the structure and a message should appear indicating the protein structure was 
    successfully built.
    <br><br>
    Alrenatively, the PDB coordinates below can be used. 
  <ul>
    <li><a href="/lessons/download/lesson6/1CKU.pdb">1CKU.pdb</a> (the coordinate file)</li>
  </ul>
<br />
<p class="intro">Once you have done so, go to the <a href="/energy/">Energy</a> page to calculate the energy
and build your structure so that it can be used for redox calculations. Do not use PBC or any implicit solvent options.
Once done, return to this page and you will see a confirmation that the files were uploaded correctly.</p>
<br />

{% if lesson6 %}

 <!-- Step 1 -->
 {% ifequal html_step_list.0 2 %}
   <p class="intro"><span class="failed"> Step 1: Build the structure and calculate the energy: Running </span></p>
   <br />

   <p class="intro">Your structure is currently being built. 
   <br />

   <p class="intro">*Note: Due to the setup of CHARMMing, you <b>MUST</b> calculate the energy prior to performing
       a redox calculation.</p>
   <br />

 {% endifequal %}
 {% ifequal html_step_list.0 1 %}
   <p class="intro"><span class="failed"> Step 1: Upload a [4Fe-4S]-containing protein: Done </span></p>
   <br />

   <p class="intro">Congratulations! You successfully uploaded the PDB file! This file contains the atomic 
       coordinates for the protein and iron-sulfur cluster. We will be using this model calculate the reduction 
       potential of the protein.</p>
   <br />
   <p class="intro">
       Now a redox calculation can be performed. Navigate to the Redox page under the “Analysis”
       header. Select the Oxidation/Reduction Site, “Fe4S4(CH3)4 Segment A site 1”. HiPIP undergoes a 1-/2-
       redox couple, so that should be selected under “Select Oxidation/Reduction Couple”. For this
       calculation, default APBS parameters should be used. Select “Launch the REDOX calculation” to run
       the redox job. Once the status of the redox job says “Done”, select “Redox” from the Analysis submenu
       again to retrieve the results of the calculation. The header of this page should 
       provide the free energy of reduction calculated from the continuum electrostatics calculations. Using
       the pre-calculated ADE and the experimentally determined SHE, a calculated E° is provided. The new
       <i>E</i>&#176 should be 0.32 V
   </p>
 {% endifequal %}

 <!-- Step 2 -->
 {% ifequal html_step_list.1 2 %}
   <br /> 
   <p class="intro"><span class="failed"> Step 2: Perform a redox calculation: Running </span></p>
   <br />

   <p class="intro">Please wait until the redox calculation is complete.</p>
   <br />
 {% endifequal %}

 {% ifequal html_step_list.1 1 %}
   <br />
   <p class="intro"><span class="failed"> Step 2: Perform a redox calculation: Done</span></p>
   <br />

   <p class="intro">Congratulations, you have successfully calculated the reduction potential of <i>Cv</i> HiPIP.</p>
   <br />

   <p class="intro">
       The <i>E</i>&#176 of <i>Cv</i> HiPIP is known to be pH dependent. In this step, the change in <i>E</i>&#176 with 
       protonation of histidine 42 is determined. A new structure of <i>Cv</i> HiPIP must be built with a protonated His 
       42. To do so, return to <b>Build/Select Protein Working Structure</b>. This time, select the checkbox next to 
       “Modify protonation states of titratable residues. A list of titratable residues will appear. For Residue 42 of SEGID “a-pro”,
       select Protonation State “hsp” from the drop down menu. Submit the structure, repeating steps 1 and 2.
       The new <i>E</i>&#176 should be 0.37 V
   </p>
   <br />
 {% endifequal %}

 <!-- Step 3 -->
 {% ifequal html_step_list.2 2 %}
   <br />
   <p class="intro"><span class="failed"> Step 3: Calculate <i>E</i>&#176 with charged histidine.</span></p>
   <br />

   <p class="intro">Please wait until the redox calculation is complete.</p>
   <br />
 {% endifequal %}
 {% ifequal html_step_list.2 1 %}
   <br />
   <p class="intro"><span class="failed"> Step 3: Calculate <i>E</i>&#176 with charged histidine.</span></p>
   <br />
   <p class="intro">Congratulations! You have successfully calculated <i>E</i>&#176 for <i>Cv</i> HiPIP with a charged histidine.</p>
   <br />
   <p class="intro">
       In the next step, the contribution of charged histidine 42 to the <i>E</i>&#176 is determined by turning off the
       partial charges of that residue. Since the protein structure currently contains a charged histidine after
       step 4, the structure does not have to be rebuilt. Navigate back to the Redox page under the “Analysis”
       header. Again, Select the Oxidation/Reduction Site, “Fe4S4(CH3)4 Segment A site 1” and the a 1-/2-
       redox couple under “Select Oxidation/Reduction Couple”. To calculate the contribution of residue 42,
       the user should enter “resid 42” into the “Charge knockout” text box. Select “Launch the REDOX
       calculation” to run the redox job. Once the status of the redox job says “Done”, select “Redox” from the
       Analysis header again to retrieve the results of the calculation. The <i>E</i>&#176 should now be 0.28 V. The
       difference between the <i>E</i>&#176 from step 4 (0.37 V) and the one provided by the knock out (0.28 V) will give
       the contribution of this residue to the <i>E</i>&#176 (0.09 V). Residues with absolute contributions greater than 0.03
       V are considered significant. This contribution stems from placing a positive charge near the redox site,
       which makes the <i>E</i>&#176 larger. That means that it is now more favorable to reduce the redox site (i.e. add an
       electron). Interestingly, the <i>E</i>&#176 with residue 42 knocked-out is lower than with the neutral His 42 (0.32
       V). This suggests that the neutral and polar residue is oriented toward the redox site, increasing the <i>E</i>&#176.
   </p>
   <br />
 {% endifequal %}

 <!-- Step 4 -->
 {% ifequal html_step_list.3 2 %}
   <br />
   <p class="intro"><span class="failed"> Step 4: Identify a Residue that Modifies <i>E</i>&#176 Using Charge-Knockout: Running</span></p>
   <br />

   <p class="intro">The <i>E</i>&#176 for <i>Cv</i> HiPIP with a charge knock-out is currently running. Please check back after the calculation completes.</p>
   <br />
 {% endifequal %}
 {% ifequal html_step_list.3 1 %}
   <br />
   <p class="intro"><span class="failed"> Step 4: Identify a Residue that Modifies <i>E</i>&#176 Using Charge-Knockout: Done</span></p>
   <br />
   <p class="intro">Congratulations! You have successfully calculated the <i>E</i>&#176 for <i>Cv</i> HiPIP with His42 partial charges turned off.</p>
   <br />
   <p class="intro">
       The previous two steps demonstrated that protonation of His 42 will raise the reduction
       potential of <i>Cv</i> HiPIP by 0.05 V. The total contribution of His 42 is 0.04 V vs WT at pH 7.
       However, the more realistic model of a pH insensitive <i>Cv</i> HiPIP would involve a mutation of the
       residue. In this step, a mutation of <i>Cv</i> HiPIP is modeled and <i>E</i>&#176 for the mutant is calculated. Navigate to
       the “Modify Structure by Point-Mutation” page. Select the residue HSP 42 (residue will show up as 'hsd') and replace it with and
       alanine (ALA). The graphical representation will show the position of the mutation on a three-
       dimensional model of <i>Cv</i> HiPIP. Return to the redox module and calculate the <i>E</i>&#176 for the mutant. The
       new <i>E</i>&#176 should be 0.28 V.
   </p>
   <br />

 {% endifequal %}

 <!-- Step 5 -->
 {% ifequal html_step_list.4 2 %}
   <br />
   <p class="intro"><span class="failed"> Step 5: Predict <i>E</i>&#176 for <i>Cv</i> HiPIP with a Point Mutation: Running</span></p>
   <br />

   <p class="intro">The <i>E</i>&#176 for the mutated <i>Cv</i> HiPIP is currently running. Please check back after the calculation completes.</p>
   <br />
 {% endifequal %}
 {% ifequal html_step_list.4 1 %}
   <br />
   <p class="intro"><span class="failed"> Step 5: Predict <i>E</i>&#176 for <i>Cv</i> HiPIP with a Point Mutation: Done</span></p>
   <br />

   <p class="intro">Congratulations! You have successfully calculated the <i>E</i>&#176 for a mutated redox protein</p>
   <br />

   <p class="intro">Compare this value (0.29 V) to the original calculation (when H42 was neutral). The 30 mV decrease in Eo 
       caused by removing the polar His near the redox site. You can scan for other residues with significant 
       contributions to Eo by changing the charge state, turning off the partial charge, or mutating the residue.</p>
   <br />

   <p class="intro">You have now completed this introductory lesson to computational methods and CHARMMing.</p>
   <br />
   <br />
 {% endifequal %}


 {% for problem in lessonproblems %}
  {%autoescape off%}
  <br />
  <p class="intro"><span class="failed">LESSON ERROR: STEP - {{problem.errorstep}}, SEVERITY - {{problem.severity}}</span></p> <br>
  {{problem.description}}
  <br />
  <br />
  </p>
  {%endautoescape%}
 {% endfor %}

{% endif %}
{% endautoescape %}

</div>
{% endblock %}
