{% extends "html/skeleton.html" %}

{% block content %}
<div id="mainpage" style="text-align: left;">

<h1 class="center_header">Lesson test: Test Lesson{% ifequal lessontest.curStep 3 %}: <span class="done">Completed</span> {% endifequal %}</h1>

<p class="intro">
  <span class="failed">Lesson Objectives</span><br />
  <ul>
    <li> arf </li>
    <li> arf </li>
    <li> arf </li>
  </ul>
</p>

<p class="intro">
  Write the text that will appear before the user uploads a structure here.
  
</p>
<br>
{% if lessontest %}



  {% ifequal html_step_list.0 1 %}
    
    <p class="intro"><span class="failed"> Step 1: 
      Upload Done </span></p>
      <br>

      <p class="intro">
        Write the text that will appear after the user uploads a structure here. For example, you can detail the steps that the user will take to build a working structure.
       
      </p>
      <br>
    {% endifequal %}


  {% ifequal html_step_list.1 1 %}
    
    <p class="intro"><span class="failed"> Step 2: Working Structure Build Done </span></p>
      <br>

      <p class="intro">
        Write the text that will appear after the user builds a working structure. For example, here you can detail the first calculation they will perform upon the structure.

         
      </p>
      <br>
    {% endifequal %}

    {% ifequal html_step_list.2 2 %}
    
      <p class="intro"><span class="failed"> Step 3: minimization Running </span></p>
      <br>

      <p class="intro">
      None
      </p>
      <br>
    {% endifequal %}

  {% ifequal html_step_list.2 1 %}
    
    <p class="intro"><span class="failed"> Step 3: Minimization Done </span></p>
      <br>

      <p class="intro">
        Write the text that will appear after the user performs minimization successfully. For example, here you can detail the next calculation that they will perform upon the structure or, if this is the final calculation, any concluding remarks you might have.
          
         
      </p>
      <br>
    {% endifequal %}
  {% if lessonproblem %}
   <br />
   <p class="intro"><span class="failed">LESSON ERROR: STEP - {{lessonproblem.errorstep}}, SEVERITY - {{lessonproblem.severity}}</span><br />
   {{lessonproblem.description}}</p>
  {% endif %}
{% endif %}


</div>

{% endblock %}

