{% extends "html/skeleton.html" %}

{% block content %}
<div id="mainpage" style="text-align: left;">

<h1 class="center_header">Lesson 8: Simulating Protein-Ligand Complexes with QM/MM Methods{% ifequal lesson8.curStep 8 %}: <span class="done">Completed</span> {% endifequal %}</h1>

<p class="intro">
  <span class="failed">Lesson Objectives</span><br />
  <ul>
    <li> Run a Molecular Dynamics simulation on a solvated protein </li>
    <li> Obtain QM/MM energies of the Protein-Ligand complex </li>
    <li> Compare QM/MM energy of the additive method to the subtractive (MSCALE) method </li>
  </ul>
</p>

<p class="intro">
  This lessson is a guide on performing QM/MM calculations, which are used for simulating a system on multiple time scales and levels of theory. 1MVC is the Protein Data Bank (PDB) ID of the human nuclear receptor RXRalpha&#39;s ligand binding domain bound to a synthetic agonist compound BMS 649 (referred to by its PDB ID BM6 from here on). This nuclear receptor, RXR, is involved in many signal transduction pathways. We will use 1MVC and BM6 as a model protein-ligand complex to demonstrate the use of QM/MM methods by first performing a Molecular Dynamics procedure similar to Lesson 2, then comparing the QM/MM energies of different methods with each other.

Go to the <a href="/fileupload/">Submit Structure</a> page under &quot;Structures&quot; in the left-hand sidebar. Once there, select the option to &quot;Retrieve PDB using a PDB ID&quot;. A box below will appear labeled &quot;PDB.org ID&quot;. In this box, enter &quot;1MVC&quot;. Then, click on the dropdown menu labeled &quot;What lesson is this structure associated with?&quot; and select &quot;Lesson 8&quot;. Finally, hit the &quot;Submit Structure&quot; button at the bottom of the page to upload your structure. Once done, return here.

</p>
<br>
{% if lesson8 %}



  {% ifequal html_step_list.0 1 %}
    
    <p class="intro"><span class="failed"> Step 1: 
      Upload Done </span></p>
      <br>

      <p class="intro">
        You&#39;ve successfully uploaded the structure of 1MVC!

Now that you&#39;ve uploaded the structure, you will need to define the working structure  that will be used in the following calculations. The protein-ligand complex (in a-chain), as well as the solvent molecules present in the crystal structure, are the only portions of the structure of interest in this lesson. Go to the <a href="/buildstruct/">Build/Select Working Structure</a> page, and check the  boxes for chains &quot;a-bad&quot;, &quot;a-good&quot; and &quot;a-pro&quot;. Leave all other options at their default values. Then, click the &quot;Submit&quot; button at the bottom of the page. 
      </p>
      <br>
    {% endifequal %}


  {% ifequal html_step_list.1 1 %}
    
    <p class="intro"><span class="failed"> Step 2: Working Structure Build Done </span></p>
      <br>

      <p class="intro">
        You have successfully created the working structure that will be used for this lesson. 

Now that you&#39;ve uploaded your working structure, it is necessary to run an energy calculation in order to &quot;build&quot; your structure with CHARMM, which makes it possible to use the MD module. To do this, go to the <a href="/energy">Energy</a> page, and click the &quot;Calculate Energy&quot; button. Do not activate any of the other options, they are not needed for this procedure, and will produce erroneous results. 
      </p>
      <br>
    {% endifequal %}

    {% ifequal html_step_list.2 2 %}
    
      <p class="intro"><span class="failed"> Step 3: energy Running </span></p>
      <br>

      <p class="intro">
      Your neutralization and solvation of your working structure of 1MVC are now running. Meanwhile, you can read ahead for the next step in the procedure.

Now that the structure has been solvated and neutralized, it needs to be minimized before dynamics can be performed on it. Go to the <a href="/minimize/">Minimization</a> page, and set the number of steps for SD to 100, ABNR steps to 1000, and the tolerance gradient (tolg) to .01. Select the coordinates from neutralization, and make sure to check the &quot;Use Periodic Boundary Conditions (PBC)&quot; box, which will tell CHARMMing that periodic boundary conditions should be used with minimization, to avoid unfavorable vacuum boundary effects. Dynamics will be run with PBC as well, so it is important that this minimization is run with PBC. This step may take over half an hour to run. For details on minimization and periodic boundary conditions, work through Lessons 1 &amp; 2.
      </p>
      <br>
    {% endifequal %}

  {% ifequal html_step_list.2 1 %}
    
    <p class="intro"><span class="failed"> Step 3: Energy Done </span></p>
      <br>

      <p class="intro">
        You have successfully built your working structure (a-chain) of 1MVC.

If you look at the &quot;Visualize System&quot; page once this step is done, you&#39;ll notice that this protein is somewhat globular. Because it is a globular protein, we should use a cubic or RHDO structure, as in Lesson 2, and once again choose an RHDO structure and a buffer size of 10 Angstroms. 1MVC is charged, and in order for CHARMM to use the Particle Mesh Ewald Summation method for electrostatics, used for Molecular Dynamics, the system must be neutral. To ensure this, we must not only solvate the protein, but also neutralize it. Go to the <a href="/solvate/">Solvation</a> page, and set up the buffer as described previously. Once done, set the salt to Potassium Chloride, and set the molar concentration to 0.15. The number of trials will determine a lower energy position for these ions, so set the number of trials to 3. Because of 1MVC&#39;s relatively small size, this will not add more than a few minutes to the calculation time.

The process of solvation was described in Lessons 1 and 2, and there is <a href="http://charmmtutorial.org/index.php/Solvation">a page on charmmtutorial.org</a> that describes the method used by CHARMMing.
Neutralization has <a href="http://charmmtutorial.org/index.php/Neutralization">its own CHARMMtutorial page</a>, which lays out several considerations and provides the Monte Carlo algorithm used in CHARMMing.
 
      </p>
      <br>
    {% endifequal %}

    {% ifequal html_step_list.3 2 %}
    
      <p class="intro"><span class="failed"> Step 4: neutralization Running </span></p>
      <br>

      <p class="intro">
      
Your minimization of your working structure of 1MVC is now running. Meanwhile, you can read ahead for the next step in the procedure.

With a minimized structure, we can proceed to make a simple MD run on the structure in the vein of Lesson 2. Generally, the following task is only used as a setup for a full dynamics run, but for the purposes of comparing the energies produced by different QM/MM methods, it is sufficient. Go to the <a href="/dynamics/md/">Molecular Dynamics</a> page and set the initial temperature (FIRSTT) to 210.5K, the final temperature (FINALT) to 310.5K, and the bath temperature (TBATH) to 310.15K. As mentioned previously, make sure to check the &quot;Use Periodic Boundary Conditions (PBC) with dynamics&quot; box, since we are running a solvated structure. Leave all other settings to their default values.

Dynamics was another topic discussed in Lessons 1 &amp; 2, and is <a href="http://charmmtutorial.org/index.php/MD">described on a CHARMMtutorial page</a>. The dynamics performed here are the same heating done in Lessons 1 &amp; 2.
      </p>
      <br>
    {% endifequal %}

  {% ifequal html_step_list.3 1 %}
    
    <p class="intro"><span class="failed"> Step 4: Neutralization Done </span></p>
      <br>

      <p class="intro">
        You have successfully solvated and neutralized your working structure of 1MVC.

Now that the structure has been solvated and neutralized, it needs to be minimized before dynamics can be performed on it, in order to remove bad contacts (e.g. water molecules in hydrophobic pockets). Go to the <a href="/minimize/">Minimization</a> page, and set the number of steps for SD to 100, ABNR steps to 1000, and the tolerance gradient (tolg) to .01. Select the coordinates from neutralization, and make sure to check the &quot;Use Periodic Boundary Conditions (PBC)&quot; box, which will tell CHARMMing that periodic boundary conditions should be used with minimization, to avoid unfavorable vacuum boundary effects. Dynamics will be run with PBC as well, so it is important that this minimization is run with PBC. This step may take over half an hour to run. For details on minimization and periodic boundary conditions, work through Lesson 2. 
      </p>
      <br>
    {% endifequal %}

    {% ifequal html_step_list.4 2 %}
    
      <p class="intro"><span class="failed"> Step 5: minimization Running </span></p>
      <br>

      <p class="intro">

Your minimization of your working structure of 1MVC is currently running.

With a minimized structure, we can proceed to make a simple MD heating run on the structure in the vein of Lesson 2. Generally, the following task is only used as a setup for a full dynamics run, it is sufficient to stop after heating for the purposes of comparing the energies and computational cost of QM/MM versus MSCALE. Go to the <a href="/dynamics/md/">Molecular Dynamics</a> page and set the initial temperature (FIRSTT) to 210.5K, the final temperature (FINALT) to 310.5K, and the bath temperature (TBATH) to 310.15K. As mentioned previously, make sure to check the &quot;Use Periodic Boundary Conditions (PBC) with dynamics&quot; box, since we are running a solvated structure. Leave all other settings to their default values.

Dynamics was another topic discussed in Lessons 1 &amp; 2, and is <a href="http://charmmtutorial.org/index.php/MD">described on a CHARMMtutorial page</a>. The dynamics performed here are the same heating done in Lessons 1 &amp; 2.
      </p>
      <br>
    {% endifequal %}

  {% ifequal html_step_list.4 1 %}
    
    <p class="intro"><span class="failed"> Step 5: Minimization Done </span></p>
      <br>

      <p class="intro">
        You have successfully minimized your solvated working structure of 1MVC.

With a minimized structure, we can proceed to make a simple MD run on the structure in the vein of Lesson 2. Generally, the following task is only used as a setup for a full dynamics run, it is sufficient to stop after heating for the purpposes of comparing the energies and computational cost of QM/MM versus MSCALE.  Go to the <a href="/dynamics/md/">Molecular Dynamics</a> page and set the initial temperature (FIRSTT) to 210.5K, the final temperature (FINALT) to 310.5K, and the bath temperature (TBATH) to 310.15K. As mentioned previously, make sure to check the &quot;Use Periodic Boundary Conditions (PBC) with dynamics&quot; box, since we are running a solvated structure. Leave all other settings to their default values.

Dynamics was another topic discussed in Lessons 1 &amp; 2, and is <a href="http://charmmtutorial.org/index.php/MD">described on a CHARMMtutorial page</a>. The dynamics performed here are the same heating done in Lessons 1 &amp; 2. 
      </p>
      <br>
    {% endifequal %}

    {% ifequal html_step_list.5 2 %}
    
      <p class="intro"><span class="failed"> Step 6: MD Running </span></p>
      <br>

      <p class="intro">
      Your molecular dynamics heating run is currently in progress.

      
Once your system has been heated, it&#39;s time to take a QM/MM energy. QM/MM, as described in Lesson 4. This step will perform a quantum mechanical energy calculation using Q-Chem on the region of interest, and a standard CHARMM energy calculation for the rest of the system. In this manner, it is possible to treat both the small (i.e. ligand) and large (i.e. substrate) parts of this protein-ligand complex accurately, without requiring the large computational resources necessary for simulating the entire complex with high-intensity quantum mechanical calculations. To start the run, go to the <a href="/energy/">Energy</a> page and check the &quot;Use Multi-Scale Modeling&quot; box. Below it, choose to use the additive model. Set the basis to 3-21G*, and the charge to -1, since the ligand BM6 is negatively charged.

Then, use either the graphical selection tool accessible by clicking the &quot;Select atoms graphically&quot; button on the energy page, or the coordinate file of the structure available on the <a href="/download/">Download Files</a> page to populate the QM region selection box. If you have experience with CHARMM selection syntax, you can use this to fill the box as well - note that the residue is called BM6 in the coordinate file. Leave the link atom boxes blank, as we will be using the entirety of BM6. If you perform a graphical selection, we recommend that you click the button to turn off the solvent, which should allow the BM6 ligand to become clearly visible.

Once done with setup, click the &quot;Calculate Energy&quot; button at the bottom of the page.
      </p>
      <br>
    {% endifequal %}

  {% ifequal html_step_list.5 1 %}
    
    <p class="intro"><span class="failed"> Step 6: MD Done </span></p>
      <br>

      <p class="intro">
        You have successfully completed a heating run for your working structure of 1MVC. 

Now that your system has been heated, it&#39;s time to take a QM/MM energy. QM/MM, as described in Lesson 4. This step will perform a quantum mechanical energy calculation using Q-Chem on the region of interest, and a standard CHARMM energy calculation for the rest of the system. In this manner, it is possible to treat both the small (i.e. ligand) and large (i.e. substrate) parts of this protein-ligand complex accurately, without requiring the large computational resources necessary for simulating the entire complex with high-intensity quantum mechanical calculations. To start the run, go to the <a href="/energy/">Energy</a> page and check the &quot;Use Multi-Scale Modeling&quot; box. Below it, choose to use the additive model. Set the basis to 3-21G*, and the charge to -1, since the ligand BM6 is negatively charged.

Then, use either the graphical selection tool accessible by clicking the &quot;Select atoms graphically&quot; button on the energy page, or the coordinate file of the structure available on the <a href="/download/">Download Files</a> page to populate the QM region selection box. If you have experience with CHARMM selection syntax, you can use this to fill the box as well - note that the residue is called BM6 in the coordinate file. Leave the link atom boxes blank, as we will be using the entirety of BM6. If you perform a graphical selection, we recommend that you click the button to turn off the solvent, which should allow the BM6 ligand to become clearly visible.

Once done with setup, click the &quot;Calculate Energy&quot; button at the bottom of the page.
      </p>
      <br>
    {% endifequal %}

    {% ifequal html_step_list.6 2 %}
    
      <p class="intro"><span class="failed"> Step 7: Energy Running </span></p>
      <br>

      <p class="intro">
      The QM portion of the energy calculation may take around half an hour due to the complexity of the BM6 ligand. In the meantime, you can read ahead for details on the MSCALE procedure.

Once the QM/MM energy run has finished, it is recommended that you save its output on your local machine, since the output of the MSCALE energy run will overwrite it. To do this, head to the <a href="/download/">Download Files</a> page when the QM/MM energy has status &quot;Done&quot; as reported on the job status widget on the left side of the screen. Once there, download the file that ends in &quot;-energy.txt&quot;. This has the energy output of the task, including the quantum energy.

In the currently-running step, we used an additive model (adding QM and MM energies) to represent a structure that we want to analyze. In order to account for interactions between the QM and the MM layers, this approach requires a considerably complex interaction function. However, there exists a different approach, MSCALE, that uses a subtractive model to overcome this problem. In this case, we have:

<img src"=/lessons/lesson8/mscale_equation.gif"</img>
<br><br>
Where small is the QM region we defined. Once again, go to the <a href="/energy/">Energy</a> page. &quot;Use Multi-Scale Modeling&quot; should already be selected due to your previous run. This time, choose to use the Subtractive model.  Leave the number of layers at 2, and set Layer 1 to have the same settings as the QM region of the previous step. If you wish, you may copy over the region selection you had from before, or perform the graphical selection again. Make sure to scroll down and verify that Layer 2 has the &quot;Make this layer MM&quot; box checked. Once done, click the &quot;Calculate Energy&quot; button at the bottom of the page.
      </p>
      <br>
    {% endifequal %}

  {% ifequal html_step_list.6 1 %}
    
    <p class="intro"><span class="failed"> Step 7: Energy Done </span></p>
      <br>

      <p class="intro">
        Now that the QM/MM energy run has finished, it is recommended that you save its output on your local machine, since the output of the MSCALE energy run will overwrite it. To do this, head to the <a href="/download/">Download Files</a> page. Once there, download the file that ends in &quot;-energy.txt&quot;. This has the energy output of the task, including the quantum energy.

In the previous step, we used an additive model (adding QM and MM energies) to represent a structure that we want to analyze. In order to account for interactions between the QM and the MM layers, this approach requires a considerably complex interaction function. However, there exists a different approach, MSCALE, that uses a subtractive model to overcome this problem. In this case, we have:

<img src"=/lessons/lesson8/mscale_equation.gif"</img>
<br><br>
Where small is the QM region we defined. Once again, go to the <a href="/energy/">Energy</a> page. &quot;Use Multi-Scale Modeling&quot; should already be selected due to your previous run. This time, choose to use the Subtractive model.  Leave the number of layers at 2, and set Layer 1 to have the same settings as the QM region of the previous step. If you wish, you may copy over the region selection you had from before, or perform the graphical selection again. Make sure to scroll down and verify that Layer 2 has the &quot;Make this layer MM&quot; box checked. Once done, click the &quot;Calculate Energy&quot; button at the bottom of the page. 
      </p>
      <br>
    {% endifequal %}

    {% ifequal html_step_list.7 2 %}
    
      <p class="intro"><span class="failed"> Step 8: Energy Running </span></p>
      <br>

      <p class="intro">
      Your MSCALE energy is running. Soon, you will be able to compare the results of MSCALE with that of QM/MM, both in energy and in time cost.
      </p>
      <br>
    {% endifequal %}

  {% ifequal html_step_list.7 1 %}
    
    <p class="intro"><span class="failed"> Step 8: Energy Done </span></p>
      <br>

      <p class="intro">
        Now that the MSCALE energy has completed, you can compare the energy obtained from the MSCALE procedure to the one obtained from the QM/MM procedure. 

This lesson shows two major ways of performing a multi-scale simulation. In practice,  the choice of which to use will be based on a variety of factors; however, MSCALE and similar subtractive models allow for further granularity and layers, allowing for more complex setups involving many layers operating at different levels of theory and time scales. 
      </p>
      <br>
    {% endifequal %}
{% if lessonproblems %}
  {% autoescape off %}
  {% for lessonproblem in lessonproblems %}
   <br />
   <p class="intro"><span class="failed">LESSON ERROR: STEP - {{lessonproblem.errorstep}}, SEVERITY - {{lessonproblem.severity}}</span><br />
   {{lessonproblem.description}}</p>
   {% endfor %}
  {% endautoescape %}
  {% endif %}
{% endif %}

</div>

{% endblock %}

