{% extends 'html/skeleton.html' %}
{%block extra_scripts%}
<link rel="stylesheet" href="/css/ligand.css" />
{%endblock%}
{%block jsmol_scripts %}
  {% comment %}
  The reason this is loaded in this fashion is to bypass the Google Analytics tracking
  in the bundled version (.min.js)

  TODO: Eventutally this can be removed in favor of the complete bundle
  {% endcomment %}
  <script src="/js/jsmol/JSmoljQueryExt.js" type="text/javascript"></script>
  <script src="/js/jsmol/JSmolCore.js" type="text/javascript"></script>
  <script src="/js/jsmol/JSmolApplet.js" type="text/javascript"></script>
  <script src="/js/jsmol/JSmolApi.js" type="text/javascript"></script>
  <script src="/js/jsmol/JSmolControls.js" type="text/javascript"></script>
  <script src="/js/jsmol/j2sjmol.js" type="text/javascript"></script>
  <script src="/js/jsmol/JSmol.js" type="text/javascript"></script>
  <script src="/js/jsmol/JSmolConsole.js" type="text/javascript"></script>
  <script src="/js/jsmol/JSmolMenu.js" type="text/javascript"></script>
  <script src="/js/jsmol/JSmolThree.js" type="text/javascript"></script>
  <script src="/js/jsmol/JSmolGLmol.js" type="text/javascript"></script>
  <script src="/js/jsmol/JSmolTM.js" type="text/javascript"></script>
  <script type="text/javascript" src="/js/init_jsmol.js"></script>
{%endblock%}

{% block content %}
  <div id="top_of_page">
    <h1 class="center_header">Build a {% if structname %} Ligand for Structure {{ structname }} {% else %} Custom Ligand{% endif %}</h1>
  <hr />
  <form id="ligand_form" method="post" action="{% url 'ligand-design' %}" enctype="multipart/form-data" >
    <div class="gray_green_bg"><b style="margin-right:5px">Please choose a name for the new ligand:</b>
      <input class="header_separator" type="text" name="LigName" id="LigName" value="{{ molname }}"><br>
        (only the first 4 characters will be used as a residue name)<br />
        <p style="padding-bottom:20px">Attach this ligand to the current structure<input style="margin-left:10px" type="checkbox" name="attach_check" id="attach_check" {% if attach_check %} checked {% endif %}></p></div>
      <input type="hidden" name="molinfo" id="molinfo" value="{{moldata}}" > <!-- This holds the MOL output from Jmol to spit back out into django -->
      <input type="hidden" name="force_charge" id="force_charge" value="false">
      <input type="hidden" name="force_custom" id="force_custom" value="false"> <!-- Bypasses SDF check in PDB.org -->
      <input type="hidden" name="not_custom" id="not_custom" value="false">
    </form>
  </div>
  <div id="ligbuild_options">
    <div id="jsmol_ligand">
      {% if same_residue %}
      <div id="dialog_sameres_alert" title="Name error">
        <p><span class="ui-icon ui-icon-alert" style="float:left;margin: 0 auto auto 0;"></span>There is
        already a residue with this name on the current structure. Please choose a different name for your ligand.</p>
      </div>
      {% endif %}
      {% if sdf_link %}
      <div id="dialog_confirm_PDB" title="Found residue on PDB.org">
        <p><span class="ui icon ui-icon-alert"></span>Your residue has been found on PDB.org at <a href="{{sdf_link}}">this link.</a>
        <br />
        <span class="table_center"> <img src="http://www.rcsb.org/pdb/images/{{mol_short}}.gif" alt="Residue image"></span>
      </div>
      <div id="dialog_name_alert" title="Name error">
        <p><span class="ui-icon ui-icon-alert" style="float:left;margin: 0 auto auto 0;"></span>
        Please choose a different name for your ligand.</p>
      </div>
      {% endif %}
      {% if mult_alert%}
      <div id="dialog_mult_alert" title="Spin multiplicity error">
        <p><span class="ui-icon ui-icon alert"></span>
        Your molecule has non-singlet spin multiplicity in the high-spin case. Are you sure you want to submit this ligand?
        </p>
      </div>
      {% endif %}
      {% if struct_error %}
      <div id="dialog_struct_error" title="Bad residue name">
      </div>
      {% endif %}
      <div id="dialog_no_name" title="No name">
        <p><span class="ui icon ui-icon alert"></span>Please input a name for your ligand.</p>
      </div>
      <div id="dialog_spec_char_alert" title="Special characters in name">
        <p><span class="ui icon ui-icon alert"></span></p>
      </div>
      <div id="dialog_no_ligand" title="No ligand built">
        <p>Please build a ligand before submitting.</p>
      </div>
    <script type="text/javascript" src="/js/ligand.js"></script>
    <script type="text/javascript">
      if (sdf_link) {
              $(function($) {
          $( "#dialog_name_alert").dialog({
            resizable:false,
            height:200,
            width:600,
            modal:true,
            autoOpen:false,
            buttons:{
            "OK":function(){
            $(this).dialog("close");
            }
          }
        });
      });

      //We include things we still need to template
      $(function($) {
          $( "#dialog_confirm_PDB" ).dialog({
            resizable:false,
            height:470,
            width:700,
            modal:true,
            buttons:{
            "Build ligand from PDB.org": function() {
              document.getElementById("force_custom").value = "true";
              document.getElementById("not_custom").value = "true";
              $( this ).dialog("close");
              normalFormSubmit(false);
            },
            "Build my custom ligand under this name anyway": function() {
              document.getElementById("force_custom").value = "true";
              {% if not mult_alert %}
                normalFormSubmit(false);
              {% endif %}
              $( this ).dialog( "close" );
            },
            "Go back to editing": function() {
              $( this ).dialog( "close" );
              $("#dialog_name_alert").dialog("open");
              }
            }
          });
        });
      }

      //We use a jQuery UI thing because using prototypejs makes things silly.
        var initialscript = 'set antialiasDisplay;set atompicking on;set picking assignatom_C;'
        {% if moldata %}
          initialscript = initialscript + "load {{filepath}}moldata.pdb;";
{% endif %}
        var jmolApplet;
        jmol_isReady = function(applet) {
          $("#jmolApplet_appletdiv").css("z-index",0);
          Jmol._getElement(applet, "appletdiv".style.border="1px solid blue");

        }
        var debug_on = {% if super_user %}false {% else %} true {% endif %};
        var starting_struct_base_path = "/js/jsmol/starting_structs/"; //we store the starting structs on disk so we can test through proxies and avoid HTTPS cross-domain stuff
        var Info = {
          width: 600,
          height: 600,
          debug: false, //Only turn this on when something's wrong with JSmol itself
          addSelectionOptions:true,
          color: 'white',
          use: 'HTML5',
          zIndexBase: 0,
          z: 0,
          j2sPath: '/js/jsmol/j2s/',
          readyFunction: jmol_isReady,
          script: initialscript, //Auto-enables drawing CH3's.
          disableJ2SLoadMonitor: debug_on,
          disableInitialConsole: debug_on,
          console: 'jmolApplet_infodiv',
          serverURL: '/jsmol-scripts/jsmol.php' //NOTE: This NEEDS to be here and NOT in /charmming to sidestep issues with mod_python running everything in /charmming instead of mod_php.
        }
        Jmol.setGrabberOptions([
            ["$", "small molecules at NCI"],
            [":", "small molecules at PubChem"],
            ["==", "ligands at PDB"]
        ]);
        jmolApplet = Jmol.getApplet("jmolApplet", Info);
        {%if not moldata%}
        Jmol.loadFile(jmolApplet, starting_struct_base_path+"methane.sdf")
        {%endif%}
        // Now jmolApplet can be referenced from all the other stuff on this page.
      </script>
    </div>
    <div id="mol_actions">
        <div id="default_mols">
          <h3>Load Default Starting Molecules</h3>
          <hr />
            <button class="button_separator" id="Benzene" onclick="Jmol.loadFile(jmolApplet, starting_struct_base_path+'benzene.sdf')">Benzene</button>
            <button class='button_separator' id="Methane" onclick="Jmol.loadFile(jmolApplet, starting_struct_base_path+'methane.sdf')">Methane</button>
          </div>
        <div id="database_mols">
          <h3>Load Starting Molecule from Database</h3>
          <hr class="header_separator" />
            <script>

              $("#jmolApplet_query").appendTo("#database_mols");
              $("#jmolApplet_select").appendTo("#database_mols");
              $("#jmolApplet_submit").appendTo("#database_mols");
            </script>
          </div>
        <div id="actions">
          <h3>Structure Actions</h3>
          <hr />
            <button onclick="action_save(jmolApplet);">Save</button>
            <button class="button_separator" onclick="action_restore(jmolApplet);">Restore</button>
        </div>
        <div id="mol_edit">
          <h3>Atom Manipulation</h3>
          <hr />
          <button class="button_separator" id="off" onclick="off(jmolApplet);">Off</button>
          <button class="button_separator" id="drag" onclick="drag(jmolApplet);">Drag</button>
          <button class="button_separator" id="del" onclick="del(jmolApplet);">Delete</button>

          <h3>Atom picking</h3>
          <hr />
          <button class="button_separator atom_pick" id="H" >H</button>
          <button class="button_separator atom_pick" id="C" >C</button>
          <button class="button_separator atom_pick" id="N" >N</button>
          <button class="button_separator atom_pick" id="O" >O</button>
          <button class="button_separator atom_pick" id="S" >S</button>
          <button class="button_separator atom_pick" id="P" >P</button>
          <button class="button_separator atom_pick" id="Li" >Li</button>
          <button class="button_separator atom_pick" id="Na" >Na</button>
          <button class="button_separator atom_pick" id="Mg" >Mg</button>
          <button class="button_separator atom_pick" id="K" >K</button>
          <button class="button_separator atom_pick" id="Ca" >Ca</button>
          <button class="button_separator atom_pick" id="Rb" >Rb</button>
          <button class="button_separator atom_pick" id="Cs" >Cs</button>
          <button class="button_separator atom_pick" id="Ba" >Ba</button>
          <button class="button_separator atom_pick" id="Zn" >Zn(II)</button>
          <button class="button_separator atom_pick" id="Cd" >Cd(II)</button>
          <button class="button_separator atom_pick" id="Cl" >Cl</button>
          <button class="button_separator atom_pick" id="Pl" >Increase Charge</button>
          <button class="button_separator atom_pick" id="Mi" >Decrease Charge</button>
        </div>
        <div id="mol_bonds">
          <h3>Bond Manipulation</h3>
          <hr />
          <button class="button_separator" id="n" onclick="setbonds(jmolApplet,this);">Off</button>
          <button class="button_separator" id="0" onclick="setbonds(jmolApplet,this);">Break</button>
          <button class="button_separator" id="1" onclick="setbonds(jmolApplet,this);">Single</button>
          <button class="button_separator" id="2" onclick="setbonds(jmolApplet,this);">Double</button>
          <button class="button_separator" id="3" onclick="setbonds(jmolApplet,this);">Triple</button>
        </div>
        <hr />
        <button id="submit" onclick="normalFormSubmit();">Upload New Ligand</button>
      </div>
      <br />
    </div>
    <br>
{% endblock %}
