{% extends "html/skeleton.html" %}

{% block content %}
<div id="mainpage">
 <div id="mdform">
   <h2 class="center_header">Which properties would you like to generate?</h2>
   <form method="post" action="{% url 'analysis-mdprop' %}">
      <table class="mid_hr table_center align_left">
        <tr><td>Average potential energy</td><td><input type="checkbox" name="getener" value="getener" /></td></tr>
        <tr><td>Average volume</td><td><input type="checkbox" name="getvolu" value="getvolu" /></td></tr>
        <tr><td>Average pressure</td><td><input type="checkbox" name="getpressi" value="getpressi" /></td></tr>
        <tr><td>Average temperature</td><td><input type="checkbox" name="gettemp" value="gettemp" /></td></tr>
        <tr><td>Average kinetic energy</td><td><input type="checkbox" name="gettotk" value="gettotk" /></td></tr>
        <tr><td>Average overall energy</td><td><input type="checkbox" name="gettote" value="gettote" /></td></tr>
      </table>
      <div class="center_header">
        <input type="submit" value="Submit" />
      </div>
   </form>
 </div>
</div>
{% endblock %}
