{% extends "html/skeleton.html" %}

{% block content %}
<div id="maincontent">
  <h1 class="center_header">Molecular Dynamics</h1>
  <hr class="noshade_hr">

  <div class="center_header" id="change_md">
    <form id="md_form" name="md" method="post" action="{% url 'dynamics-md' %}">

        <h2>Working structure: {{ ws_identifier }}</h2>

        {% include "html/taskfiles.html" %}
      <br />

      <hr class="noshade_hr">
      <h2>Select type of run</h2>

      <hr class="mid_hr">

      <div id="menu" class="align_left full_table">
        <table class="qm_table">
          <tr><td> Heating (adds kinetic energy to the system)</td><td><input type="radio" checked id="useheat" value="useheat" name="mdtype" onclick="$('#heat').show();$('#npt').hide();$('#nve').hide();$('#nvt').hide();"></td></tr>
          <tr><td>NVE dynamics (holds energy constant; no temperature control)</td><td><input type="radio" id="usenve" value="usenve" name="mdtype" onclick="$('#heat').hide();$('#npt').hide();$('#nve').show();$('#nvt').hide();"></td></tr>
          <tr><td>NVT dynamics (holds temperature and volume constant)</td><td><input type="radio" id="usenvt" value="usenvt" name="mdtype" onclick="$('#heat').hide();$('#npt').hide();$('#nve').hide();$('#nvt').show();"><td></tr>
          <tr><td>NPT dynamics (holds temperature and pressure constant)</td><td><input type="radio" id="usenpt" value="usenpt" name="mdtype" onclick="$('#heat').hide();$('#npt').show();$('#nve').hide();$('#nvt').hide();"></td></tr>


          {% if canrestart %}
            <tr><td>Restart from previous run</td><td><input type="checkbox" id="dorestart" value="dorestart" name="dorestart" />
          {% endif %}
            <!-- <tr><td>Use Replica Exchange</td><td><input type="checkbox" id="use_replica_exchange" name="use_replica_exchange" value="use_replica_exchange" onClick="checkReplicaExchange(makeUniqueDiv('use_replica_exchange'),makeUniqueDiv('replica_exchange_lines'));"></td></tr>  -->
        </table>

        <div id="replica_exchange_lines" class="full_table hidden">
         <table class="qm_table">
            <tr><td>Exchange frequency: </td><td><input type="text" size=4 name="rex_clean" value="1"></td></tr>
            <tr><td>Enter number of replicas:</td><td> <input type="text" name="num_rex" id="num_rex" value="0" size="4" onKeyUp="writeRexTempLines(makeUniqueDiv('num_rex'),makeUniqueDiv('rex_lines'),makeUniqueDiv('rex_lines'));">
            <div id="rex_lines" class="full_table" style="display:block;padding-left: 0%;"></div>
            </td></tr>
          </table>
        </div>

        <table class="qm_table">
          <tr><td>Use periodic boundary conditions (PBC) with dynamics (you must choose a solvated input structure)</td><td><input type="checkbox" id="usepbc" name="usepbc" value="1" /></td></tr>
          <tr><td>Make a movie</td><td><input type="checkbox" id="make_movie" name="make_movie" value="make_movie"></td></tr>
          <tr><td>Generate the average structure from the MD run</td><td><input type="checkbox" id="gen_avgstruct" name="gen_avgstruct" value="gen_avgstruct"></td></tr>
        </table>

        <center>
          <p class="fontmed">Use shake<input type="checkbox" id="use_shake" name="apply_shake" onclick="checkShake(makeUniqueDiv('use_shake'),makeUniqueDiv('apply_shake'));" checked></p>
          <div id="apply_shake" class="fontmed" >
             {% include 'html/shake_params.html' %}
          </div>
        </center>

      </div>

      <div id="heat" class="hidden align_left full_table">
        <hr class="mid_hr">
        <table class="qm_table">
          <tr><td>Number of steps (NSTEP)</td><td><input type="text" name="nstepht" id="nstepht" value="1000"></td></tr>
          <tr><td>Starting temperature (FIRSTT)</td><td><input type="text" name="firstt" value="210.15"></td></tr>
          <tr><td>Final temperature (FINALT)</td><td><input type="text" name="finalt" value="310.15"></td></tr>
          <tr><td>Temperature increment (TEMINC)</td><td><input type="text" name="teminc" value="10.0"></td></tr>
          <tr><td>Steps between temperature increments (IHTFRQ)</td><td><input type="text" name="ihtfrq" value="100"></td></tr>
          <tr><td>Temperature of bath (TBATH)</td><td><input type="text" name="tbath" value="310.15"></td></tr>
        </table>
      </div>

      <div id="nve" class="hidden align_left full_table">
        <hr class="mid_hr">
        <table class="qm_table">
          <tr><td>Number of steps (NSTEP)</td><td><input type="text" name="nstepnve" id="nstepnve" value="1000" ></td></tr>
          <tr><td>Initital temperature (TSTRUCT)</td><td><input type="text" name="tstruct" value="300"></td></tr>
          <tr><td>Equilibration (IEQFRQ)</td><td><input type="text" name="ieqfrq" value="-1"></td></tr>
        </table>
      </div>

      <div id="nvt" class="hidden full_table align_left">
        <hr class="mid_hr">
        <table class="qm_table">
          <tr><td>Number of steps (NSTEP)</td><td><input type="text" name="nstepnvt" id="nstepnvt" value="1000"></td></tr>
           <tr><td>Nose-hoover thermostat temperature</td><td><input type="text" name="hoovertemp" value="300"></td></tr>
        </table>
      </div>

      <div id="npt" class="hidden align_left full_table">
        <hr class="mid_hr">
        <table class="qm_table">
          <tr><td>Number of steps (NSTEP)</td><td><input type="text" name="nstepnpt" id="nstepnpt" value="1000"></td></tr>
             <tr><td>Nose-hoover thermostat temperature</td><td><input type="text" name="hoovertemp" value="300"></td></tr>
          <tr><td>Pressure piston collision frequency (collisions per picosecond)</td><td><input type="text" name="pgamma" value="0.0"></td></tr>
        </table>
      </div>
      {% include 'html/impsolv.html' %}
      <input style="margin-top:10px" class="big_break" type="submit" value="Apply Molecular Dynamics" />
    </form>
    <script>
      $("#heat").show();
    </script>
      </div>
    </div>
{% endblock %}
