{% extends "html/skeleton.html" %}
{%block extra_scripts %}
  <script type="text/javascript" src="/js/setup_selection.js"></script>
{%endblock%}
{% block content %}
<div id="mainpage">
  <h1 class="center_header">Minimize</h1>
  <hr class="noshade_hr">
  <form id="min_form" method="post"  action="{% url 'minimize' %}">
    <div id='change_min' class="center_header">

        <h2>Working structure: {{ ws_identifier }}</h2>

        {% include "html/taskfiles.html" %}
      <br />
         <hr class="noshade_hr">
         <h2 class="center_header">Minimization Parameters</h2>
         <table class="table_center align_left" style='width:400px'>
           <tr><td><p><label for="sdsteps"> SDSteps</label> </p></td><td class="align_right"><input type="text" name="sdsteps" id="sdsteps" value=100 size=5></td></tr>
           <tr><td><p><label for="abnr"> ABNR</label></p></td><td class="align_right"> <input type="text" name="abnrsteps" id="abnr" value=1000 size=5></td></tr>
           <tr><td><p><label for="tolg"> Gradient tolerance</label></p></td><td class="align_right"> <input type="text" name="tolg" id="tolg" value=0.05 size=5></td></tr>
         </table>
         <hr class="noshade-hr">

         <h2  class="center_header">Other options</h2>
        {% if not cg_model %}
        <p class="fontmed">Use Multi-Scale modeling<input id="useqmmm" type="checkbox" name="useqmmm" onclick="showHideQM();"></p>
            {%comment%}For future devs confused at our choice of id/name - this used to be "Use QM/MM calculations". Feel free to replace all instances of "useqmmm" in the code.
            I'm not doing that until I'm done with my current work, and that may likely not happen.
            ~VS{%endcomment%}
            <table class="qm_table">
              {% include "html/qmmm_params.html" %}
            </table>
            <p class="fontmed">Use Periodic Boundary Conditions (PBC) in minimization<input id="usepbc" type="checkbox" name="usepbc"></p>
        {%endif%}

        {% include 'html/impsolv.html' %}
        <p class="fontmed">Restrain backbone atoms during minimization (note: not compatible with QM/MM)<input type="checkbox" id="use_restraints" name="restrainbb" onclick="checkRestraints(makeUniqueDiv('use_restraints'),makeUniqueDiv('apply_restraints'));"></p>
           <div id="apply_restraints" class="hidden">
             <p class="fontmed">Enter the force constant for restraints on backbone atoms: <input type="text" size="4" name="bbforce" value="100" /> kcal/mol</p><br>
           </div>
          <p class="fontmed">Use shake<input type="checkbox" id="use_shake" name="apply_shake" onclick="checkShake(makeUniqueDiv('use_shake'),makeUniqueDiv('apply_shake'));" checked></p>
          <div id="apply_shake" class="fontmed" >
             {% include 'html/shake_params.html' %}
          </div>
         <hr class="noshade_hr" class="big_break">
         <input type="submit" value="Minimize" class="big_break" />

    </div>
  </form>
</div>

{% endblock %}
