{% extends "html/skeleton.html" %}
{%block extra_scripts%}
<link rel="stylesheet" href="/css/mutate.css" />
{%endblock%}
{%block jsmol_scripts %}
<script type="text/javascript" src="/js/jsmol/JSmol.min.js"></script>
{%endblock%}
{% block content %}
  {% include "html/error_messages.html" %}
  <div id="jsmol">
	<h1 class="center_header">Point-Mutation for Structure {{ structname }}</h1>
	<hr />
    <form id="mutate_form" method="post" action="{% url 'mutation' %}" enctype="multipart/form-data" onsubmit="return send_form_gener('config_form','{% url 'mutation' %}',makeUniqueDiv('Mutating Structure...'));" >
      <div id='task'>
        <h2 class="center_header">Working structure: {{ ws_identifier }}</h2>
          {% include "html/taskfiles.html" %}
        <br />
        </div>
        <div class="gray_green_bg small_break"><b>Please choose a name for the mutated structure:</b><input type="text" name="MutFile" id="MutFile" value="{{ proposedname }}" /> </div><br />
	  <div id="atomselect">
			<div id="select_segment">
				<h3>Select segment name for mutation</h3>
				<select name="MutSegi" id="MutSegi">
				{% for seg in segnames %}
        <option value="{{ seg }}">{{ seg }}</option>
				{% endfor %}
        </select>
        <!-- We count from 0 to make it the same indices...however we will need to fetch innerHTML to get things working right later. -->
			</div>
{%comment%}
so now we have this dictionary with all the possible resids attached to resnames but I haven't a clue how to USE the things...
segs have iter_res(), so we can easily get a bunch of stuff from there
{%endcomment%}
			<div id="select_residue">
        <h3>Select the residue you would like to mutate</h3>
				<select name="MutResName" id="MutResName">
				</select>
			</div>
			<div id="select_resid">
				<h3>Select the residue number</h3>
				<select name="MutResi" id="MutResi">
				</select>
			</div>
			<div id="select_new_residue">
				<h3>Select the new residue at the point of mutation</h3>
				<select name="NewResn" id="NewResn" class="big_break">
				{% for acid in amino_list %}
					<option value="{{ acid }}">{{ acid }}</option>
				{% endfor %}
				</select>
      </div>
      <input type="submit" value="Submit" />
    </div>
		</form>
  </div>
  {% if not no_coords %}
  <div id=jsmol_window style="height:600px">
    {%include 'html/jsmol_initialize.html'%}
    <script type="text/javascript">
    jmolApplet = Jmol.getApplet("jmolApplet", Info);
    var filepath = "/pdbuploads" + "{{filepath}}{{filename}}"; //base filepath. then we need to fetch which  is currently selected...
    var load_filepath = filepath + "{%if isMutated%}-mutation.pdb{%else%}-build.pdb{%endif%}";
    Jmol.script(jmolApplet, "load " + load_filepath + ";slab off; spin off; trace off; set ambient 40; set specpower 40;");
    Jmol.script(jmolApplet, "select none; selectionHalos on;");
    </script>

  </div>
  {% endif %}
</div>

{% comment %}
Incoming block of JavaScript!
Watch for falling JSON.
{% endcomment %}

<script type="text/javascript">
  var segnames = []
  {% for seg in segnames %}
    segnames.push("{{ seg }}");
  {% endfor %}
  var myDictList = {{ dictlist|safe }}; //Now we have the Python dictionary in JS.
  var chain_terminators = {{ chain_terminators|safe }}; // This separates chains for visualization
</script>
  <script type="text/javascript" src="/js/mutation.js"></script>
{% endblock %}
