{% extends 'html/skeleton.html' %}

{% block content %}
<h3>Segment Name: {{ segment }}</h3>
<h3>Residue name: {{ resname }} </h3>
<h3>Residue ID: {{ resid }} </h3>
<h3>New Residue: {{ newresn }} </h3>
<p> Test:
{{ pdb }} </p>
{% endblock%}
