{% extends "html/skeleton.html" %}

{% block content %}
<h1 class="center_header">Download Files</h1>
<h2 class="center_header">Working structure: {{ ws.identifier }}</h2>

<div class='status table_center center_header' style="margin-bottom:r0px">
  <a href="/downloadfiles/downloadtar/">Download a Tar file of all the files associated with this working structure</a>
  <br />
  <br />
  <div id="{{ws.structure.name}}" class="file_holder">
    <!-- Here we will call an AJAX request and feed in the results of scanning the directory for files to put in 
    class file_holder has following properties:
    width:1000px
    height:600px
    This should be enough for most files. We might make it bigger if we realize there's too many.-->
    <p class="loading_tile">Loading...</p>
    <table class="files_table sortable qm_table">
      </table>
  </div>
</div>
<script type="text/javascript" src="/js/download.js"></script>
{% endblock %}

