<head>
  <!--<script src="/js/protoculous-1.0.2-packed.js" type="text/javascript"></script> -->
<script type="text/javascript">
function report_error(form,divtoupdate)
{
  $.ajax({
      url: "/reporterror",
      type:"post",
      data:$(form).serialize(),
      success:function(responseData){
      div_to_change.innerHTML = responseData;}
    });
// new Ajax.Updater(divtoupdate,'/reporterror/',{method:'post', asynchronous:true, parameters:Form.serialize(form)});
  return false;
  }
</script>

</head>
<center>
<div>
<h1>Problem uploading structure!</h1><br>
</center>
We're sorry, your structure cannot be processed. 
  <br/>The problem reported was:
  <br/>prob_string
</div>
<div id='error_report' name='error_report'>
<p style="position:relative;width:500px;">
If you believe you received this message in error, please report this bug using the form below.<br><br>
</p>
<form id="error_form" method="post"  action="." onsubmit="return report_error(this,'error_report');">
Subject:<br>
<input name="subject" type="text">
<br>
<p style="position:relative;width:500px;">
Please tell us some information about your PDB and what happened that resulted in this error:<br>
</p>
<textarea name="errordescription" cols="50" rows="5"></textarea><br>
<br>
<input type="submit" value="Report Error">
</form>
</div>
</body>
