{% extends "html/skeleton.html" %}
{%block extra_scripts %}
  <script type="text/javascript" src="/js/selection.js"></script>
{%endblock%}
{% block content %}
  <h1 class="center_header">Q-Chem job submission</h1>
  <div id="mainpage">
  <hr class="noshade_hr">
  <div class="center_header">
  <form id="ener_form" method="post"  action="{% url 'qchem' %}">
    <h2>Working structure: {{ ws_identifier }}</h2>

      {% include "html/taskfiles.html" %}
      <br />

      <p>Job type:
      <select name="jobtype">
        <option selected value="force">force (energy and gradient)</option>
        <option value="sp">sp (energy)</option>
        <option value="opt">opt (geometry optimization)</option>
      </select></p>
      {%comment%}
      cg_models are NOT ALLOWED here. CG is defining parameters on the atoms....
      {%endcomment%}
      <input type="checkbox" name="symmetry">Use symmetry</input>
      <p>Exchange:
      <select name="exchange">
        <option value="hf" selected>HF</option>
        <option value="b">B</option>
        <option value="b3">B3</option>
      </select></p>
      <p>Charge:
      <select name="charge">
        <option value="-5">-5</option>
        <option value="-4">-4</option>
        <option value="-3">-3</option>
        <option value="-2">-2</option>
        <option value="-1">-1</option>
        <option value="0" selected>0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select></p>
      <p>Correlation:
      <select name="correlation">
        <option value="" selected>None</option>
        <option value="lyp">LYP</option>
      </select></p>
      <p>Basis set:
      <select name="basis">
        <option value="sto-3g">STO-3G</option>
        <option value="3-21g*">3-21G*</option>
        <option value="6-31g*">6-31G*</option>
      </select></p>
      <p>Multiplicity:
      <select name="multiplicity">
        <option value="1" selected>1</option>
        <option value="2" >2</option>
        <option value="3" >3</option>
        <option value="4" >4</option>
        <option value="5" >5</option>
        <option value="6" >6</option>
        <option value="7" >7</option>
        <option value="8" >8</option>
        <option value="9" >9</option>
        <option value="10">10</option>
      </select></p>
      {%comment%}
      QM/MM stuff will come later. We will likely use the same interface as before,
      though probably with slightly more organized code...current QM/MM code is messy
      and can probably be done better.
      {%endcomment%}
      <input type="hidden" name="qm_mm" value="false" />
       <input type="hidden" name="form_submit" value="1" />
       <input type="submit" value="Run Q-Chem on Structure" />
  </form>
</div>
</div>
{% endblock %}
