<hr class="qm_hr">
<p class="model_selection">
Model type:<br>
<input type="radio" id="model_select_qmmm" name="model_selected" value="qmmm" />Additive model (QM/MM)<br>
<input type="radio" id="model_select_oniom" name="model_selected" value="oniom" />Subtractive model (ONIOM/MSCALE)<br>
</p>
<div class="oniom_params">
<hr class="qm_hr">
<p>
    Layers: <select size="1" id="oniom_layers" name="oniom_layers">
      <option value="2" selected>2</option>
      <option value="3">3</option>
    </select>
    </p>
</div>
<div id="dialog_coords_alert" class="hidden" title="No coordinates present.">
  <p><span class="ui-icon ui-icon-alert"></span>
  Please perform at least one calculation on the full atom set before performing QM/MM level simulations.</p>
</div>
<div id="dialog_bad_params" class="hidden" title="Bad QM/MM parameters">
  <p><span class="ui-icon ui-icon-alert"></span>
  The QM/MM parameters from the selection page do not match our regular format. Please use the automated selection provided.
  If you are seeing this message in error, please report this bug.</p>
</div>
<div class="hidden" id="other_inputs_and_functions">
<input type="hidden" value="" id="source" name="source">
<input type="hidden" value="" id="task_id" name="task_id">
<input type="hidden" value="" id="highest_qm_layer" name="highest_qm_layer">
</div>
