<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="/css/custom.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="/js/jsmol/js/JSmoljQuery.js"></script>
<script type="text/javascript" src="/js/jqTableKit.js"></script>

<link rel="stylesheet" type="text/css" media="all" href="/css/jqTableKit.css" />

{% block js%}
 <script type="text/javascript">

function getClassList() {
   teacher_name = document.getElementById('teacher_name').value;
   document.getElementById('class_list').innerHTML = "Getting class list. One moment.";
   $.ajax({
      url: "/accounts/register/student/refreshclasslist/"+teacher_name + "/",
      type:"post",
      async:false,
      success:function(responseData){
      $("#class_list").html(responseData);
      }
    });
//   new Ajax.Updater("class_list","/accounts/register/student/refreshclasslist/"+teacher_name + "/", {method:'post', asynchronous:false});
}

    </script>
{% endblock%}



<title>{% block title %}Reset Password{% endblock %}</title>
</head>

{% block content %}
<body>
{% include 'html/error_messages.html' %}
      <h1 class="center_header">Reset password</h1><br>
      <div style="text-align:center">
      <form action="/accounts/resetpassword/" method="post">
        {% if form.error_dict %}
          <p class="error">Please correct the errors below.</p>
        {% endif %}

        <label for="username">Username:</label><br><input type=text id="username" name="username" onBlur="javascript:this.value=this.value.toLowerCase();" /><br>
        <label for="email">Email Address:</label><br><input type=text id="email" name="email" /><br>
    <br>
    <input type="submit" value="Reset Password" />
    </form>
  </div>
{% endblock %}
</body>
</html>
