{% extends "html/skeleton.html" %}

{% block content %}
<div id="mainpage">
  <h1 class="center_header">Calculate RMSD</h1>

    {% if feedback %}
    <h3 class="center_header" style="color:red">{{ feedback }}</font></h3>
    {% endif %}

    {% autoescape off %}
    {% if prior_matrix %}
      {{prior_matrix}}<br />
    {% endif %}
    {% endautoescape %}
    <div class="center_header">

    <hr class="noshade_hr">
    <h2>Select Structures</h2>
    <br />
    <form id="rmsd_form" method="post"  action="/analysis/rmsd/">
       {% if tasks %}
       <table class="qm_table">
         {% for task in tasks %}
            <tr><td>Coordinates from {{task.action}}&nbsp;<input type="checkbox" name="dotask_{{ task.id }}" checked/></td></tr>
         {% endfor %}
        </table>
       {% endif %}
                                                                    
        <br>


       <table class="qm_table align_left">
         <tr><td><p class="fontmed">Compare all atoms (except bulk waters)</td>
             <td><input type="radio" name="comp_allatom" value="1" onclick="$('#comp_backbone').hide();" checked></td></tr>
         <tr><td><p class="fontmed">Compare only backbone atoms</td>
             <td><input type="radio" name="comp_allatom" value="0" onclick="$('#comp_backbone').show();"></td></tr>
       </table>
       <div id="comp_backbone" class="hidden">
         <table class="qm_table align_left">
           <tr><td colspan="2" class="center_header"><b>Select backbone atoms to be compared</b></td></tr>
           <tr><td>Nitrogen (N)</td><td><input type="checkbox" name="bb_n" checked></td></tr>
           <tr><td>&alpha;-Carbon (CA)</td><td><input type="checkbox" name="bb_ca" checked></td></tr>
           <tr><td>Backbone Carbon (C)</td><td><input type="checkbox" name="bb_c" checked></td></tr>
           <tr><td>Backbone Oxygen (O)</td><td><input type="checkbox" name="bb_o" checked></td></tr>
           <tr><td>Backbone Hydrogen bound to Nitrogen (HN)</td><td><input type="checkbox" name="bb_hn"></td></tr>
           <tr><td>Hydrogen bound to the &alpha;-Carbon (HA)</td><td><input type="checkbox" name="bb_ha"></td></tr>
         </table>
       </div>

       <input type="submit" value="Build RMSD matrix">
       </form>
  </div>
</div>
{% endblock %}
