{% extends 'html/skeleton.html' %}
{%block jsmol_scripts %}
  <link rel="stylesheet" href="/css/atomselect_visualize.css" />
  {% comment %}
  The reason this is loaded in this fashion is to bypass the Google Analytics tracking
  in the bundled version (.min.js)

  TODO: Eventutally this can be removed in favor of the complete bundle
  {% endcomment %}
  <script src="/js/jsmol/JSmoljQueryExt.js" type="text/javascript"></script>
  <script src="/js/jsmol/JSmolCore.js" type="text/javascript"></script>
  <script src="/js/jsmol/JSmolApplet.js" type="text/javascript"></script>
  <script src="/js/jsmol/JSmolApi.js" type="text/javascript"></script>
  <script src="/js/jsmol/JSmolControls.js" type="text/javascript"></script>
  <script src="/js/jsmol/j2sjmol.js" type="text/javascript"></script>
  <script src="/js/jsmol/JSmol.js" type="text/javascript"></script>
  <script src="/js/jsmol/JSmolConsole.js" type="text/javascript"></script>
  <script src="/js/jsmol/JSmolMenu.js" type="text/javascript"></script>
  <script src="/js/jsmol/JSmolThree.js" type="text/javascript"></script>
  <script src="/js/jsmol/JSmolGLmol.js" type="text/javascript"></script>
  <script src="/js/jsmol/JSmolTM.js" type="text/javascript"></script>
  <script type="text/javascript" src="/js/init_jsmol.js"></script>
{%endblock%}
{% block content %}
<!-- REMEMBER! Make new menu. Add atom selection buttons. -->
  <h1 class="center_header">Visualization</h1>
  <br />
<div id="jsmol">
  <div id="jsmol_window">
    {%include 'html/jsmol_initialize.html' %}
    <script>
      var current_layer = {{starting_layer}};
      var total_layers = {{layers}};
      var highest_qm_layer = parseInt($("#highest_qm_layer").val());
      var modelType = "{{modelType}}";
      var chain_terminators = {{chain_terminators|safe}};
      var segmentlist = {{segmentlist|safe}};
      jmolApplet = Jmol.getApplet("jmolApplet", Info);
      Jmol.script(jmolApplet,  "load /pdbuploads/{{filepath}};");
      initializeDisplay();
      //ok now that we've colored the protein parts let's leave in ligands
      Jmol.script(jmolApplet, "selectionhalos on;");
     </script>
     <br />
     {%include "html/display_options.html" %}
  </div>
  <div id="dialog_bad_linkatoms" title="Number of link atoms not an integer">
    <p><span class="ui icon ui-icon-alert" style="float:left;margin 0 auto auto 0;"></span>
    Please input an integer in the "Number of Link Atoms" box.</p>
  </div>
  <div id="dialog_noatoms_alert" title="No atoms chosen">
    <p><span class="ui-icon ui-icon-alert" style="float:left;margin: 0 auto auto 0;"></span>
    Please select at least one atom.</p>
  </div>
  <div id="dialog_too_many_links" title="Too many atoms chosen">
    <p><span class="ui-icon ui-icon-alert" style="float:left;margin: 0 auto auto 0;"></span>
    Please select only one QM/MM host at a time.</p>
  </div>
  <div id="dialog_bad_bond" title="Cannot cut across this bond">
    <p><span class="ui-icon ui-icon-alert" style="float:left;margin: 0 auto auto 0;"></span>
    CHARMMing does not support cutting across bonds that are not C-C. Please select a different
    link atom, or reset your selection and try again.</p>
  </div>
  <div id="dialog_empty_fields" title="Link atoms missing">
    <p><span class="ui-icon ui-icon-alert" style="float:left;margin: 0 auto auto 0;"></span>
    Some of the link atom fields are still empty. Please select all link atoms before submitting.</p>
  </div>
  <div id="dialog_bad_linkatom_input" title="Bad link atom selection">
    <p><span class="ui-icon ui-icon-alert" style="float:left;margin: 0 auto auto 0;"></span>
    Your link atom input does not match the pattern generated by our automatic selector.
    Please use the automatic selection provided on this page.<br />
    If you are encountering this message in error, please report this bug.</p>
  </div>
  <div id="dialog_bad_qm" title="Bad QM selection">
    <p><span class="ui-icon ui-icon-alert" style="float:left;margin: 0 auto auto 0;"></span>
    Your QM host is not in the QM region you selected previously. Please select an atom in your QM region.</p>
  </div>
  <div id="dialog_bad_mm" title="Bad MM selection">
    <p><span class="ui-icon ui-icon-alert" style="float:left;margin: 0 auto auto 0;"></span>
    Your MM host is either in the QM region you selected previously, or is already one of your MM hosts.
    Please select an atom that is not already an MM host, and is not in your QM region.</p>
  </div>
  <div id="dialog_bad_add" title="Bad addition">
    <p><span class="ui-icon ui-icon-alert" style="float:left;margin: 0 auto auto 0;"></span>
    The atom(s) you selected are already in your QM region. Please select atoms outside of this region, or reset your selection.</p>
  </div>
  <div id="dialog_long_link" title="Bad link atom">
    <p><span class="ui-icon ui-icon-alert" style="float:left;margin: 0 auto auto 0;"></span>
    The MM host you selected is over 2 Å from the QM host attached to it. Please cut across a C-C bond on that QM host.</p>
  </div>

  <!-- Buttons go under "atomselect_buttons" div, buttons themselves go in "selectbuttons" div class
  TODO: "grey out" buttons if certain conditions are not met (i.e. no chains, therefore grey out chain button -->
  <h1>Atom Selection Options</h1>
  <hr />
  <div id="atomselect_buttons">
    {%comment%} outermost layer goes first, then the other ones down to 1.{%endcomment%}
    <h2>Select by: </h2>
    <button class="aaddselectbutton" id="atom">Atom</button> <!-- aaddselectbutton is NOT a typo. This is intentional. -->
    <button class="atomselectbutton" id="molecule">Molecule</button>
    <button class="atomselectbutton" id="element" >Element</button>
    <button class="atomselectbutton" id="residue">Residue</button>
    {%comment%}
<!--    <button class="atomselectbutton" id="chain" >Chain</button>
<button class="atomselectbutton" id="site" >Site</button><br> <br>
Chain is useless because JSmol doesn't know about a-bad vs a-good etc., and if not then you may as well use "Molecule" or "Residue" to get the whole chain
I have no idea what site does, it seems to be equivalent to atom. EIther way, these aren't things we want to use.
-->
{%endcomment%}
    <hr>
    <button class="atomselectbutton layer_update" onclick="submit_atomselect(false);return false;">Submit Selection</button>
    <button class="atomselectbutton layer_update" onclick="submit_atomselect(true);return false;">Submit Selection (with attached nonpolar H)</button>
    <button class="addselectbutton layer_update" id="add" onclick="add_atomselect();return false;" style="display:none">Add to Selection</button>
    <button class="resetbutton layer_update" id="reset" onclick="reset_select(true);return false;">Reset Selection</button>
  </div>
    <form id="atomselect_form" method="post" action="/selection/" onsubmit="return false;" enctype="multipart/form-data"> <!-- change the return false later -->
      <div id="atom_selection_inputs{%if layers > 1%}_layer_{{starting_layer}}{%endif%}">
        {% if modelType == "qmmm" %}
        <input class="removable_copies" type="hidden" name="exchange" id="exchange" value="{{exchange}}">
        <input class="removable_copies" type="hidden" name="charge" id="charge" value="{{charge}}">
        <input class="removable_copies" type="hidden" name="correlation" id="correlation" value="{{correlation}}">
        <input class="removable_copies" type="hidden" name="basis_set" id="basis_set" value="{{basis_set}}">
        <input class="removable_copies" type="hidden" name="multiplicity" id="multiplicity" value="{{multiplicity}}">
        {%else%}
        {%comment%} I'm tired of the layers == 2 case. {%endcomment%}
        {% for layer in layer_values %}
        <input class="removable_copies" type="hidden" name="exchange_layer_{{layer.0}}" id="exchange_layer_{{layer.0}}" value="{{layer.1}}">
        <input class="removable_copies" type="hidden" name="charge_layer_{{layer.0}}" id="charge_layer_{{layer.0}}" value="{{layer.2}}">
        <input class="removable_copies" type="hidden" name="correlation_layer_{{layer.0}}" id="correlation_layer_{{layer.0}}" value="{{layer.3}}">
        <input class="removable_copies" type="hidden" name="basis_set_layer_{{layer.0}}" id="basis_set_layer_{{layer.0}}" value="{{layer.4}}">
        <input class="removable_copies" type="hidden" name="multiplicity_layer_{{layer.0}}" id="multiplicity_layer_{{layer.0}}" value="{{layer.5}}">
        {%endfor%}
        {%comment%}Per layer stuff. It doesn't matter where these are stored so long as they are somewhere in the postdata, so putting them here is fine.{%endcomment%}
        {%endif%}
        {%comment%}The hidden fields below are not layer-dependent, so we include them after the if{%endcomment%}
        <input class="removable_copies" type="hidden" name="modelType" id="modelType" value="{{modelType}}">
        <input class="removable_copies" type="hidden" name="layers" id="layers" value="{{layers}}">
        <input class="removable_copies" type="hidden" name="source" id="source" value="{{source}}">
        <input class="removable_copies" type="hidden" name="task_id" id="task_id" value="{{task_id}}">
        <input class="removable_copies" type="hidden" name="highest_qm_layer" id="highest_qm_layer" value="{{highest_qm_layer}}">
        <h2 {% if modelType == "oniom"%} id="header_layer_{{starting_layer}}" class="layer_update">Layer {{starting_layer}}{%else%}>QM region{%endif%} atom selection:</h2>
        {% if modelType == "oniom" %}
          <input class="layer_update" type="text" name="atomselection_layer_{{starting_layer}}" id="atomselection_layer_{{starting_layer}}" readonly value="">
        {% else %}
          <input type="text" name="atomselection" id="atomselection" readonly value="">
        {%endif%}
        <br />
        {% if highest_qm_layer >= starting_layer %}
        <hr>
        <h2 {%if modelType == "oniom"%} id="linkatom_header_layer_{{starting_layer}}" class="layer_update" {%endif%}>Input number of link atoms{%if modelType == "oniom" %} for Layer {{starting_layer}}{%endif%}:</h2>
        {%if modelType == "oniom"%}
        <input type="text" class="layer_update" name="linkatom_num_layer_{{starting_layer}}" id="linkatom_num_layer_{{starting_layer}}" value="0">
        {%else%}
          <input type="text" name="linkatom_num" id="linkatom_num" value="0">
        {%endif%}
        <button class="selectbutton" onclick="submit_linkatoms();return false;">Submit Number</button>
        <br />
        <!-- TODO: Make this box smaller! -->
        {% if modelType == "oniom" %}
          <div class="layer_update" id="linkatom_inputs_layer_{{starting_layer}}" style="display:none">
        {% else %}
          <div id="linkatom_inputs" name="linkatom_inputs" style="display:none">
        {% endif %}
        <hr class="removable_copies">
        {%endif%}
      </div>
      <hr>
      </div>
      </div>
  <!--  <p class="fontmed"><b>WARNING:</b> Maximizing the JSmol window can lead to very slow selection. We recommend keeping the window at 600x600 or lower for best results.</p> -->
</form>
  </div>
<script type="text/javascript" src="/js/selection.js"></script>
{% endblock %}
