<!DOCTYPE html>
<head>
  <title>{% block title %} CHARMMing Web interface, developed by the Laboratory of Computational Biology {% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <script type="text/javascript" src="{{ STATIC_ROOT }}/js/ajax.js"></script>
    <script type="text/javascript" src="{{ STATIC_ROOT }}/js/sdmenu/sdmenu.js"></script>
    <script type="text/javascript" src="{{ STATIC_ROOT }}/js/custom.js"></script>
    <script type="text/javascript" src="{{ STATIC_ROOT }}/js/emap.js"></script>
    <script type="text/javascript" src="{{ STATIC_ROOT }}/js/jquery-2.0.3.js"></script>
    {% block jsmol_scripts %} {%endblock%}
    <script type="text/javascript" src="{{ STATIC_ROOT }}/js/jqTableKit.js"></script>
    <script type="text/javascript" src="{{ STATIC_ROOT }}/js/jquery.periodicalupdater.js"></script>
    <script type="text/javascript" src="{{ STATIC_ROOT }}/js/jquery-ui/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ STATIC_ROOT }}/js/status.js"></script>

    {% asset 'css' 'index' "[('id','css')]" %}
    <link rel="icon" type="image/x-icon" href="{{ STATIC_ROOT }}/images/charmming-css/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_ROOT }}/images/charmming-css/favicon.ico" />
    <script src="/js/hotswap.js"></script>
</head>

<body>
  {%  include 'html/error_messages.html' %}
  {%  comment %}
  Including error_messages here allows ANY page working under the CHARMMing skeleton to access it - i.e. basically everything.
  This way we both encourage staying on skeleton and also allow fancy error messages everywhere.
  {%  endcomment %}
  <div id="wholepage">

   <div id="header" style="margin: 0 auto;"></div>

   <div id="body">
      <div id="sidebar">
        <div id="my_menu" class="sdmenu">
          <div>
            <span>Basic functions</span>
            <a title="CHARMMing usage information and credits." href="{% url 'about' %}">About CHARMMing</a>
          </div>
          <div>
            <span>Structures</span>
            <a href="{% url 'file-upload' %}">Submit Structure</a>
            <a href="{% url 'view-pdbs' %}">Change/Delete Structures</a>
            <a href="{% url 'build-struct' %}">Build/Select Working Structure</a>
            <a href="{% url 'ligand-design' %}">Build Custom Ligand</a>
            <a href="{% url 'download' %}">Download Files/View Inputs and Outputs</a>
            <a href="{% url 'visualize' %}">Visualize system</a>
      	    <a href="{% url 'mutation' %}">Modify Structure by Point-Mutation</a>
          </div>
          <div class="collapsed">
            <span>Calculations</span>
            <a href="{% url 'energy' %}">Energy</a>
            <a href="{% url 'minimize' %}">Minimize</a>
            <a href="{% url 'solvate' %}">Solvate</a>
            <a href="{% url 'normalmodes' %}">Normal Modes</a>
            <a href="{% url 'dynamics-md' %}">Molecular Dynamics</a>
            <a href="{% url 'dynamics-ld' %}">Langevin Dynamics</a>
            <a href="{% url 'qchem' %}">Q-Chem</a>
          </div>
          <div class="collapsed">
            <span>Analyses</span>
            <a href="{% url 'analysis-mdprop' %}">MD Properties</a>
            <a href="{% url 'analysis-rmsd' %}">RMSD calculator</a>
            <a href="{% url 'analysis-redox' %}">Redox</a>
            <a href="{% url 'analysis-natq' %}">KT-Go native contacts</a>
            <a href="{% url 'analysis-propka' %}">PROPKA</a>
          </div>
          <div class="collapsed">
            <span>Docking</span>
             <a href="{% url 'dds-new-ligand' %}">Ligand Upload</a>
             <a href="{% url 'dds-view-ligands' %}">View Ligands</a>
             <a href="{% url 'dds-view-ligand-sets' %}">Ligand Sets</a>
             <a href="{% url 'ddi-binding' %}">Create New Binding Site</a>
             <a href="{% url 'ddi-dsf-form' %}">Launch Docking Job</a>
             <a href="{% url 'ddi-view-jobs' %}">View Jobs/Results</a>
          </div>
      	  <div class="collapsed">
            <span>QSAR</span>
             <a href="{% url 'assay-search' %}">Download Pubchem Assays</a>
             <a href="{% url 'qsar-model' %}">Create New Model</a>
             <a href="{% url 'qsar-models' %}">View Models</a>
             <a href="{% url 'qsar-jobs' %}">View Jobs/Results</a>
           </div>
          <div class="collapsed">
          <span> Lessons </span>
          <a href="{% url 'lesson-maker' %}">Complete Recorded Lesson</a>
              <a href="{% url 'lesson1' %}">1. Intro to simulations</a>
              <a href="{% url 'lesson2' %}">2. Simulating proteins</a>
              <a href="{% url 'lesson3' %}">3. SGLD, sequences</a>
              <a href="{% url 'lesson4' %}">4. Custom RTF, QM/MM</a>
              <a href="{% url 'lesson5' %}">5. Coarse-grain models</a>
              <a href="{% url 'lesson6' %}">6. Redox calculation</a>
              <a href="{% url 'lesson7' %}">7. Docking</a>
              <a href="{% url 'lesson8' %}">8. Simulating Protein-Ligand Complexes with QM/MM Methods</a>
          </div>

          <div>
            <span>Account</span>
            <a title="Change Password" href="{% url 'change-password' %}">Change Password</a>
            <a title="Logout" href="{% url 'logout' %}">Logout</a>
          </div>
        </div>


        <div id="statuscontainer">
          <div id="statusreport" class="status"></div>
        </div>

        <div id="lessoncontainer">
          &nbsp;
          <div id="lessonreport" class="status"></div>
        </div>

      </div>

      <div id="content">
         {%  block content %}
           {% include "html/intro.html" %}
         {%  endblock %}
      </div>

   </div>

   <div id="chmfooter" style="margin: 0 auto;"></div>

 </div>

    {% block extra_scripts %} {%endblock%}
<script type="text/javascript" src="/js/skeleton.js"></script>
</body>

</html>


