<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>View/Edit PDBs</title>

    <script type="text/javascript">
        var GB_ROOT_DIR = "/greybox/greybox/";
    function deleteStudent(username)
    {
     new Ajax.Request('/teachers/deletestudent/' + username + '/',{method:'post',asynchronous:false});
     alert('hi');
    }

    </script>

<link rel="stylesheet" type="text/css" media="all" href="/tablekit/tablestyle.css" />
<script type="text/javascript" src="/js/protoculous-1.0.2-packed.js"></script>
<script type="text/javascript" src="/js/tablekit/fastinit.js"></script>
<script type="text/javascript" src="/js/tablekit/tablekit.js"></script>
    <script type="text/javascript" src="/js/greybox/AJS.js"></script>
    <script type="text/javascript" src="/js/greybox/AJS_fx.js"></script>
    <script type="text/javascript" src="/js/greybox/gb_scripts.js"></script>
    <link href="/css/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>

<center>
<h1>Student Progress</h1>
</center>
<div class='status'>
<body>
<center>

<table class="sortable resizable" border=2 style="text-align:center;">
<tr><th>Name</th><th>Username</th><!--<th>Current Lesson</th>--!></tr>
{% for student in student_list %}
<tr><td>{{ student.student.first_name }} {{student.student.last_name}}</td><td> {{student.student.username}}</td>
<!--<td><a href="#" onclick="deleteStudent('{{student.student.username}}');">Remove</a></td>--></tr>
{% endfor %}
</table>
</div>
</center>
</body>
