{% extends "html/skeleton.html" %}

{% block content %}
<h3 class="center_header">New working structure: {{wsname}}</h3>

<div style="text-align:left;">
  <!--<p>I hope you're happy now, Yuri!</p> -->
  <p>Working structure modified successfully.</p>
</div>
{% endblock %}
