{% if tasks %}
  <table id="test" class="task_table">
  {% for task in tasks %}
    {% if selection %}
      {% if task == selection.task %}
      <tr><td><input type="radio" name="ptask" id="{{task.action}}" value="{{ task.id }}" checked /></td><td>Coordinates from {{ task.action }} {{selection.selectionstring}}</td></tr>
      {% else %}
      <tr><td><input type="radio" name="ptask" id="{{task.action}}" value="{{ task.id }}"  /></td><td>Coordinates from {{ task.action }}</td></tr>
      {% endif %}  
    {% else %}    
      {% if forloop.first %}
      <tr><td><input type="radio" name="ptask" id="{{task.action}}" value="{{ task.id }}" checked /></td><td>Coordinates from {{ task.action }}</td></tr>
      {% else %}
      <tr><td><input type="radio" name="ptask" id="{{task.action}}" value="{{ task.id }}" /></td><td>Coordinates from {{ task.action }}</td></tr>
      {%comment%}      <!-- Note - we can change all our code for radio buttons to use $('input:radio') and then not have to bother checking name="ptask".
      That way we also don't have to keep task.action in id for fancy JS stuffs. However it is a bit problematic in other ways. --> {%endcomment%}
         {% endif %}
    {% endif %}
  {% endfor %}
  </table>
{% endif %}

