{% extends "html/skeleton.html" %}

{% block content %}
<div id="mainpage">
  <h3 align="center">Unauthorized</h3>

<p>We're sorry, but you are not authorized to perform the selected action.</p>
</div>
{% endblock %}
