{% extends "html/skeleton.html" %}

{% block content %}
<div class="status center_header" id="mainpage">
<h1>View Process Files</h1>
<hr class="half">

  {% for header in headers %}
  <div id="collapse-{{ header }}">
        <table class="table_center small_table">
         <tr>
         <td class="name_field"><button onclick="hideFileList('{%ifequal header "Segment setup"%}setup{%else%}{{header}}{%endifequal%}');">+</button></h3></td>
         <td class="desc_header"><h3>{{ header }} files</h3></td>
         </tr>
        </table>
    </div>
   <div id="{{ header }}" class="hidden">
     <table class="sortable resizable align_left normal_border table_center" style="width:40%;">
       {% for file in files %}
          {% ifequal file.0 header %}
             <tr>
               <td><a href="/viewprocessfiles/viewfile/{{file.1}}">{{ file.1 }}</a></td>
               <td>{{ file.2 }}</td>
             </tr>{% endifequal %}{% endfor %}
     </table>
    </div>
   {% endfor %}
</div>
{% endblock %}
