{% extends "html/skeleton.html" %}

{% block content %}
<div id="mainpage" class="big_break">
  <h1 class="center_header">Select/Edit PDB</h1>

  <div class="status">

    <form method="post" action=".">
    <table id="viewpdbtable" class="sortable resizable table_center full_table normal_border">
       <tr><th>Name</th><th>Title</th><th>Date</th><th>Select this PDB</th><th>Delete <br> <a class="killAllPDB" href="">All Files</a></th></tr>
       {% for PDB in user_pdbs %}
            <tr>
              <td> {{PDB.name}} </td><td> {{ PDB.title }} </td> 
              <td> {{ PDB.pub_date }} </td>
          <td> <input type="radio" name="viewpdbs" class="select_pdb" id="{{ PDB.name }}" {%ifequal PDB.selected "y" %}checked{%endifequal%}></td>
          <td> <a href="" id="{{PDB.name}}" class="killPDB">X</a></td></tr>
       {% endfor %}
    </table>
    </form>
  </div>
</div>
{% endblock %}
{%block extra_scripts%}
<script type="text/javascript" src="/js/viewpdbs.js"></script>
{%endblock%}
