{% extends "html/skeleton.html" %} 
{% block content %}
<div id="mainpage" class="center_header">
  <h1>Visualize Structures</h1>
  <hr style="width:50%">

  <form method="post" action=".">
    <table class="sortable resizable normal_border table_center mid_hr">
        <tr><th>Filename</th><th>Description</th><th>View in JSmol</th><th>View in GLmol</th></tr>
        {% for file in filelst %}
        <tr><td>{{ file.0 }}</td><td>{{ file.1 }}</td><td><a href="/jmolview/{{ file.0 }}">View</a></td><td><a target="_blank" href="/glmolview/{{ file.0 }}">View</a> </td></tr>
        {% endfor %}
     </table>
  </form>
</div>
{% endblock %}
