<!DOCTYPE html>
<head>
  <title>{% templatetag openblock %} block title {% templatetag closeblock %} CHARMMing Web interface, developed by the Laboratory of Computational Biology {% templatetag openblock %} endblock {% templatetag closeblock %}</title>
    <script type="text/javascript" src="/js/ajax.js"></script>
    <script type="text/javascript" src="/js/sdmenu/sdmenu.js"></script>
    <script type="text/javascript" src="/js/custom.js"></script>
    <script type="text/javascript" src="/js/emap.js"></script>
    <script type="text/javascript" src="/js/jquery-2.0.3.js"></script>
    {% templatetag openblock %} block jsmol_scripts {%templatetag closeblock %} {%templatetag openblock %}endblock{% templatetag closeblock %}
    <script type="text/javascript" src="/js/jqTableKit.js"></script>
    <script type="text/javascript" src="/js/jquery.periodicalupdater.js"></script>
    <script type="text/javascript" src="/js/jquery-ui/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/status.js"></script>


    {% templatetag openblock %} asset 'css' 'index' {% templatetag closeblock %}
    <link rel="icon" type="image/x-icon" href="/images/charmming-css/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/charmming-css/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/js/jquery-ui/jquery-ui.css" />
</head>

<body>
  {% templatetag openblock %}  include 'html/error_messages.html' {% templatetag closeblock %}
  {% templatetag openblock %}  comment {% templatetag closeblock %}
  Including error_messages here allows ANY page working under the CHARMMing skeleton to access it - i.e. basically everything.
  This way we both encourage staying on skeleton and also allow fancy error messages everywhere.
  {% templatetag openblock %}  endcomment {% templatetag closeblock %}
  <div id="wholepage">

   <div id="header" style="margin: 0 auto;"></div>

   <div id="body">
      <div id="sidebar">
        <div id="my_menu" class="sdmenu">
          <div>
            <span>Basic functions</span>
            <a title="CHARMMing usage information and credits." href="/about/">About CHARMMing</a>
          </div>
          <div>
            <span>Structures</span>
            <a href="/fileupload/">Submit Structure</a>
            <a href="/viewpdbs/">Change/Delete Structures</a>
            <a href="/buildstruct/">Build/Select Working Structure</a>
            <a href="/ligand_design/">Build Custom Ligand</a>
            <a href="/download/">Download Files/View Inputs and Outputs</a>
            <a href="/visualize/">Visualize system</a>
      	    <a href="/mutation/">Modify Structure by Point-Mutation</a>
          </div>
          <div class="collapsed">
            <span>Calculations</span>
            <a href="/energy/">Energy</a>
            <a href="/minimize/">Minimize</a>
            <a href="/solvate/">Solvate</a>
            <a href="/normalmodes/">Normal Modes</a>
            <a href="/dynamics/md/">Molecular Dynamics</a>
            <a href="/dynamics/ld/">Langevin Dynamics</a>
            <a href="/qchem/">Q-Chem</a>
          </div>
          <div class="collapsed">
            <span>Analyses</span>
            <a href="/analysis/mdprop/">MD Properties</a>
            <a href="/analysis/rmsd/">RMSD calculator</a>
            <a href="/analysis/redox/">Redox</a>
            <a href="/analysis/natq/">KT-Go native contacts</a>
            <a href="/analysis/propka/">PROPKA</a>
          </div>
          <div class="collapsed">
            <span>Docking</span>
             <a href="/dd_substrate/ligandfileupload/">Ligand Upload</a>
             <a href="/dd_substrate/viewligands/">View Ligands</a>
             <a href="/dd_substrate/viewligandsets/">Ligand Sets</a>
             <a href="/dd_infrastructure/bindingsite/">Create New Binding Site</a>
             <a href="/dd_infrastructure/dsfform/">Launch Docking Job</a>
             <a href="/dd_infrastructure/viewjobs/">View Jobs/Results</a>
          </div>
	  <div class="collapsed">
            <span>QSAR</span>
             <a href="/assays/search/">Download Pubchem Assays</a>
             <a href="/qsar/newmodel">Create New Model</a>
             <a href="/qsar/viewmodels/">View Models</a>
             <a href="/qsar/viewjobs/">View Jobs/Results</a>
           </div>
          <div class="collapsed">
          <span> Lessons </span>
          <a href="/lesson_maker/">Complete Recorded Lesson</a>
            {%for lesson in lessons %}blankme
              <a href="/lessons/lesson{{lesson.name}}">{{lesson.name}}. {{lesson.title}}</a>
            {%endfor%}blankme
          </div>

          <div>
            <span>Account</span>
            <a title="Change Password" href="/accounts/changepassword/">Change Password</a>
            <a title="Logout" href="/accounts/logout/">Logout</a>
          </div>
        </div>


        <div id="statuscontainer">
          <div id="statusreport" class="status"></div>
        </div>

        <div id="lessoncontainer">
          &nbsp;
          <div id="lessonreport" class="status"></div>
        </div>

      </div>

      <div id="content">
         {% templatetag openblock %}  block content {% templatetag closeblock %}
           {% templatetag openblock %} include "html/intro.html" {% templatetag closeblock %}
         {% templatetag openblock %}  endblock {% templatetag closeblock %}
      </div>

   </div>

   <div id="chmfooter" style="margin: 0 auto;"></div>

 </div>

    {% templatetag openblock %} block extra_scripts {% templatetag closeblock %} {% templatetag openblock %}endblock{% templatetag closeblock %}
<script type="text/javascript" src="/js/skeleton.js"></script>
</body>

</html>

