{% extends 'html/skeleton.html' %}
{% block content %}
<script type="application/javascript">
   var filename_request;
   var is_download = true;
   $(document).ready(function () {
    filename_request = "pubchem-"
    var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
    for( var i=0; i < 5; i++ )
        filename_request += possible.charAt(Math.floor(Math.random() * possible.length));
    });
    filename_request += ".sdf";

    function LaunchUpdater()
    {
      $("#myform").PeriodicalUpdater('/assays/progress/',
        {
         async:true,
         method: 'post',
         multiplier:5,
         minTimeout:100,
         maxTimeout:2000,
         type: 'text',
         data: {filename:filename_request}
        },
        function(remoteData, success, xhr, handle)
        {
         num = parseInt(remoteData, 10);
         if (num >= 0)
         {
           NProgress.done();
           handle.stop();
           if (num > 0)
           {
            if (is_download)
             {
              $('#myform').attr('action', '{% url download %}');
             }
            else
             {
              $('#myform').attr('action', '{% url cont %}');
             }
            $('[name=num_mols]').val(num);
            $('#myform').submit();
            if (is_download)
            	$('#myform').attr('action', '{% url assays %}');
           }
           else
           {
           	alert("Empty file returned");
           }
         }
        }
       );
    }


    function submitDownload()
      {
        NProgress.start();
        $('[name=filename_request]').val(filename_request);
        $.post('{% url assays %}', $('#myform').serialize());
        LaunchUpdater();
      }

    function submitDownload1()
      {
       is_download = true;
       submitDownload();
      }
    function submitDownload2()
      {
        is_download = false;
        submitDownload();
      }
</script>

		<form id='myform' name='myform' action="{% url assays %}" method="post">
			{% csrf_token %}
			{% for hidden in form.hidden_fields %}
			{{ hidden }}
			{% endfor %}

                        {{ form.assays }}

			<p>
			  {{ form.remove }}
			  Remove Inconclusive Assay Results
			</p>
        <p>
	{% if form.has_prev %}
	<input type="submit" name="prev" value="<<<" />
	{% else %}
	<input type="submit" name="prev" value="<<<" disabled />
	{% endif %}
	{{ form.begin }} to {{ form.end }} of {{ form.display_total }}
	{% if form.has_next %}
        <input type="submit" name="next" value=">>>" />
        {% else %}
        <input type="submit" name="next" value=">>>" disabled />
        {% endif %}
        </p>
  <p>
        <input type="submit" name="back" value="Back" />
        <input type="button" id="download" name="download" value="Download"  onclick="submitDownload1()" />
        <input type="button" name="continue" value="Continue to QSAR"        onclick="submitDownload2()" />
        </p>
        </form>

{% endblock %}
