{% extends 'html/skeleton.html' %}
{% block content %}

		<form action="{% url 'assay-search' %}" method="post">
			{% csrf_token %}
                        <table>
			<tr><td><label for="query"> Query Pubchem Assay
                        Database </label></td><td>{{ form.query }}</td></tr>
			</table>
			</p>
			<p><input type="submit" value="Search" /></p>
		</form>

{% endblock %}
