{% extends 'html/skeleton.html' %}
{% block content %}
<script type="application/javascript">
$(document).ready(function () {
 $('#id_model_type1').show();
 $('#id_model_type2').hide();
 $('#id_model_type1').attr('name','model_type')
 $('#id_model_type2').attr('name','model_type2')

$('input:radio[name=group1]').change(function() {
  if ($(this).val() == "Categorization")
  {
   $('#id_model_type1').show();
   $('#id_model_type2').hide();
   $('#id_model_type1').attr('name','model_type')
   $('#id_model_type2').attr('name','model_type2')
  }
  else
  {
   $('#id_model_type1').hide();
   $('#id_model_type2').show();
   $('#id_model_type1').attr('name','model_type1')
   $('#id_model_type2').attr('name','model_type')
  }
 });

});
</script>


		<!-- Upload form. Note enctype attribute! -->
		<form action="{% url 'qsar-model' %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
                        <font color="Red">{{ message }}</font>
                        <table>
                        <tr><td><label for="id_model_type">Select Model Type</label></td>
                        <td> <input type="radio" name="group1" value="Categorization" checked> Categorization
                        <input type="radio" name="group1" value="Regression">  Regression</td>
                        </tr>
                        <tr>
                            <td colspan=2>{{ form.model_type1 }} {{ form.model_type2 }}</td>
                        </tr>
			<tr><td><label for="model_name"> Model Name </label></td><td>{{ form.model_name }}</td></tr>
			</table>
			<p>{{ form.non_field_errors }}</p>
			<p>{{ form.trainfile.label_tag }} <br> {{ form.trainfile.help_text }}</p>
			<p>
				{{ form.trainfile.errors }}
				{{ form.trainfile }}
			</p>
			<p><input type="submit" value="Upload" /></p>
		</form>
<p>
<a href="http://scikit-learn.org/stable/supervised_learning.html"> Technical
		description of machine learning methods</a>
</p>
{% endblock %}
