{% extends "html/skeleton.html" %}

{% block content %}
<div id="mainpage">
  <link href="/css/custom.css" rel="stylesheet" type="text/css" media="all" />
<center>
<h1>Available QSAR Models</h1>
</center>
<div class='status'>
<body>
<center>

<form method="post" enctype="multipart/form-data" action=".">
{% ifnotequal message "" %}
<font color="Red">{{ message }}</font>
{% endifnotequal %}

<table class="sortable resizable" border=2 width="100%">
<tr><th>Model ID</th><th>Name</th><th>Model Type</th><th>Current Status</th><th>Model Attributes</th><th>Predict</th></tr>
{% for model in models %}
           <tr>
           <td align = "center" width ="50">{{ model.object_owner_index }}</td>
           <td align = "center"><font size='2'>{{model.object_name}}</font></td>
           <td align="center" width = "250">{{ model.object_type }}</td>
           <td align="center" width = "80">{{ model.object_status|safe }}</td>
	   <td align="center">
               <table>
               {% for attribute in model.attributes %}
                   <tr>
                   <td>{{ attribute.attribute.attribute_short_name }}:</td>
                   <td>{{ attribute.value }}</td>
                   </tr>
               {% endfor %}
               </table>


           {% ifequal model.object_status "<font color='Green'>Ready</font>" %}

           <td align = "center" width ="400"><input type="file" name="predict_file_{{model.object_id}}" size="10"><input type="submit" value="Predict"></td>
           {% endifequal %}
	   </tr>
{% endfor %}
</table>
</form>
</div>
</center>


{% endblock %}
