
<table class="sortable resizable" border=2>
<tr><th>Job ID</th><th>Description</th><th>Job Type</th><th>Current Status</th><th>Submitted</th><th>Total time</th><th>Recall/Precision or R<sup>2</sup></tr>
{% for job in jobs %}
           <tr>
           <td align = "center" width ="50">{{ job.owner_index }}</td>
           <td><font size='2'>{{job.description}}</font></td>
           <td align="center" width = "80">{{ job.type }}</td> 
           <td align="center" width = "80">{{ job.status|safe }}</td>
	   <td align="center"><font size='2'>{{ job.queued }}</font></td>
	   <td align="center"><font size='2'>{{ job.totaltime }}</font></td>
	   <td align="center"><font size='2'>{{ job.output_data }}</font></td>
           <td align = "center" width ="100">
              {% ifequal job.type 'Predict' %}<a href="/qsar/downloadqsarresults/{{job.owner_index}}">Download Results</a> {% endifequal %}
              
              {% ifequal job.type 'Train' %}
                  
                  {% ifequal job.status "<font color='Green'>Done</font>" %}<a href="/qsar/viewmodeldetails/{{job.model_id}}">View Model</a>{% endifequal %}
              {% endifequal %}

           </td>
              
           </tr>
{% endfor %}
</table>
