{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title|escape }} | {% trans 'Django site admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'CHARMMing administration' %}</h1>
{% endblock %}

{% block userlinks %}<a href="/admin/statistics">Statistics</a> / <a href="/admin/unapproved/">Unapproved users</a> / <a href="doc/">{% trans 'Documentation' %}</a> / <a href="password_change/">{% trans 'Change password' %}</a> / <a href="logout/">{% trans 'Log out' %}</a>{% endblock %}

{% block nav-global %}{% endblock %}
