{% extends "layout.html" %}

{% block title %} Administration {% endblock %}

{% block content %}
<div class="row">
  <div class="users">
    <div class="title">
      <a href="{% url admin.users %}">Users</a> <a class="right button" href="{% url admin.user.new %}">New</a>
    </div>
    <div>
      {{ recent_users|length }} most recently active user{% if recent_users|length > 1 %}s{% endif %}
      <table>
        <thead>
          <tr>
            <td>Username</td>
            <td>Last Active</td>
            <td>Number Sessions</td>
          </tr>
        </thead>
        <tbody>
          {% for user in recent_users %}
            <tr>
              <td><a href='{% url admin.user id=user.user__id %}'>{{ user.user__username }}</a></td>
              <td>{{ user.last_accessed }}</td>
              <td>{{ user.session_count }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class='program-sets'>
    <div class='title'>
      Program Sets <a class="right button" href='{% url admin.program_set.new %}'>New</a>
    </div>
    <div>
      {% if program_sets %}
        <table>
          <thead>
            <tr>
              <th>Name</td>
              <th>Description</td>
              <th>Number Programs</td>
            </tr>
          </thead>
          <tbody>
            {% for set in program_sets %}
              <tr>
                <td>{{ set.name }}</td>
                <td>{{ set.description }}</td>
                <td>{{ set.programs_count }} program{% if set.programs_count != 1 %}s{% endif %}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        You currently have no defined program sets.
      {% endif %}
    </div>
  </div>
</div>
<div class='row'>
  <div class='programs'>
    <div class='title'>
      Programs {% if program_sets %} <a class='right button' href='{% url admin.program.new %}'>New</a> {% endif %}
    </div>
    <div>
      {% if program_sets %}
      {% if programs %}      
        <table>
          <thead>
            <tr>
              <td>Name</td>
              <td>Description</td>
              <td>Program Set</td>
              <td>Enabled</td>
            </tr>
          </thead>
          <tbody>
            {% for program in programs %}
              <tr>
                <td>{{ program.name }}</td>
                <td>{{ program.description }}</td>
                <td>{{ program.program_set__name }}</td>
                <td>{{ program.enabled }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        No programs currently defined.
      {% endif %}
      {% else %}
        Before you can define a program, you must have a created program set. Please <a href='{% url admin.program_set.new %}'>create a program set</a> first.
      {% endif %}
    </div>
  </div>
  <div class='tasks-list'>
    <div class='title'>
      Tasks {% if program_sets %} <a class='right button' href='{% url admin.task.new %}'>New</a> {% endif %}
    </div>
    <div>
      {% if program_sets %}
      {% if tasks %}
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Program Set</th>
              <th>Visible</th>
            </tr>
          </thead>
          <tbody>
            {% for task in tasks %}
              <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.program_set.name }}</td>
                <td>{{ task.visible }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        You currently have no defined tasks.
        {% endif %}
        {% else %}
          Before you can define a task, you must have a created program set. Please <a href='{% url admin.program_set.new %}'>create a program set</a> first.
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}
