/*
  Thanks to https://philipwalton.github.io/solved-by-flexbox/demos/holy-grail/ for the "Holy Grail"
  Layout
 */

:root {
  --blue: #257fc5;
  --blue-hover: #2889d4;
  --blue-focus: #2e9df3;

  --dark-blue: #0a539c;

  --green: #3bd466;
  --green-hover: #35bf5c;
  --green-focus: #35bf5c;

  --red: #dd4040;

  --white: white;

  --yellow: #e3e540;

  --orange: #ff7b24;

  --gray: #d8d8d8;
  --medium-gray: #b3b3b3;
  --dark-gray: #979797;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--blue);
  font-family: Avenir;
  backface-visibility: hidden;
}

table {
  width: 100%;

  & .selected {
    background-color: var(--gray);
  }
}

input[type=file] {
  display: block;
}

label {
  user-select: none;
  display: block;
}

#root {
  height: 100%;
  overflow: hidden;
}
