.Button {
  /* Add modifiers for colors and transparent dark, transparent light */
  padding: 0.4rem 0.7rem;
  margin: 0.5rem 0;
  border: 0;
  border-radius: 0.15rem;
  cursor: pointer;
  transition: 0.075s ease-in-out;

  &:disabled {
    background-color: var(--medium-gray) !important;
  }

  &.green {
    background-color: var(--green);
    color: white;

    &:hover {
      background-color: var(--green-hover);
    }
  }

  &.blue {
    background-color: var(--blue);
    color: white;

    &:hover {
      background-color: var(--blue-hover);
    }
  }

  &.white {
    background-color: transparent;
    color: white;
    border: 0.1rem;
    border-color: white;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  &+.Button {
    margin-left: 0.5rem;
  }
}
