.Input {
  height: 2rem;
  padding: 0.2rem 0.3rem;
  margin: 0.5rem 0;
  line-height: 2rem;
  border: 0.1rem solid var(--medium-gray);
  border-radius: 0.2rem;
  width: 100%;
  outline: 0;
  transition: 0.2s ease-in-out;

  &:focus {
    border-color: var(--blue);
    box-shadow: 0 0 0.1rem 0.1rem var(--blue);
  }

  &+span {
    display: block;
    color: var(--red);
    font-size: 0.9rem;
    user-select: none;
    margin-bottom: 0.5rem;
  }

  &:disabled {
    background-color: var(--gray);
  };
}

label + .Input[type='radio'] {
  display: inline;
}
