.JobStatus {
  padding: 0.5em;
  border-bottom: 0.1em solid white;
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 0.75em;
  background-color: var(--dark-blue);
  box-shadow: inset 0 -0.1rem 0.15rem -0.1rem var(--gray);

  & >.job {
    & >.running {
      color: var(--yellow);
    }

    & >.completed {
      color: var(--green);
    }

    & >.inactive {
      color: var(--orange);
    }
  }
}
