.ListMenu {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  backface-visibility: hidden;
  position: relative;

  &.dark {
    color: var(--white);
    background-color: var(--blue);

    &> .ListMenuItem {
      &.selected {
        background-color: var(--blue-focus);
      }

      &:hover {
        background-color: var(--blue-hover);
      };
    }
  }

  &.light {
    color: var(--dark-gray);
    background-color: var(--white);

    &> .ListMenuItem {
      &:hover {
        background-color: var(--gray);
      }
    }
  }

  &.secondary {
    /* This is only used for the secondary side menu
    TODO: Actually call this side menu since this wouldn't be used for anything else*/

    position: absolute;
    overflow: scroll;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 12rem;
    width: 12rem;
    font-size: 0.9rem;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    box-shadow: 0.2rem 0 0.4rem -0.2rem var(--dark-gray);
    transition: opacity 0.05s ease-in-out;
    backface-visibility: hidden;

    &.visible {
      z-index: 10;
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.ListMenuItem {
  padding: 0.5em 1rem;
  transition: 0.05s ease-in-out;
  cursor: default;
  user-select: none;

  &:hover {
    &> .hover-only {
      pointer-events: auto;
      opacity: 1;
    }
  }

  &> .hover-only {
    pointer-events: none;
    opacity: 0;
    float: right;
  }
}