.Nav {
  padding: 0 0.5rem;
  /*flex: 1 100%;*/
  height: 3rem;
  /*border-bottom: 0.01rem solid white;*/
  box-shadow: 0 0 0.1rem 0 white;
  display: flex;
  justify-content: space-between;
}

.NavLogo {
  color: white;
  font-weight: 300;
  font-size: 1.25em;
  /*padding: 0.5rem 0.25rem 0.25rem 1.5rem;*/
  padding: 0.5rem 0.25rem;
  user-select: none;
  cursor: default;
}