.SectionHolder {
  display: flex;
  align-items: stretch;
  height: 100%;

  & > .VerticalSection {
    flex-grow: 1;

    &:not(:first-child) {
      border-left: 0.1rem solid var(--gray);
    };
  }
}

.VerticalSection {
  flex-basis: 50%;
  padding: 0 1em;
}
