<html>
<head>
<link rel="stylesheet" type="text/css" media="all" href="/charmming/css/tablekit/tablestyle.css" />
<link href="/charmming/css/tabs.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/charmming/js/protoculous-1.0.2-packed.js"></script>
<script type="text/javascript" src="/charmming/js/tablekit/fastinit.js"></script>
<script type="text/javascript" src="/charmming/js/tablekit/tablekit.js"></script>
    <script type="text/javascript" src="/charmming/js/greybox/AJS.js"></script>
    <script type="text/javascript" src="/charmming/js/greybox/AJS_fx.js"></script>
    <script type="text/javascript" src="/charmming/js/greybox/gb_scripts.js"></script>
    <script type="text/javascript" src="/charmming/js/custom.js"> </script>
    <script src="/charmming/js/tabs.js" type="text/javascript"></script>
    <link href="/charmming/css/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
	 <script type="text/javascript">

</script>
</head>
<body>
<div name="ligandsinsidediv" id="ligandsinsidediv" style="overflow:auto;width:99%;height:158px;border:0px solid #336699;padding-left:5px;text-align:left">
<table class="sortable resizable" border=2>
<tr><th width="200">Ligand Name</th><th width="400">Ligand Description</th><th width="500">File Description</th><th>3D View</th><th>Select</th></tr>
{% for ligand in ligands %}
        <tr><td width="200">{{ ligand.name }}</td><td width="400">{{ ligand.description }}</td>
	<td width="500" span="3"> 
	    <table width="100%">
	    {% for ligand_file_object in ligand.file_objects_list %}
	      <tr><td>{{ ligand_file_object.file.description}}</td><td width="50"><a href="#" onclick="window.open('/charmming/dd_substrate/viewligandjmol/{{ligand_file_object.file.id}}/', 'View Ligand', 'height=700, width=700');">View</a></td><td width="10" align="left"> <input id="id_ligand_file" type="checkbox" name="ligand_{{ligand_file_object.fi\
le.id}}" onchange="getCheckedLigands(); UpdateEstimate();"/> </td><tr>
	    {% endfor %}	
	    </table>
	</td>
{% endfor %}  
</table>
</div>
