{% extends "html/skeleton.html" %}

{% block content %}
<div id="mainpage" style="width: 300px;">
  <link href="/charmming/css/custom.css" rel="stylesheet" type="text/css" media="all" />
<center>

</center>
<script type="text/javascript">
window.onload = function() {
   doDDJobDetailsOnLoad({{ job.id }});
}
</script> 
<form method="post" action="." width="80%">
<div id="jobinfo" name="jobinfo"  style="width:80%">
</div>
<div id="ddjobresultsdiv" name="ddjobresultsdiv" align="center" style="overflow:auto;width:80%;height:150px;border:1px solid #336699;padding-left:5px;text-align:left;display:none">
</div>


<div style="overflow:auto;width:80%;height:150px;border:1px solid #336699;padding-left:5px;text-align:left">
<table class="sortable resizable" border=2>
<tr><th>Protein</th><th>PDB Code</th><th>Conformation</th><th>View File</th><th>Download File</th></tr>
{% for conformation in job_conformations %}
           <tr>
           <td align="center" width = "100">{{ conformation.pdb_code }}</td>
           <td align="center" width = "200">{{ conformation.protein_name }}</td>
           <td align="center" width = "200">{{ conformation.conformation_name }}</td>
           <td align="center" width = "150"><a target="_blank" href="/charmming/dd_infrastructure/viewfile/{{conformation.file_id}}">View File</a></td></td>
           <td align="center" width = "150"><a href="/charmming/dd_infrastructure/downloadfile/{{conformation.file_id}}">Download File</a></td></td>
           </tr>
{% endfor %}
</table>
</div>


<div style="overflow:auto;width:80%;height:300px;border:1px solid #336699;padding-left:5px;text-align:left">
<table class="sortable resizable" border=2>
<tr><th>Ligand Name</th><th>Ligand Description</th><th>View File</th><th>Download File</th></tr>
{% for ligand in job_ligands %}
           <tr>
           <td align="center" width = "300">{{ ligand.ligand_name }}</td>
           <td align="center" width = "500">{{ ligand.description }}</td>
           <td align="center" width = "100"><a target="_blank" href="/charmming/dd_infrastructure/viewfile/{{ligand.file_id}}">View File</a></td></td>
           <td align="center" width = "140"><a href="/charmming/dd_infrastructure/downloadfile/{{ligand.file_id}}">Download File</a></td></td>
           </tr>
{% endfor %}
</table>
</div>


<div style="overflow:auto;width:80%;height:105px;border:1px solid #336699;padding-left:5px;text-align:left">
<p align="center">
<table align="center" class="sortable resizable" border=2>
<tr><th>File Description</th><th>View File</th><th>Download File</th></tr>
{% for file in job_files %}
           <tr>
           <td align="center" width = "300">{{ file.description }}</td>
           <td align="center" width = "100"><a target="_blank" href="/charmming/dd_infrastructure/viewfile/{{file.id}}">View File</a></td></td>
           <td align="center" width = "140"><a href="/charmming/dd_infrastructure/downloadfile/{{file.id}}">Download File</a></td></td>
           </tr>
{% endfor %}
</table>
</p>
</div>
</form>

{% endblock %}
