{% autoescape off %}
<!-- Note! Due to the jQuery stuff in here, status is no longer standalone in full functionality.
We don't re-include the library because 
1. We have no way to tell that this page is being "included" as part of a template
2. It's a waste of requests (even if only done when included)
3. If done with the rest of the site, all the vars get shuffled around and jQuery may crash
4. The basic pieces of this page (status display) is templated just fine without jQuery
So we leave this warning here. 
~VS 07/12/13-->
<div class="status">
  <table style="border-color:#e2e9fe;width:150px" class="status">
   {% if structure.name %}
   <tr class="status"><th class="status"> Status of: <br />{% if ws %}{{ws.identifier}}{%else%} {{ structure.name }}{%endif%} </th></tr>
     {% if haveWorkingStruct %}
       <tr class="status"><td class="status">Operations:</td></tr>
       {% for s in statuses %}   
           <tr class="status"><td class="status"><a href="javascript:dialog_open('{{s.3}}','{{s.1}}');">{{ s.0 }}</a>: <span class="{%ifequal s.1 "Inactive"%}inactive{%endifequal%}{%ifequal s.1 "Failed" %}failed{%endifequal%}{%ifequal s.1 "Done" %}done{%endifequal%}{%ifequal s.1 "Running"%}running{%endifequal%}">{{ s.1 }}</span>{% ifequal s.2 1 %}&nbsp;<a href="javascript:killJob({{ s.3 }});">X</a>{% endifequal %}
          <div id="dialog_output_{{s.3}}" title="File output">
            </div>
        </td></tr>
       {% endfor %}
     {% else %}
       <tr class="status"><th class="status"> Structure not built </th></tr>
     {% endif %}
   {% else %}
     <tr class="status"><th class="status"> No Structure </th></tr>
   {% endif %}
</table>


  <div id="statusfooter">
    <div class="content">
    </div>
  </div> 

</div>
{% endautoescape %}
