{% extends "html/skeleton.html" %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>

		<title>{% block title %} Preliminary {% endblock %}</title>
{% block content %}
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<meta name="description" content="Demo of havocStudios ajax tabs" />
		<meta name="keywords" content="tabs ajax css " />

		<style type="text/css" media="screen">@import "/charmming/css/tabs.css";</style>
		<script src="/charmming/js/ajax.js" type="text/javascript"></script>
		<script src="/charmming/js/tabs.js" type="text/javascript"></script>

		<script type="text/javascript">
			function doOnLoad() {
				AjaxTabs.OpenTab("tab_page1", "Page 1", "/tabpage/page1.html", false, '');
			}
		</script>
	</head>
	<body onload="doOnLoad()">
  <br />
  <br />
  <center>
		<div class="tabContainer">
			<div class="tabs">
				<ul class="tabList" id="tabList"></ul>
			</div>

			<div class="tabPanels" id="tabPanels"></div>
		</div>
  </center>								
	</body>	  
</html>
{% endblock %}
