{% extends 'html/skeleton.html' %}
{% block content %}

		<!-- Upload form. Note enctype attribute! -->
		<form action="{% url newModel %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
                        <table>
                        <tr><td>{{ form.model_type.label_tag }}</td>
                            <td>{{ form.model_type }}</td>
                        </tr>
			<tr><td><label for="model_name"> Model Name </label></td><td>{{ form.model_name }}</td></tr>
			</table>
			<p>{{ form.non_field_errors }}</p>
			<p>{{ form.trainfile.label_tag }} <br> {{ form.trainfile.help_text }}</p>
			<p>
				{{ form.trainfile.errors }}
				{{ form.trainfile }}
			</p>
			<p><input type="submit" value="Upload" /></p>
		</form>
		
{% endblock %}
