{% extends "html/skeleton.html" %}

{% block content %}
<div id="mainpage">

  <h1 align="center">Editing structure {{ structname }}</h1>
  <hr />

  {% if haveworkingstruct %}
    <div id="swap_form">
      <h2>Change Active Working Structure</h2>
      <form id="swap" method="post" action="/charmming/swapstruct/" onsubmit="return send_form_gener('swap_form','/charmming/swapstruct/',makeUniqueDiv('Edit Structure'));" >
        <select name="choosestruct">
          {% for str in built_list %}
            <option value="{{ str.identifier }}" {% ifequal str.selected 'y' %}selected{% endifequal %}>{{ str.identifier }}</option>
          {% endfor %}
        </select>
        <input type="submit" value="Switch structures" />
      </form>
    </div>
  {% endif %}
  <div id="newbuild">
     <h2>Build A New Working Structure</h2>

     <form id="config_form" method="post" action="/charmming/modstruct/" enctype="multipart/form-data" onsubmit="return send_form_gener('config_form','/charmming/modstruct/',makeUniqueDiv('Edit Structure'));" >
        <div style="background-color: #919f86;"><b>Please choose a name for this working structure:</b> <input type="text" name="wsidentifier" value="{{ proposedname }}" /></div><br />
        <b>Please choose which model you want this working structure based from:</b>

        <select name="basemodel">
           {% for modelname in model_list %}
             <option value="{{ modelname }}">{{ modelname }}</option>
           {% endfor %}
        </select>

        <div style="background-color: #919f86;">
          <h3>What type of structure should be built?</h3>
          <table align="center" width="65%">
            <tr><td><input type="radio" name="buildtype" value="aa" onclick="setCGDisplay('aa');" checked /></td><td align="left">A &quot;traditional&quot; all-atom model using the CHARMM force field.</td></tr>
            <tr><td><input type="radio" name="buildtype" value="go" onclick="setCGDisplay('go');" /></td><td align="left">A Klimov-Thirumalai style Go model.</td></tr>
            <tr><td><input type="radio" name="buildtype" value="bln" onclick="setCGDisplay('bln');" /></td><td align="left">A two site BLN type model based on the work of Marrink and Bond & Sansom.</td></tr>
          </table>
        </div>

        <div id="aa_display">
           <h3>Configure patching and chemical properties of the structure</h3>
           <hr />
           <h4>Choose Segments and Patching</h4>
 
           <div id="select_div">
           <table border align="center" cellspacing="2" cellpadding="2" width="70%">
             <tr><td>Selected</td><td>Segment Name</td><td>Segment type</td><td>First patch</td><td>Last patch</td><td>Topology File and Parameter File</td></tr>
             {% for seg in seg_list %}
                <tr>
                  <td><input type="checkbox" name="select_{{ seg.name }}" value="y" /></td>
                  <td>{{ seg.name }}</td><td>{{ seg.type }}</td>
                  <td>
                    <select name="{{ seg.name }}_firstpatch">
                    {% for opt in seg.possible_firstpatches %}
                      <option value="{{ opt }}" {% ifequal opt seg.default_patch_first %}selected{% endifequal %}>{{ opt }}</option>
                    {% endfor %}
                    </select>
                  </td>
                  <td>
                    <select name="{{ seg.name }}_lastpatch">
                    {% for opt in seg.possible_lastpatches %}
                      <option value="{{ opt }}" {% ifequal opt seg.default_patch_last %}selected{% endifequal %}>{{ opt }}</option>
                    {% endfor %}
                    </select>
                  </td>
                  <td>
                    {% ifequal seg.type "bad" %}
                      Choose:
                      <select name="toppar_{{ seg.name }}">
                        <option value="upload">Upload my own topology/parameters</option>
                        <option value="autogen" selected="selected">Attempt to automatically generate parameters</option>
                        {% if seg.fes4 %}
                           <option value="redox">Use only for REDOX calculations</option>
                        {% endif %}
                        {% if super_user %}
                           <option value="dogmans">Force Dogmans</option>
                           <option value="match">Force MATCH</option>
                           <option value="antechamber">Force Antechamber</option>
                           <option value="genrtf">Force GENRTF</option>
	                {% endif %}
                      </select>
                      <br />
                      topology file: <input type="file" name="topology_{{ seg.name }}" /><br />
                      parameter file: <input type="file" name="parameter_{{ seg.name }}" /><br />
                    {% else %}
                      CHARMM36 topology/parameters for proteins/nucleic acids will be used
                      <input type="hidden" name="toppar_{{ seg.name }}" value="standard" />
                    {% endifequal %}
                  </td>
                </tr>
             {% endfor %}
           </table>
           </div>
           <hr />


           <div id="proton_div">
           {% if disulfide_list %}
             <p>Change disulfide bond patching options <input type="checkbox" name="disul_box" id="disul_box" onclick="showHideDisul();" /></p>

             <div id="disulfide" style="display:none;">
             <h3>Choose Disulfide Patching</h3>
             <table align="center" cellspacing="2" cellpadding="2">
               <tr><td>SEGID 1</td><td>RESID 1</td><td>SEGID 2</td><td>RESID 2</td><td>Selected</td></tr>
               {% for disul in disulfide_list %}
                 <tr><td>{{ disul.0 }}</td><td>{{ disul.2 }}</td><td>{{ disul.3 }}</td><td>{{ disul.5 }}</td><td><input type="checkbox" name="disul_{{ disul.0 }}_{{ disul.2 }}_{{ disul.3 }}_{{ disul.5 }}" checked /></td></tr>
               {% endfor %}
             </table>
             </div>
           {% endif %}

           {% if proto_list %}
               <p>Modify protonation states of titratable residues <input type="checkbox" name="proto_box" id="proto_box" onclick="showHideProto();" /></p>

               <div id="protonation" style="display:none;">  
               <table align="center" cellspacing="2" cellpadding="2">
               <tr><td>SEGID</td><td>Residue Number</td><td>Protonation State</td></tr>
               {% for pproto in proto_list %}
                 <tr><td>{{ pproto.0 }}</td><td>{{ pproto.1 }}</td>
                    <td>
                      <select name="protostate_{{ pproto.0 }}_{{ pproto.1 }}" width="5">
                         {% for alt in pproto.2 %}
                            <option value="{{ alt.0 }}">{{ alt.0 }} ({{ alt.1 }})</option>
                         {% endfor %}
                      </select>
                    </td>
                </tr>
               {% endfor %}
             </table>
                </div>
               {% endif %}
           </div>

        </div></div>

        <div id="go_display" style="display:none;">
           <h3 align="center">Select segments for the Go model</h3>
           <table border align="center" cellspacing="2" cellpadding="2" width="70%">
           {% for seg in seg_list %}
              {% ifequal seg.type "pro" %}
                 <tr><td><input type="checkbox" name="go_select_{{ seg.name }}" value="y" /></td><td>{{ seg.name }}</td></tr>
              {% endifequal %}
           {% endfor %}
           </table>
 
           <h3 align="center">Go model parameters</h3>

           <p>A <b>Go like</b> model incorporates a potential energy function that is based on a known structure. Contacts within
              the structure are defined as <b>native</b> or <b>non-native</b>, and determined via an empirical contact potential.
              Long range interactions are modeled as Lennard-Jones potentials. The particular Go-type model used in CHARMMing is one
              derived by Klimov and Thirumalai. For more details, please see 
              <a target="_blank" href="http://onlinelibrary.wiley.com/doi/10.1002/bip.1978.360170612/abstract">Ueda <i>et al.</i></a>, 
              <a target="_blank" href="http://jcp.aip.org/resource/1/jcpsa6/v109/i10/p4119_s1">Klimov <i>et al</i> (1998)</a>, and&nbsp;  
              <a target="_blank" href="http://www.pnas.org/content/97/6/2544.abstract">Klimov and Thirumalai (2000)</a>.
            </p>

           <table>
              <tr>
                 <td colspan="2" bgcolor="#E0FFF0">Basic parameters (should be manipulated as needed for all Go models).</td>
              </tr>
              <tr>
                 <td><b>Contact types</b><br />
                    The contact map determines which empirical potential is used for native and non-native contacts.
                 </td>
                 <td>
                   <input type="radio" name="gm_contact_type" value="mj" checked> MJ
                   <input type="radio" name="gm_contact_type" value="kgs"> KGS
                   <input type="radio" name="gm_contact_type" value="bt"> BT
                 </td>
              </tr>
              <tr>
                 <td><b>Nscale</b><br />
                    The Nscale parameter sets the relative strength of the native contact interactions. This must be tuned
                    for each starting structure to reproduce a physically realistic melting temperature. Often, 1.0 is a good
                    starting guess for Nscale, but each system is different and this parameter must be tuned separately.
                 </td>
                 <td valign="top"><input type="text" name="gm_nscale" value="1.00" /></td>
              </tr>
              <tr>
                <td colspan="2" bgcolor="#E0FFF0">Advanced parameters (these should be left unchanged in most cases).</td>
              </tr>
              <div id="gm_advancedparms" style="display: block;">
                <tr>
                  <td width="50%"><b>Contact radius</b>: sets the distance<br />at which a contact is considered native.</td>
                  <td width="50%"><input type="text" name="gm_contactrad" value="4.5" /></td>
                </tr>
                <tr>
                  <td width="50%">Bond force constant <input type="text" name="gm_kbond" value="50.0" /> </td>
                  <td width="50%">Angle force constant <input type="text" name="gm_kangle" value="30.0" /> </td>
                </tr>

                <!-- Frank needs to give me things for form processing -->
                <tr>
                  <td width="50%">&alpha;-helix 1 dihedral force constant <input type="text" name="gm_kdihedralalphahelix_1" value="0.30" /></td>
                  <td width="50%">&alpha;-helix 3 dihedral force constant <input type="text" name="gm_kdihedralalphahelix_3" value="0.15" /></td>
                </tr>
                <tr>
                  <td width="50%">310-helix 1 dihedral force constant <input type="text" name="gm_kdihedral310helix_1" value="0.30" /></td>
                  <td width="50%">310-helix 3 dihedral force constant <input type="text" name="gm_kdihedral310helix_3" value="0.15" /></td>
                </tr>
                <tr>
                  <td width="50%">Unhelical 1 dihedral force constant <input type="text" name="gm_kdihedralnohelix_1" value="0.55" /></td>
                  <td width="50%">Unhelical 3 dihedral force constant <input type="text" name="gm_kdihedralnohelix_3" value="0.275" /></td>
                </tr>
                <tr>
                  <td colspan="2">Well depth for hydrogen bond LJ potentials:
                                  &alpha;-helix <input type="text" name="gm_hbondenergyalphahelix" value="-0.25" />
                                  310-helix <input type="text" name="gm_hbondenergy310helix" value="-0.25" />
                                  no helix <input type="text" name="gm_hbondenergynohelix" value="-0.50" />
                  </td>
                </tr>
                <tr>
                  <td width="50%">Epsilon NN <input type="text" name="gm_epsilonnn" value="1e-12" /></td>
                  <td width="50%">Well depth for backbone-sidechain LJ interactions <input typr="text" name="gm_bbscinteraction" value="-0.37" /></td>
                </tr>
              </div>
           </table>
        </div>

        <div id="bln_display" style="display:none;">
           <h3 align="center">Select segments for the BLN model</h3>
           <table border align="center" cellspacing="2" cellpadding="2" width="70%">
           {% for seg in seg_list %}
              {% ifequal seg.type "pro" %}
                 <tr><td><input type="checkbox" name="bln_select_{{ seg.name }}" value="y" /></td><td>{{ seg.name }}</td></tr>
              {% endifequal %}
           {% endfor %}
           </table>

           <p>A BLN model is is based on the fact that amino acid residues generally fall into three chemical types: hydropho<b>B</b>ic,
              hydrophi<b>L</b>ic, and <b>N</b>eutral. Under this model, the type of interaction between two residues is determined by
              their chemical type. The BLN model used in CHARMMing is based on that of <a href="http://">Marrink <i>et al</i></a>
              and expanded for proteins by <a target="_blank" href="http://">Bond and Sansom</a>.
           </p>

           <h3 align="center">BLN Model Parameters</h3>
           <table>
             <tr>
                <td colspan="2" bgcolor="#E0FFF0">These parameters generally do not need to be adjusted.</td>
             </tr>
             <tr>
                <td width="33%">Helix bond force constant <input type="text" name="bln_kbondhelix" value="3.50" /></td>
                <td width="33%">Helix angle force constant <input type="text" name="bln_kanglehelix" value="8.37" /></td>
             </tr>
             <tr>
                <td width="33%">&Beta;-sheet bond force constant <input type="text" name="bln_kbondsheet" value="3.50" /></td>
                <td width="33%">&Beta;-sheet angle force constant <input type="text" name="bln_kanglesheet" value="8.37" /></td>
             </tr>
             <tr>
                <td width="33%">Coil bond force constant <input type="text" name="bln_kbondcoil" value="2.50" /></td>
                <td width="33%">Coil angle force constant <input type="text" name="bln_kanglecoil" value="5.98" /></td>
             </tr>
           </table>
        </div>

        <input type="submit" value="Submit" />
     </form>     
  </div>
  <br />
  <br />
  <br />
  <br />
</div>
{% endblock %}
