<head>
  <script src="/charmming/js/protoculous-1.0.2-packed.js" type="text/javascript"></script>
  <script type="text/javascript" src="/charmming/js/windows2/window.js"> </script>
  <link href="/charmming/css/windows2/default.css" rel="stylesheet" type="text/css"/>
  <link href="/charmming/css/windows2/spread.css" rel="stylesheet" type="text/css"/>
  <link href="/charmming/css/windows2/alert.css" rel="stylesheet" type="text/css"/>
  <link href="/charmming/css/custom.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<center>
<div id="Edit Structure" style="text-align: center;">

  <h2>Editing structure {{ structname }}</h2>
  <hr />

  {% if haveworkingstruct %}
    <div id="swap_form">
      <h3>Choose which built structure you wish to use.</h3>
      <form id="swap" method="post" action="/charmming/swapstruct/" onsubmit="return send_form_gener('swap_form','/charmming/swapstruct/',makeUniqueDiv('Edit Structure'));" >
        <select name="choosestruct">
          {% for str in built_list %}
            <option value="{{ str.identifier }}" {% ifequal str.selected 'y' %}selected{% endifequal %}>{{ str.identifier }}</option>
          {% endfor %}
        </select>
        <input type="submit" value="Switch structures" />
      </form>
    </div>
  {% endif %}

  <div id="newbuild">
     <h3>Configure patching and chemical properties of the structure</h3>
     <hr />
     <form id="config_form" method="post" action="/charmming/modstruct/" onsubmit="return send_form_gener('config_form','/charmming/modstruct/',makeUniqueDiv('Edit Structure'));" >
        <b>Please choose a name for this working structure:</b> <input type="text" name="wsidentifier" />
        <hr />
        <b>Please choose which model you want this working structure based from:</b>
        <select name="basemodel">
           {% for modelname in model_list %}
             <option value="{{ modelname }}">{{ modelname }}</option>
           {% endfor %}
        </select>
        <hr />
        <h4>Choose Segments and Patching</h4>
 
        <table align="center" cellspacing="2" cellpadding="2">
          <tr><td>Selected</td><td>Segment Name</td><td>Segment type</td><td>First patch</td><td>Last patch</td></tr>
          {% for seg in seg_list %}
             <tr>
               <td><input type="checkbox" name="select_{{ seg.name }}" value="y" /></td>
               <td>{{ seg.name }}</td><td>{{ seg.type }}</td>
               <td>
                 <select name="{{ seg.name }}_firstpatch">
                 {% for opt in seg.possible_firstpatches %}
                   <option value="{{ opt }}" {% ifequal opt seg.default_patch_first %}selected{% endifequal %}>{{ opt }}</option>
                 {% endfor %}
                 </select>
               </td>
               <td>
                 <select name="{{ seg.name }}_lastpatch">
                 {% for opt in seg.possible_lastpatches %}
                   <option value="{{ opt }}" {% ifequal opt seg.default_patch_last %}selected{% endifequal %}>{{ opt }}</option>
                 {% endfor %}
                 </select>
               </td>
             </tr>
          {% endfor %}
        </table>

        {% if proto_list %}
          <h3>Choose Protonation State</h3>
          <table align="center" cellspacing="2" cellpadding="2">
          <tr><td>SEGID</td><td>Residue Number</td><td>Protonation State</td></tr>
          {% for pproto in proto_list %}
            <tr><td>{{ pproto.0 }}</td><td>{{ pproto.1 }}</td>
               <td>
                 <select name="protostate_{{ pproto.0 }}_{{ pproto.1 }}" width="5">
                   {% for alt in pproto.2 %}
                     <option value="{{ alt.0 }}">{{ alt.0 }} ({{ alt.1 }})</option>
                   {% endfor %}
                 </select>
               </td>
            </tr>
          {% endfor %}
          </table>
        {% endif %}

        {% if disulfide_list %}
          <h3>Choose Disulfide Patching</h3>
          <table align="center" cellspacing="2" cellpadding="2">
            <tr><td>SEGID 1</td><td>RESID 1</td><td>SEGID 2</td><td>RESID 2</td><td>Selected</td></tr>
            {% for disul in disulfide_list %}
              <tr><td>{{ disul.0 }}</td><td>{{ disul.2 }}</td><td>{{ disul.3 }}</td><td>{{ disul.5 }}</td><td><input type="checkbox" name="disul_{{ disul.0 }}_{{ disul.2 }}_{{ disul.3 }}_{{ disul.5 }}" /></td></tr>
            {% endfor %}
          </table>
        {% endif %}

        <h3>Apply Restraints</h3>
        <p>Enter number of restraints: <input type="text" name="nrestraints" /></p>

        <input type="submit" value="Submit" />
     </form>     
  </div>

</div>
</center>
</body>
