<table class="sortable resizable" style="width:100%">
  <tr><th style="text-align:left;width:50px"><input id="checkall" type="checkbox" name="checkall" onclick='LigandSet_CheckUncheck();'/></th>
    <th style="text-align:left;width:200px">Ligand Name</th>
    <th style="text-align:left;width:400px">Ligand Description</th>
    <th style="text-align:center">View in JSmol</th>
    <th style="text-align:center">View in GLmol</th></tr>
</table>
<div id="availableligandsinsidediv" style="overflow:auto;width:99%;height:158px;border:0px solid #336699;padding-left:5px;text-align:left">

<table class="sortable resizable" style="width:100%">
{% for ligand in available_ligands%}
<tr>
  <td style="width:50px"><input id="ligandid_{{ligand.id}}" type="checkbox" name="ligandid" value="{{ ligand.id }}"/></td>
  <td style="width:200px"><p class="fontsmall" style="text-align:left">{{ ligand.name }}</p></td>
  <td style="width:400px"><p class="fontsmall">{{ ligand.description }}</p></td>
<td>
{% if ligand.file_id == 0 %}
<p>---</p>
{% else %}
<a href="#" onclick="window.open('/charmming/dd_substrate/viewligandjmol/{{ligand.file_id}}/', 'View Ligand', 'height=700, width=700');">View</a>
<!-- TODO: Change this into script for opening JSmol modal window! -->
{% endif %}
</td>
<td>
{% if ligand.file_id == 0 %}
<p>---</p>
{% else %}
<a href="#" onclick="window.open('/charmming/dd_substrate/viewligandglmol/{{ligand.file_id}}/', 'View Ligand', 'height=700, width=700');">View</a>
{% endif %}
</td>
</tr>
{% endfor %}
</table>
</div>
