{% extends "html/skeleton.html" %}
{%block extra_scripts %}
<script type="text/javascript" src="/charmming/js/qtip/jquery.qtip.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="/charmming/js/qtip/jquery.qtip.css" />
<script type="text/javascript" src="/charmming/js/jsmol/js/JSmolCore.js"></script>
<script type="text/javascript" src="/charmming/js/jsmol/js/JSmolApplet.js"></script>
<script type="text/javascript" src="/charmming/js/jsmol/js/JSmolApi.js"></script>
<script type="text/javascript" src="/charmming/js/jsmol/js/j2sjmol.js"></script>
<script type="text/javascript" src="/charmming/js/jsmol/js/JSmol.js"></script>
{%endblock%}
{% block content %}
<div id="mainpage">
  <p {%if message_color %}style="color:{{message_color}}"{%endif%}><strong>{{message}}</strong></p>
<table  class="sortable resizable normal_border" style="background-color:#eeeee0;" >
{% for tarfile in tarfiles %}
 <tr>
   <td><a href="/charmming/dd_infrastructure/downloadfile/{{tarfile.id}}">{{ tarfile.name }}</a></td>
 </tr>
{% endfor %}
</table>

{% ifequal message '' %}
<form id="dsfform" enctype="multipart/form-data" method="post" action="/charmming/dd_infrastructure/dsfform/">
<h2 class="center_header">Submit Docking Job</h2>
<h3 class="center_header">Working structure: {{ ws_identifier }}</h3>

    {% include "html/taskfiles.html" %}

    {%comment%}<!--<h3>Select Target Conformation(s)</h1><br>Only Targets Belonging to the Current Project are Shown-->{%endcomment%}
  <p {%if message_color%}style="color:{{message_color}};"{%endif%} class="fontsmall"><strong>{{message}}</strong></p>

  {%comment%}<!--<form id="dsfform" enctype="multipart/form-data" method="post" action="/charmming/dd_infrastructure/dsfform/">
<div name="conformationsdiv" id="conformationsdiv" style="overflow:auto;width:95%;height:150px;border:1px solid #336699;padding-left:5px;text-align:left">
<table class="sortable resizable" width="100%" border=2>
<tr><th>Conformation Name</th><th>Conformation Description</th><th>Target PDB</th><th>Select</th></tr>
{% for conformation in conformations %}
        <tr><td>{{ conformation.name }}</td><td>{{ conformation.description }}</td><td>{{ conformation.target_pdb_code }}</td>
	<td> 
	    <table width="100%">
	    {% for conformation_file_object in conformation.file_objects_list %}
	      <tr><td>{{ conformation_file_object.file.description}}</td><td width=10 align="left"> <input id="id_conformation_file" type="checkbox" name="conformation_{{ conformation_file_object.file.id }}" onchange="getCheckedConformations(); "/> </td><tr>
	    {% endfor %}	
	    </table>
	</td>
{% endfor %}  
</table>
</div>
-->{%endcomment%}
<h3 class="center_header">Define Binding Site using Native Ligand</h3>
    {% include "html/anativefiles.html" %}
    {%comment%}<!--<table>
<tr><td><label for="id_native_ligand"> Upload Native Ligand in <u>PDB</u> Format: </label></td><td><input type="file" name="native_ligand_file" id="id_native_ligand_file" /></td></tr>
</table>-->{%endcomment%}
<h3 class="center_header">Select Ligands to Dock</h3>
<div class='status'>
<p>Select Grid Set:
<select name="ligandsets" id="ligandsets">
{% for set in existingsets %}
<option value='{{ set.id }}'>{{set.name}} ({{set.ligand_count}} ligands)</option>
{% endfor %}
</select></p>
<div id="ligandsdiv" class="full_table align_left" style="overflow:auto;height:300px;border:1px solid #336699;padding-left:5px;">
</div>
<hr class="noshade_hr">
       <br/>
<div id="estimatediv">
</div>
       
       <p class="center_header">Please enter a short description for this job<br>
       <input type="text" name="job_description" id="job_description"/><br><br>
       <input type="submit" value="Submit Docking Job"/>
       </p>
       <br>
       <br>

<script type="text/javascript">
  $("#ligandsets").on("change", function(event){
      RefreshDSFLigands();
    });
   RefreshDSFLigands();
</script>
</div>
</form>
{% endifequal %}
<!-- Incoming code is generic for implementing JSmol modal windows -->
<div class="hidden" id="jsmol_test">
  <script>
    var jmolApplet;
    jmol_isReady = function(applet){
      console.log("test");
    }
    
    
    var Info = {
        width: "500",
        height: "500",
        debug: false,
        color: "black",
        use: "HTML5",
        j2sPath: "/charmming/js/jsmol/j2s",
        readyFunction: null,
        script: "set antialiasDisplay;",
        disableJ2SLoadMonitor:true,
        disableInitialConsole:true
      }
      jmolApplet = Jmol.getApplet("jmolApplet",Info);
  </script>
</div>

<script>
  $("#jmolApplet_appletinfotablediv").attr("title","JSmol modal test");
  $(function($){
    $("#jmolApplet_appletinfotablediv").dialog({
      resizable:true,
      height:600,
      width:600,
      modal:true,
      autoOpen:false,
      buttons:{
        "OK":function(){
          $(this).dialog("close");
        }
    }
  });
});

  $("#ligandsdiv").ready(function()
  {
    $("#ligandtable").jqTableKit("init");
  });
  
</script>
</div>
{% endblock %}





