{% extends "html/skeleton.html" %}

{% block content %}
<div id="mainpage">
<h2 class="center_header">Ligand Set Details</h2>
<script type="text/javascript">

   DisplaySetInfo({{set_id}});
   //RefreshAvailableLigands();
   //RefreshSetLigands({{set_id}},0,0);

</script>
<div class='status'>

<div id="ligandsetinfodiv">
</div>
<form id="setdetail" enctype="multipart/form-data" method="post" action="/charmming/dd_substrate/ligandsetdetails/">
<table style="margin-left:auto;margin-right:auto">
<tr>
<td>
  <p class="fontsmall">Use Existing Sets:</p>
<select name="sets" id="availableligandsets" onChange="RefreshAvailableLigands();">
{% for set in existingsets %}
<option value='{{ set.id }}'>{{set.name}} ({{set.ligand_count}} ligands)</option>
{% endfor %}
</select>
</td>
</tr>
<tr><td>
<div id="availableligandsdiv" style="overflow:auto;width:100%;height:200px;border:1px solid #336699;padding-left:5px;text-align:left">
</div>
</td></tr></table>
<table style="width:83%;margin-left:auto;margin-right:auto;">
<tr>
<td style="text-align:center"><button type="button" onclick="AddLigands({{ set_id }});">Add Selected Ligands to this Set</button></td>
<td style="text-align:center"><button type="button" onclick="RemoveLigands({{ set_id }});">Remove Selected Ligands from this Set</button></td>
</tr>
<td></td><td>
  <p class="fontmed" style="text-align:center">Ligands Belonging to This Set</p></td></tr>
<tr>
<td colspan=2 style="text-align:center">
<div id="setligandsdiv" style="overflow:auto;width:100%;height:230px;border:1px solid #336699;padding-left:5px;text-align:left">
</div>
</td></tr>
</table>
<script type="text/javascript">

   //DisplaySetInfo({{set_id}});
   RefreshAvailableLigands();
   RefreshSetLigands({{set_id}},0,0);

</script>

</form>
</div>

{% endblock %}





