<table class="sortable" style="width:100%">
<tr><td colspan="4"><p class="fontsmall">Ligands: {{ ligandcount }}</p></td>
  <tr><th style="text-align:left;width:50px"><input id="setcheckall" type="checkbox" name="setcheckall" onclick='LigandSet_SetCheckUncheck();'/></th>
    <th style="text-align:left;width:230px">Ligand Name</th>
    <th style="text-align:left;width:580px">Ligand Description</th>
    <th style="text-align:center;width:100px">View in JSmol</th>
    <th style="text-align:center;width:100px">View in GLmol</th></tr>
</table>
<div id="setligandsinsidediv" style="overflow:auto;width:99%;height:155px;border:0px solid #336699;padding-left:5px;text-align:left">
<table class="sortable">
{% for setligand in setligands %}
<tr>
  <td style="width:30px"><input id="set_ligand_id_{{setligand.ligandsetid}}" type="checkbox" name="set_ligand_id" value="{{ setligand.ligandsetid}}"/></td>
  <td style="width:220px"><p class="fontsmall">{{ setligand.name}}</p></td>
  <td style="width:650px"><p class="fontsmall">{{ setligand.description }}</p></td>
  <td style="text-align:center;width:50px">
{% if setligand.file_id == 0 %}
---
{% else %}
 <a href="#" onclick="window.open('/charmming/dd_substrate/viewligandjmol/{{setligand.file_id}}/', 'View Ligand', 'height=700, width=700');">View</a>
{% endif %}
</td>
  <td style="text-align:center;width:50px">
{% if setligand.file_id == 0 %}
---
{% else %}

  <td style="text-align:center"><a href="#" onclick="window.open('/charmming/dd_substrate/viewligandglmol/{{setligand.file_id}}/', 'View Ligand', 'height=700, width=700');">View</a>
{% endif %}
</td>
</tr>
{% endfor %}

</table>
</div>
