{% extends "html/skeleton.html" %}

{% block content %}
<div id="mainpage">
  <br />
  <h1 class="center_header">View Ligands</h1>
<form method="post" action=".">
<table class="sortable resizable table_center" border=1>
<tr><th>Ligand Name</th><th>Description</th><th>Source</th><th>Delete</th></tr>
{% for ligand in ligands %}
        <tr>
           <td> {{ligand.ligand_name}}</td><td> {{ ligand.description }} </td> 
           <td> {{ ligand.source_name }} </td>
           <td> <a href="" onclick="send_delete_ligand_form('{{ligand.id}}')">X</a></td></tr>

{% endfor %}
</table>
</form>
</div>
<br>
{% endblock %}

