<head>
    <title>View/Edit MOIs</title>
    <script type="text/javascript" src="/charmming/js/custom.js"> </script>
    <script type="text/javascript">
        var GB_ROOT_DIR = "/charmming/greybox/greybox/";

        function send_select_form(form) {
           new Ajax.Request("/charmming/selectmoi/"+form.id, {method:'post', asynchronous:true});
        }

	function view_files(moiid) {
           var params = 'moi_id='+moiid;
	   var link=$("viewhidefiles");
	   
	   if (link.text=="View Files"){
		setVisible('filelistdiv','block')
	   	new Ajax.Updater('filelistdiv',"/charmming/viewmoifilelist/", {method:'post', asynchronous:true, parameters:params});
           	link.innerHTML="Hide Files"
	   }
	   else if (link.text=="Hide Files"){
	  	setVisible('filelistdiv','none')
		link.innerHTML="View Files"	
	   }
	   
        }

        	
	function send_delete_form(setid) {
	   
	   if(setid == 'all_sets')
	      new Ajax.Request("/charmming/vcsdeleteset/", {method:'post', asynchronous:false, parameters: {'setid':setid}});
	   else
	      //alert (setid);
	      new Ajax.Request("/charmming/vcsdeleteset/", {method:'post', asynchronous:false, parameters: {'setid':setid}});
   
	   var viewgridsetsframe = parent.document.getElementById('viewgridsetscontainer');
	   viewgridsetsframe.src = viewgridsetsframe.src;
	   //parent.refreshBottomdock();
   	}
        
    </script>

    <link rel="stylesheet" type="text/css" media="all" href="/charmming/css/tablekit/tablestyle.css" />
    <script type="text/javascript" src="/charmming/js/protoculous-1.0.2-packed.js"></script>
    <script type="text/javascript" src="/charmming/js/tablekit/fastinit.js"></script>
    <script type="text/javascript" src="/charmming/js/tablekit/tablekit.js"></script>
    <script type="text/javascript" src="/charmming/js/greybox/AJS.js"></script>
    <script type="text/javascript" src="/charmming/js/greybox/AJS_fx.js"></script>
    <script type="text/javascript" src="/charmming/js/greybox/gb_scripts.js"></script>
    <link href="/charmming/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="/charmming/css/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>

<center>
<h1>View Targets</h1>
</center>
<div class='status'>
<body>
<center>
<form method="post" action=".">
<div name="conformationsdiv" id="conformationsdiv" style="overflow:auto;width:95%;height:150px;border:1px solid #336699;padding-left:5px;text-align:left">
<table class="sortable resizable" border=2>
<tr><th>Target</th><th>Target PDB</th><th>Target Description</th><th>Conformation</th></tr>
{% for target in targets %}
        <tr><td>{{ target.protein_name }}</td><td>{{ target.pdb_code }}</td><td>{{ target.description }}</td>
	<td> 
	    <table width="100%">
	    {% for conformation in blah %}
	      <tr><td>{{ conformation_file_object.file.description}}</td><td width=10 align="left"> <input id="id_conformation_file" type="checkbox" name="conformation_{{ conformation_file_object.file.id }}" onchange="getCheckedConformations(); UpdateEstimate();"/> </td><tr>
	    {% endfor %}	
	    </table>
	</td>
{% endfor %}  
</table>
</div>
</form>
</div>
</center>
</body>
