{% extends "html/skeleton.html" %}

{% block content %}
<div id="mainpage">
  <h1 style="text-align:center">Download Files</h1>
  <h2 style="text-align:center">Working structure: {{ wsname }}</h2>

  <div class='status' style="margin-left:auto;margin-right:auto;text-align:center">
    <a href="/charmming/downloadfiles/downloadtar/">Download a Tar file of all the files associated with this working structure</a>
    <br />
    <br />

    <form method="post" action=".">
       {% for key in headers %}
          <h3>{{ key }} files</h3>

          <table style="text-align:left;border-spacing:3;width:40%;margin-left:auto;margin-right:auto">
          {% for file in filelst %}
             {% ifequal file.0 key %}
               <tr><td style="padding:2"><a href="/charmming/viewprocessfiles/download/{{ file.1 }}">{{ file.1 }}</a></td><td>{{ file.2 }}</td></tr>
             {% endifequal %}
          {% endfor %}
         
        </table>
      {% endfor %}
    </form>
    <br>
</div>
</div>
{% endblock %}
