<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>Download files</title>
    <script type="text/javascript">
        var GB_ROOT_DIR = "/greybox/greybox/";
    </script>

  <link rel="stylesheet" type="text/css" media="all" href="/charmming/css/tablekit/tablestyle.css" />
  <script type="text/javascript" src="/charmming/js/protoculous-1.0.2-packed.js"></script>
  <script type="text/javascript" src="/charmming/js/tablekit/fastinit.js"></script>
  <script type="text/javascript" src="/charmming/js/tablekit/tablekit.js"></script>
  <script type="text/javascript" src="/charmming/js/greybox/AJS.js"></script>
  <script type="text/javascript" src="/charmming/js/greybox/AJS_fx.js"></script>
  <script type="text/javascript" src="/charmming/js/greybox/gb_scripts.js"></script>
  <link href="/charmming/css/custom.css" rel="stylesheet" type="text/css" />
  <link href="/charmming/css/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>

  <h1 align="center">Download Files</h1>
  <h2 align="center">Working structure: {{ wsname }}</h2>

  <div class='status'>
  <center>
    <a href="/charmming/downloadfiles/downloadtar/">Download a Tar file of all the files associated with this working structure</a>
    <br />
    <br />

    <form method="post" action=".">
       {% for key in headers %}
          <h3>{{ key }} files</h3>

          <table cellspacing="3" cellpadding="2">
          {% for file in filelst %}
             {% ifequal file.0 key %}
               <tr><td><a href="/charmming/viewprocessfiles/download/{{ file.1 }}">{{ file.1 }}</a></td><td>{{ file.2 }}</td></tr>
             {% endifequal %}
          {% endfor %}
         
        </table>
      {% endfor %}
   </form>
  </center>
</body>
</html>
