<head>
<script src="/charmming/js/protoculous-1.0.2-packed.js" type="text/javascript"></script>
<script type="text/javascript">
</script>
</head>

<div>
  <link href="/charmming/css/custom.css" rel="stylesheet" type="text/css" media="all" />
  <br />
  <br />
  <br />
  <h1 align="center">Energy</h1>
  <div id='change_ener'>
    <div id="script_dothis" style="display:none;">
       makeUniqueDiv('ener_form');
       makeUniqueDiv('solvate_implicitly');
       refreshToolTips();
    </div>
    {% if energy_lines %}
       <hr noshade width="80%" size=3%>
       <div style="font: 12px, Courier, fixed;position:relative;left:20%;top:00px;">
         <h3> Previously Calculated Energy </h3>
         <pre>
           {% autoescape off %}
           {{energy_lines}}
           {% endautoescape %}
         </pre>
       </div> 
  {% endif %}
  <hr noshade width="80%" size="3%">
  <h2 align="center">Select Structure</h3>
  <br />


    <form id="ener_form" method="post"  action="." onsubmit="return send_form_energy(this,makeUniqueDiv('change_ener'),[{%for item in filename_list%}'{{item}}',{% endfor%}]);">
    <center>
       <table>
         <tr><td><p class="fonrmed">Use QM/MM calculations</td><td><input id="useqmmm" type="checkbox" name="useqmmm" onclick="checkPatch(makeUniqueDiv('useqmmm'),makeUniqueDiv('qmmm_parameters'));removePBC('usepbc',this);"></td></tr>
         <div id="qmmm_parameters" style="display:none;">
           {% include 'html/qmmm_params.html' %}
         </div>
	 <tr><td><p class="fonrmed">Use Periodic Boundary Conditions (PBC)</td><td><input id="usepbc" type="checkbox" name="usepbc"></td></tr>
         <tr><td width="566px">
            <p class="fontmed">Use shake</p></td><td><input type="checkbox" id="use_shake" name="apply_shake" onclick="checkShake(makeUniqueDiv('use_shake'),makeUniqueDiv('apply_shake'));" checked>
         </td></tr>
         <div id="apply_shake" class="fontmed" style="display:block">
           {% include 'html/shake_params.html' %}
         </div>
         <tr><td><p class="fontmed">Solvate implicitly with SCPISM</td><td><input type="checkbox" id="solvate_implicitly" name="solvate_implicitly"></td></tr>
         <tr><td><p class="fontmed">Apply patch</td><td><input id="usepatch" type="checkbox" name="usepatch" onclick="checkPatch(makeUniqueDiv('usepatch'),makeUniqueDiv('patch_area'));"></td></tr>
      </table>

       <div id='ener_remove_patch' style="display:block">

         <div id=patch_area style="display:none"></p>
           <hr width="70%">
           <table width="720px" align="center">
           {% for item in propatch_list %}
             <p class="fontmed">
             Segid:<font color="red">{{item.0}} </font>
             First Patch:
             <select size="1" name="first_patch{{item.0}}">
               {% ifequal item.1 "nter" %}
                 <option value="NTER" selected>NTER</option>
               {% else %}
                 <option value="NTER">NTER</option>
               {% endifequal %}
               {% ifequal item.1 "glyp" %}
                 <option value="GLYP" selected>GLYP</option>
               {% else %}
                 <option value="GLYP">GLYP</option>
               {% endifequal %}
               {% ifequal item.1 "prop" %}
                 <option value="PROP" selected>PROP</option>
               {% else %}
                 <option value="PROP">PROP</option>
               {% endifequal %}
               <option value="ACE">ACE</option>
               <option value="ACP">ACP</option>
               <option value="NONE">NONE</option>
             </select>

             Last Patch:
             <select size="1" name="last_patch{{item.0}}">
               <option value="CTER" selected>CTER</option>
               <option value="CT1">CT1</option>
               <option value="CT2">CT2</option>
               <option value="CT3">CT3</option>
               <option value="ACP">ACP</option>
               <option value="NONE">NONE</option>
             </select>
             </p>
           {% endfor %}

           {% for item in nucpatch_list %}
             <p class="fontmed">
             Segid:<font color="red">{{item.0}} </font>
             First Patch:
             <select size="1" name="first_patch{{item.0}}">
               <option value="5TER" selected>5TER</option>
               <option value="5MET">5MET</option>
               <option value="5PHO">5PHO</option>
               <option value="5POM">5POM</option>
               <option value="CY35">CY35</option>
             </select>

             Last Patch:
             <select size="1" name="last_patch{{item.0}}">
               <option value="3TER" selected>3TER</option>
               <option value="3PHO">3PHO</option>
               <option value="3POM">3POM</option>
               <option value="3CO3">3CO3</option>
               <option value="CY35">CY35</option>
             </select>
           {% endfor %}

           </table>
           <p class="fontmed">Enter number of disulfide patches: <input type="text" name="num_patches" id="num_patches" value="0" size="4"n onKeyUp="writeDisuLines('{% for item in seg_list %}{{item}} {% endfor %}',makeUniqueDiv('num_patches'),makeUniqueDiv('disulfide_solv'));">
           </p>

           <div id="disulfide_solv">
           </div>
         </div>
       </div>
       <hr noshade width="80%" size=3%>
       <br>
   <br />
       <br />
       {% if trusted %}
        TRUSTED USER: Edit these scripts: <input type="checkbox" id="edit_script" name="edit_script"><br><br>
       {% endif %}


       <input type="submit" value="Calculate Energy"/>
       <br>
       <br>

       </form>
    </center>
  </div>
</div>

