<div>
  <link href="/charmming/css/custom.css" rel="stylesheet" type="text/css" media="all" />
  <br />
  <h1 align="center">Energy</h1>
  <div id='change_ener'>
    <div id="script_dothis" style="display:none;">
       makeUniqueDiv('ener_form');
       makeUniqueDiv('solvate_implicitly');
       refreshToolTips();
    </div>
    {% if energy_lines %}
       <hr noshade width="80%" size=3%>
       <div style="font: 12px, Courier, fixed;position:relative;left:20%;top:00px;">
         <h3> Previously Calculated Energy </h3>
         <pre>
           {% autoescape off %}
             {% for l in energy_lines %}{{ l }}{% endfor %}
           {% endautoescape %}
         </pre>
       </div> 
  {% endif %}
  <hr noshade width="80%" size="3%">

  <form id="ener_form" method="post"  action="." onsubmit="return send_form_energy(this,makeUniqueDiv('change_ener'),[{%for item in filename_list%}'{{item}}',{% endfor%}]);">
    <h2 align="center">Working structure: {{ ws_identifier }}</h2>
    <center>

      {% include "html/workfiles.html" %}
      <br />

      <table>
	 <tr><td><p class="fonrmed">Use Periodic Boundary Conditions (PBC)</td><td><input id="usepbc" type="checkbox" name="usepbc"></td></tr>
         <tr><td><p class="fontmed">Solvate implicitly with SCPISM</td><td><input type="checkbox" id="solvate_implicitly" name="solvate_implicitly"></td></tr>
      </table>

       <input type="hidden" name="form_submit" value="1" />
       <input type="submit" value="Calculate Energy" />
    </center>
  </form>
</div>

