{% extends "html/skeleton.html" %}

{% block content %}
<div id="mainpage">
 <center>
   <div>
      <h1>Upload Structure</h1>
      <hr width="50%">
   </div>
   <h3>What would you like to do?<h3>
   <hr width="50%">
   <form id="choose_options">
      <table cellspacing="4" cellpadding="7">
         <tr>
            <td><p class="fontlarge">Retrieve a PDB using a PDB ID </p></td> <td><input type="radio" name="submit_structure_option" id="download_pdb" onclick="displayFields('pdb_download');setOptionId(this);"></td>
            <td><a href="" title="Each PDB in http://www.pdb.org has a alphanumeric code assoicated with it. Type in the code and this interface will automatically retrieve then parse it.">?</a></td>
         </tr>
         <tr><td colspan=3><hr width="100%"></td></tr>
         <tr>
            <td><p class="fontlarge">Upload my own PDB file</p></td><td> <input type="radio" name="submit_structure_option" id="upload_pdb" onclick="displayFields('pdb_upload');setOptionId(this);"></td>
            <td><a href="" title="If you have a custom generated input file,then upload it here and the interface will put it in CHARMM format.">?</a></td>
         </tr>
         <tr><td colspan=3><hr width="100%"></td></tr>
         <tr>
            <td><p class="fontlarge">Upload my own CRD/PSF file</p></td><td> <input type="radio" name="submit_structure_option" id="upload_crd" onclick="displayFields('crd_upload');setOptionId(this);"> 
	    <input type="hidden" name="submit_structure_option" id="upload_psf"></td>
            <td><a href="" title="CRD files are CHARMM-specific files that have a similar function as PDB files. If you upload a CHARMM CRD file, you must also upload a CHARMM PSF file.">?</a></td>
         </tr>
         <tr><td colspan=3><hr width="100%"></td></tr>
         <tr>
            <td><p class="fontlarge">Create my own amino acid sequence </p> </td><td><input type="radio" name="submit_structure_option" id="make_pdb" onclick="displayFields('pdb_make');setOptionId(this);"></td>
            <td><a href="" title="You can define your own sequence by typing in the amino acids you want. Use the three letter abbreviation followed by a space (e.g. ALA GLY TYR).">?</a></td>
         </tr>
         <tr><td colspan=3><hr width="100%"></td></tr>
      </table>
   </form>

   {% ifequal lessonvalue 1 %}
     <form id='submit_structure' enctype="multipart/form-data" method="post" action="/charmming/fileupload/" onsubmit="window.parent.showLesson(getLessonValue());">
   {% else %}
     <form id='submit_structure' enctype="multipart/form-data" method="post" action="/charmming/fileupload/">
   {% endifequal %}
      <fieldset class="structure">
         <legend class="login">Submit Structure</legend>
            <div id='pdb_upload' style="display:none"><p><label for="id_pdb"> PDB File Uploader </label> {{ form.pdbupload }} {{ form.pdbupload_file }}</div>
            <div id='crd_upload' style="display:none"><p><label for="id_pdb"> CRD File Uploader </label> {{ form.pdbupload }} {{ form.pdbupload_file }}</div>
            <div id='psf_upload' style="display:none"><p><label for="id_psf"> PSF File Uploader </label> {{ form.psfupload }} {{ form.psfupload_file }}</div>
            <div id='pdb_download' style="display:none"><p><label for="id_pdbid"> PDB.org ID </label> {{ form.pdbid }} {{ form.proto }} </div>
            <div id='pdb_make' style="display:none">
                 <label for="id_sequ">Custom Sequence </label>{{ form.sequ }} 
	         <br>
	         <br>
                 <fieldset class="custom_sequ">
                 <legend class="custom_sequ">Click residue to create sequence</legend>
	           <div class="colwrapper">
	             <div class="col1">
	               Acidic:<br>
	               <a href="javascript:addResidue('ASP');">ASP-Aspartic Acid </a><br>
	               <a href="javascript:addResidue('ASPP');">ASPP-Aspartic Acid* </a><br>
	               <a href="javascript:addResidue('GLU');">GLU-Glutamic Acid </a><br>
	               <a href="javascript:addResidue('GLUP');">GLUP-Glutamic Acid* </a><br>
	               <a href="javascript:addResidue('HSP');">HSP-Histidine*</a><br>
	               Basic:<br>
	               <a href="javascript:addResidue('ARG');">ARG-Arginine </a><br>
	               <a href="javascript:addResidue('LYS');">LYS-Lysine </a><br>
	               Neutral:<br>
	               <a href="javascript:addResidue('ALA');">ALA-Alanine</a><br>
	               <a href="javascript:addResidue('ASN');">ASN-Asparagine</a><br>
	               <a href="javascript:addResidue('CYS');">CYS-Cysteine </a><br>
	               <a href="javascript:addResidue('GLN');">GLN-Glutamine </a><br>
	               <a href="javascript:addResidue('GLY');">GLY-Glycine </a><br>
                     </div>
	             <div style="position:absolute;left:205px;top:0px;width:200px;">
	               <a href="javascript:addResidue('HSD');">HISD-Histidine*</a><br>
	               <a href="javascript:addResidue('HSE');">HSE-Histidine*</a><br>
	               <a href="javascript:addResidue('ILE');">ILE-Isoleucine </a><br>
	               <a href="javascript:addResidue('LEU');">LEU-Leucine </a><br>
	               <a href="javascript:addResidue('LSN');">LSN-Lysine* </a><br>
	               <a href="javascript:addResidue('MET');">MET-Methionine </a><br>
	               <a href="javascript:addResidue('PHE');">PHE-Phenylalanine </a><br>
	               <a href="javascript:addResidue('PRO');">PRO-Proline </a><br>
	               <a href="javascript:addResidue('SER');">SER-Serine </a><br>
	               <a href="javascript:addResidue('THR');">THR-Threonine </a><br>
	               <a href="javascript:addResidue('TRP');">TRP-Tryptophan </a><br>
	               <a href="javascript:addResidue('TYR');">TYR-Tyrosine </a><br>
	               <a href="javascript:addResidue('VAL');">VAL-Valine </a><br>
                     </div>
                     <p>* = alternate protonation state</p>
     	           </div>
                 </fieldset>
            </div>
      </fieldset>
      <br />
      {% ifequal lessonuser 1 %}
       What Lesson is this structure associated with?<br>
        <select name="lesson" id="lesson"> 
         <option value="nolesson" selected> No Lesson </option>
         <option value="lesson1"> Lesson 1 </option>
         <option value="lesson2"> Lesson 2 </option>
         <option value="lesson3"> Lesson 3 </option>
         <option value="lesson4"> Lesson 4 </option>
        </select><br><br>
      {% endifequal %}

      <div id="bln_params" style="display:none; font-size: small;">
        <table>
          <tr> 
             <td widtth="50%" valign="top"><b>Domain Mapping</b><br />
                 Interaction between various domains are scaled by the domainScale parameter below. You can make each segment
                 a separate domain, or you can provide your own domain. For example, if you give a mapping 10:20:30, then residues
                 1-10 will be one domain, 11-20 another, and 21-30 yet another.
             </td>
             <td width="50%" valign="top">
                <input type="radio" name="bln_dm_uploadtype" value="auto" checked> Each segment is its own domain <br />
                <input type="radio" name="bln_dm_uploadtype" value="box"> Enter manually {{ form.bln_dm_string }}
             </td>
          </tr>
          <tr>
             <td width="50%">nScale {{ form.bln_nScale }}</td>
             <td width="50%">domainScale {{ form.bln_domainScale }}</td>
          </tr>
          <tr>
             <td width="33%">kBondHelix {{ form.bln_kBondHelix }}</td>
             <td width="33%">kAngleHelix {{ form.bln_kAngleHelix }}</td>
          </tr>
          <tr>
             <td width="33%">kBondSheet {{ form.bln_kBondSheet }}</td>
             <td width="33%">kAngleSheet {{ form.bln_kAngleSheet }}</td>
          </tr>
          <tr>
             <td width="33%">kBondCoil {{ form.bln_kBondCoil }}</td>
             <td width="33%">kAngleCoil {{ form.bln_kAngleCoil }}</td>
          </tr>
        </table>
      </div>


      <input type="submit" value="Submit Structure"/>
   </form>
 </center>
</div>
{% endblock %}
