{% block content %}
<html>
<head>
<title>Visualization of {{filepath}}</title>
</head>
<body>
<div id="mainpage">
  <script type="text/javascript" src="/charmming/js/jsmol/JSmoljQuery.js"></script>
  <script type="text/javascript" src="/charmming/js/jsmol/JSmolCore.js"></script>
  <script type="text/javascript" src="/charmming/js/jsmol/JSmolApplet.js"></script>
  <script type="text/javascript" src="/charmming/js/jsmol/JSmolApi.js"></script>
  <script type="text/javascript" src="/charmming/js/jsmol/j2s/j2sjmol.js"></script>
  <script type="text/javascript" src="/charmming/js/jsmol/JSmol.js"></script>
  <center>
    <h3>Visualization</h3>
    <br />
    <script type="text/javascript">
    var jmolApplet;
    jmol_isReady = function(applet) {
	document.title = ("JSmol is ready")
	Jmol._getElement(applet, "appletdiv").style.border="1px solid blue"
}		
    var Info = {
	width: 650,
	height: 650,
	debug: false,
	color: "black",
	use: "HTML5",
	j2sPath: "/charmming/js/jsmol/j2s",
	readyFunction: jmol_isReady,
	script: "set antialiasDisplay;"
}
    </script>
    <script>
    jmolApplet = Jmol.getApplet("jmolApplet", Info)
    {% if segid == "NA" and isProtein %}
       Jmol.script(jmolApplet,  "load /charmming/pdbuploads/{{filepath}};anim mode palindrome 2 2; anim on; slab off; spin off; wireframe off; spacefill off; trace off; set ambient 40; set specpower 40; slab off; ribbons on; color structure");
    {% else %}
       Jmol.script(jmolApplet, "load /charmming/pdbuploads/{{filepath}};anim mode palindrome 2 2; anim on; {{resid}}; cpk 30%; wireframe 55; select {{resid}} and ( _O or _N ); label %a, %n");
    {% endif %}
  
    </script>
  </center>
</body>
</html>
{% endblock %}
