{% extends 'html/skeleton.html' %}
{% block content %}
<!-- REMEMBER! Make new menu. Add atom selection buttons. -->
  <script type="text/javascript" src="/charmming/js/jsmol/js/JSmolCore.js"></script>
  <script type="text/javascript" src="/charmming/js/jsmol/js/JSmolApplet.js"></script>
  <script type="text/javascript" src="/charmming/js/jsmol/js/JSmolApi.js"></script>
  <script type="text/javascript" src="/charmming/js/jsmol/js/j2sjmol.js"></script>
  <script type="text/javascript" src="/charmming/js/jsmol/js/JSmol.js"></script>
  <link rel="icon" type="image/xicon" href="/charmming/images/charmming-css/favicon.ico" />
  <link rel="shortcut icon" type="image/xicon" href="/charmming/images/charmming-css/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/charmming/js/qtip/jquery.qtip.min.css"></script>
  <script type="text/javascript" src="/charmming/js/qtip/jquery.qtip.min.js"></script>
<!--    <a id="test">Woof!</a>
  
  <script>
    $("#test").qtip({
      content: '<img src="http://www.rcsb.org/pdb/images/ALC_270.gif"></img>'
    });
  </script> -->
    <h1 class="center_header">Visualization of structure {{structname}}</h1>
  <hr class="noshade_hr">
  <br />
  <div id="jsmol" style="margin-left:auto;margin-right:auto;width:600px">
  <script type="text/javascript">
    var jmolApplet;
    jmol_isReady = function(applet) {
    Jmol._getElement(applet, "appletdiv".style.border="1px solid blue");
    }		
    var debug_on = {% if super_user %} false {% else %} true {% endif %}
    var Info = {
	width: "600",
	height: "600",
	debug: false,
	color: "black",
	use: "HTML5",
	j2sPath: "/charmming/js/jsmol/j2s",
	readyFunction: jmol_isReady,
  script: "set antialiasDisplay;",
  disableJ2SLoadMonitor: debug_on,
  disableInitialConsole: debug_on,
//  console: "jmolApplet_infodiv"
  //Apparently the DEFAULT setting is to have debug on. Thus the awkwardness.
}
    </script>
  <script>
      jmolApplet = Jmol.getApplet("jmolApplet", Info);
    {% if segid == "NA" and isProtein %}
       Jmol.script(jmolApplet,  "load /charmming/pdbuploads/{{filepath}};anim mode palindrome 2 2; anim on; slab off; spin off; wireframe off; spacefill off; trace off; set ambient 40; set specpower 40; ribbons on; color structure");
    {% else %}
       Jmol.script(jmolApplet, "load /charmming/pdbuploads/{{filepath}};anim mode palindrome 2 2; anim on; {{resid}}; cpk 30%; wireframe 55; select {{resid}} and ( _O or _N ); label %a, %n");
       {% endif %}
       var count = 0;
     </script>
     <br />
</div>
{% endblock %}
