{% extends "html/skeleton.html" %}

{% block content %}
<div id="maincontent">
  <div class="center_header" id="change_ld">
    <h1>Langevin Dynamics</h1>
    <hr class="noshade_hr">
<!--    <div id="script_dothis" style="display:none;">
      makeUniqueDiv('ld_form');
      makeUniqueDiv('sgld');
      makeUniqueDiv('run_time_ldestimate');
      refreshToolTips();
    </div>
    Legacy code
    -->
			   
    <form id='ld_form' name="ld" method="post"  action=".">
        <h2>Working structure: {{ ws_identifier }}</h2>

        {% include "html/taskfiles.html" %}
            

        <h2>Select Langevin dynamics options</h2>
        <table class="qm_table align_left" style="padding-left:10%">
          <tr><td>Number of steps</td><td><input type="text" id="nstep" name="nstep" value="1000"></td></tr>
          <tr><td>Solvate Implicitly with SCPISM</td><td><input type="checkbox" id="solvate_implicitly" name="solvate_implicitly"></td></tr>
          <tr><td>Use SGLD</td><td><input type="checkbox" id="usesgld" name="usesgld" value="usesgld" onclick="if(this.checked){$('#sgldparm').show();}else{$('#sgldparm').hide();}"></td></tr>
          <tr><td>Use PBC</td><td><input type="checkbox" id="usepbc" name="usepbc" value="usepbc"></td></tr>
          <tr><td>Make a movie</td><td><input type="checkbox" id="make_movie" name="make_movie" value="make_movie"></td></tr>
        </table>

        <div id="sgldparm" class="hidden">
          TSGAVG:<input type="text" name="tsgavg" value="0.5">
          TEMPSG:<input type="text" name="tempsg" value="1.0">
        </div>

        <hr class="noshade_hr">
        <br />
        FBETA
        <input type="text" name="fbeta" value="60.0"><br />

        <input type="submit" value="Run Langevin Dynamics" />
    </form>
  </div>
</div>
{% endblock %}
