<div>
  <link href="/charmming/css/custom.css" rel="stylesheet" type="text/css" media="all" />
  <br />
  <br />
  <br />
  <h1 align="center">Molecular Dynamics</h1>
  <hr noshade width="80%" size=3%>

  <div id="change_ld" style="text-align: center;">
    <h1 align=center>Langevin Dynamics</h1>
    <hr align=center noshade width="80%" size=3%>
    <div id="script_dothis" style="display:none;">
      makeUniqueDiv('ld_form');
      makeUniqueDiv('sgld');
      makeUniqueDiv('run_time_ldestimate');
      refreshToolTips();
    </div>
			   
    <form id='ld_form' name="ld" method="post"  action"." onsubmit="return send_form_ld(this,'/charmming/dynamics/ld/','change_ld','status_ld',[{%for item in filename_list%} '{{item}}',{% endfor %}]);">
      <center>
        <h2>Working structure: {{ ws_identifier }}</h2>

        {% include "html/workfiles.html" %}
            

        <h2>Select Langevin dynamics options</h2>
        <table>
          <tr><td>Number of steps</td><td><input type="text" id="nstep" name="nstep" value="1000"></td></tr>
          <tr><td>Solvate Implicitly with SCPISM</td><td><input type="checkbox" id="solvate_implicitly" name="solvate_implicitly"></td></tr>
          <tr><td>Use SGLD</td><td><input type="checkbox" id="usesgld" name='usesgld' value='usesgld' onclick="checkSgld('sgld','block');"></td></tr>
          <tr><td>Make a movie</td><td><input type="checkbox" id="make_movie" name="make_movie" value="make_movie"></td></tr>
        </table>

        <div id="sgld" style="display:none;">
          TSGAVG:<input type="text" name="tsgavg" value="0.5">
          TEMPSG:<input type="text" name="tempsg" value="1.0">
        </div>

        <hr noshade width="80%" size=3%>
        <br />
        FBETA
        <input type="text" name="fbeta" value="60.0"><br />

        <input type="submit" value="Run Langevin Dynamics" />
      </center>
    </form>
  </div>
</div>
