{% extends 'html/skeleton.html' %}
{% block content %}
<script type="text/javascript" src="/charmming/js/jsmol/js/JSmolCore.js"></script>
<script type="text/javascript" src="/charmming/js/jsmol/js/JSmolApplet.js"></script>
<script type="text/javascript" src="/charmming/js/jsmol/js/JSmolApi.js"></script>
<script type="text/javascript" src="/charmming/js/jsmol/js/j2sjmol.js"></script>
<script type="text/javascript" src="/charmming/js/jsmol/js/JSmol.js"></script>
<script type="text/javascript" src="/charmming/js/jquery-ui/jquery-ui.js"></script>

  <div id="top_of_page">
    <h1 style="text-align:center">Build a {% if structname %} Ligand for Structure {{ structname }} {% else %} Custom Ligand{% endif %}</h1>
  <hr />
  <form id="ligand_form" method="post" action="/charmming/ligand_design/" enctype="multipart/form-data" onsubmit="return send_form_gener('config_form','/charmming/ligand_design/',makeUniqueDiv('Build Ligand'));" > 
    <div style="background-color: #919f86;"><b>Please choose a name for the new ligand:&nbsp;&nbsp;</b>
      <input type="text" name="LigName" id="LigName" value="{{ molname }}"><br />
        (only the first 4 characters will be used as a residue name)<br />
        <p>Attach this ligand to the current structure&nbsp;&nbsp;<input type="checkbox" name="attach_check" id="attach_check" {% if attach_check %} checked {% endif %}></p></div>
      <input type="text" name="molinfo" id="molinfo" value="{{moldata}}" style="display:none"> <!-- This holds the MOL output from Jmol to spit back out into django -->
      <input type="hidden" name="force_charge" id="force_charge" value="false">
      <input type="hidden" name="force_custom" id="force_custom" value="false"> <!-- Bypasses SDF check in PDB.org -->
      <input type="hidden" name="not_custom" id="not_custom" value="false">
    </form>
  </div>
  <div id="ligbuild_options">
    <div id="jsmol_ligand">
      {% if same_residue %}
      <div id="dialog_sameres_alert" title="Name error">
        <p><span class="ui-icon ui-icon-alert" style="float:left;margin: 0 auto auto 0;"></span>There is 
        already a residue with this name on the current structure. Please choose a different name for your ligand.</p>
      </div>
      {% endif %}
      {% if sdf_link %} 
      <div id="dialog_confirm_PDB" title="Found residue on PDB.org">
        <p><span class="ui icon ui-icon-alert"></span>Your residue has been found on PDB.org at <a href="{{sdf_link}}">this link.</a></p>
        <br />
        <center>
          <img src="http://www.rcsb.org/pdb/images/{{mol_short}}_270.gif" alt="Residue image">
        </center>
      </div>
      <div id="dialog_name_alert" title="Name error">
        <p><span class="ui-icon ui-icon-alert" style="float:left;margin: 0 auto auto 0;"></span>
        Please choose a different name for your ligand.</p>
      </div>
      {% endif %}
      {% if charge_alert %}
      <div id="dialog_charge_alert" title="Charge error">
        <p><span class="ui-icon ui-icon alert" style='float:left;margin 0 auto auto 0;'></span>
        Your molecule has an odd number of electrons. Are you sure you want to submit this ligand?
        </p>
      </div>
      {% endif %}
      {% if struct_error %}
      <div id="dialog_struct_error" title="Bad residue name">
      </div>
      {% endif %}
      <div id="dialog_reserved_name" title="Reserved name">
        <p><span class="ui icon ui-icon alert"></span></p>
      </div>
      <div id="dialog_no_name" title="No name">
        <p><span class="ui icon ui-icon alert"></span>Please input a name for your ligand.</p>
      </div>
      <div id="dialog_spec_char_alert" title="Special characters in name">
        <p><span class="ui icon ui-icon alert"></span></p>
      </div>
      <div id="dialog_no_ligand" title="No ligand built">
        <p><span class="ui icon ui-icon alert"></span>Please build a ligand before submitting.</p>
      </div>
    <script type="text/javascript" src="/charmming/js/ligand.js"></script>
    <script type="text/javascript">
      if (sdf_link) {
              $(function($) {
          $( "#dialog_name_alert").dialog({
            resizable:false,
            height:200,
            width:600,
            modal:true,
            autoOpen:false,
            buttons:{
            "OK":function(){
            $(this).dialog("close");
            }
          }
        });
      });

      //We include things we still need to template
      $(function($) {
          $( "#dialog_confirm_PDB" ).dialog({
            resizable:false,
            height:470,
            width:700,
            modal:true,
            buttons:{
            "Build ligand from PDB.org": function() {
              document.getElementById("force_custom").value = "true";
              document.getElementById("not_custom").value = "true";
              $( this ).dialog("close");
              normalFormSubmit(true);
            },
            "Build my custom ligand under this name anyway": function() {
              document.getElementById("force_custom").value = "true";
              {% if not charge_alert %}
                normalFormSubmit(true);
              {% endif %}
              $( this ).dialog( "close" );  
            },
            "Go back to editing": function() { 
              $( this ).dialog( "close" );
              $("#dialog_name_alert").dialog("open");
              }
            }  
          });
        });
      }

      
      
      //We use a jQuery UI thing because using prototypejs makes things silly.
        var initialscript = 'set antialiasDisplay;set atompicking on;set picking assignatom_C;'
        {% if not moldata %}
          initialscript = initialscript + "load /charmming/js/jsmol/methane.xyz";
        {% else %}
          initialscript = initialscript + "load {{filepath}}moldata.pdb;";
        {% endif %}
        var jmolApplet;
        jmol_isReady = function(applet) {
          Jmol._getElement(applet, "appletdiv".style.border="1px solid blue");
        }
        var debug_on = {% if super_user %}false {% else %} true {% endif %};
        var Info = {
          width: 600,
          height: 600,
          debug: false, //Only turn this on when something's wrong with JSmol itself
          addSelectionOptions:true,
          color: 'black',
          use: 'HTML5',
          j2sPath: '/charmming/js/jsmol/j2s/',
          readyFunction: jmol_isReady,
          script: initialscript, //Auto-enables drawing CH3's.
          disableJ2SLoadMonitor: debug_on,
          disableInitialConsole: debug_on,
          console: 'jmolApplet_infodiv'
        }
        Jmol.setGrabberOptions([
            ["$", "small molecules at NCI"],
            [":", "small molecules at PubChem"],
            ["==", "ligands at PDB"],
        ]);
        jmolApplet = Jmol.getApplet("jmolApplet", Info);
        // Now jmolApplet can be referenced from all the other stuff on this page.
      </script>
    </div>
    <div id="mol_actions">
        <div id="default_mols">
          <h3>Load Default Starting Molecules</h3>
          <hr />
            <button id="Benzene" onclick="load(jmolApplet, 'benzene')">Benzene</button>&nbsp;
            <button id="Methane" onclick="load(jmolApplet, 'methane')">Methane</button>
            <br />
            <br />
          </div>
        <div id="database_mols">
          <h3>Load Starting Molecule from Database</h3>
          <hr />
            <script>
              
              $("#jmolApplet_query").appendTo("#database_mols");
              $("#jmolApplet_select").appendTo("#database_mols");
              $("#jmolApplet_submit").appendTo("#database_mols");
            </script>
            <br />
          </div>
        <div id="actions">
          <h3>Structure Actions</h3>
          <hr />
            <button onclick="action_save(jmolApplet);">Save</button>&nbsp;
            <button onclick="action_restore(jmolApplet);">Restore</button>&nbsp;
            <br /><br />
        </div>
        <div id="mol_edit">
          <h3>Atom Manipulation</h3>
          <hr />
          <button id="off" onclick="off(jmolApplet);">Off</button>&nbsp;
          <button id="drag" onclick="drag(jmolApplet);">Drag</button>&nbsp;
          <button id="del" onclick="del(jmolApplet);">Delete</button>&nbsp;
          
          <br /><br />
          <h3>Atom picking</h3>
          <hr />
          <!-- Replace these with radio buttons maybe? ~VS -->
          <button id="H" onclick="pickAtom(jmolApplet, this);">H</button>&nbsp;
          <button id="C" onclick="pickAtom(jmolApplet, this);">C</button>&nbsp;
          <button id="N" onclick="pickAtom(jmolApplet, this);">N</button>&nbsp;

          <button id="O" onclick="pickAtom(jmolApplet, this);">O</button>&nbsp;
          <button id="S" onclick="pickAtom(jmolApplet, this);">S</button>&nbsp;
          <button id="P" onclick="pickAtom(jmolApplet, this);">P</button>&nbsp;
          <button id="Li" onclick="pickAtom(jmolApplet,this);">Li</button>&nbsp;
          <button id="Na" onclick="pickAtom(jmolApplet,this);">Na</button>&nbsp;
          <button id="Mg" onclick="pickAtom(jmolApplet,this);">Mg</button>&nbsp;
          <br /><br />
          <button id="K" onclick="pickAtom(jmolApplet,this);">K</button>&nbsp;
          <button id="Ca" onclick="pickAtom(jmolApplet,this);">Ca</button>&nbsp;
          <button id="Rb" onclick="pickAtom(jmolApplet,this);">Rb</button>&nbsp;
          <button id="Cs" onclick="pickAtom(jmolApplet,this);">Cs</button>&nbsp;
          <button id="Ba" onclick="pickAtom(jmolApplet,this);">Ba</button>&nbsp;
          <button id="Zn" onclick="pickAtom(jmolApplet,this);">Zn(II)</button>&nbsp;
          <button id="Cd" onclick="pickAtom(jmolApplet,this);">Cd(II)</button>&nbsp;
          <button id="Cl" onclick="pickAtom(jmolApplet,this);">Cl</button>&nbsp;
          <br /><br />
          <button id="Pl" onclick="pickAtom(jmolApplet,this);">Increase Charge</button>&nbsp;
          <button id="Mi" onclick="pickAtom(jmolApplet,this);">Decrease Charge</button>&nbsp;
          <br /><br />
        </div>
        <div id="mol_bonds">
          <h3>Bond Manipulation</h3>
          <hr />
          <button id="n" onclick="setbonds(jmolApplet,this);">Off</button>&nbsp;
          <button id="0" onclick="setbonds(jmolApplet,this);">Break</button>&nbsp;
          <button id="1" onclick="setbonds(jmolApplet,this);">Single</button>&nbsp;
          <button id="2" onclick="setbonds(jmolApplet,this);">Double</button>&nbsp;
          <button id="3" onclick="setbonds(jmolApplet,this);">Triple</button>&nbsp;
          <br /><br />
        </div>
        <hr />
        <button id="submit" onclick="normalFormSubmit();">Upload New Ligand</button>
      </div>
      <br />
    </div>
    <br>
{% endblock %}
