<div>
  <link href="/charmming/css/custom.css" rel="stylesheet" type="text/css" media="all" />
  <br />
  <br />
  <br />
  <h1 align="center">Molecular Dynamics</h1>
  <hr noshade width="80%" size=3%>

  <div id="change_md" style="text-align: center;">
    <div id="script_dothis" style="display:none;">
      makeUniqueDiv('md_form');
      makeUniqueDiv('solvate_implicitly');
      makeUniqueDiv('run_time_mdestimate');
      makeUniqueDiv('use_replica_exchange');
      makeUniqueDiv('replica_exchange_lines');
      refreshToolTips();
    </div>

    <form id='md_form' name="md" method="post" action="." onsubmit="return send_form(this,'/charmming/dynamics/md/','change_md','status_md',[{% for item in filename_list%}'{{item}}',{%endfor%}]);">

      <center>
        <h2>Working structure: {{ ws_identifier }}</h2>

        {% include "html/workfiles.html" %}
      </center>
      <br />

      <hr noshade width="80%" size=3%>
      <h2 align="center">Select type of run</h2>

      <hr width="60%">

      <div id="menu" style="width: 100%; padding-left: 20%;">
        <table width="600px">
          <tr><td width="490px">Heating (adds kinetic energy to the system)</td><td width="20px"><input type="radio" id="runtype" value="useheat" name="mdtype" onclick="checkUncheck('heat','equi','block');"></td></tr>
          <tr><td width="490px">NVE dynamics (holds energy constant; no temperature control)</td><td width="20px"><input type="radio" id="usenve" value="usenve" name="mdtype" onclick="checkUncheck('nve','heat','block');"></td></tr>
          <tr><td width="490px">NVT dynamics (holds temperature constant)</td><td width="20px"><input type="radio" id="usenve" value="usenve" name="mdtype" onclick="checkUncheck('nve','heat','block');"></td></tr>
          {% if canrestart %}
            <tr><td>Restart from previous run</td><td><input type="checkbox" id="dorestart" value="dorestart" name="dorestart" />
          {% endif %}
            <!-- <tr><td>Use Replica Exchange</td><td><input type="checkbox" id="use_replica_exchange" name="use_replica_exchange" value="use_replica_exchange" onClick="checkReplicaExchange(makeUniqueDiv('use_replica_exchange'),makeUniqueDiv('replica_exchange_lines'));"></td></tr>  -->
        </table>

        <div id="replica_exchange_lines" style="display: none; width: 100%">
         <table width="600px" style="display:block;width: 100%;"> 
            <tr><td>Exchange frequency: </td><td><input type="text" size=4 name="rex_clean" value="1"></td></tr>
            <tr><td>Enter number of replicas:</td><td> <input type="text" name="num_rex" id="num_rex" value="0" size="4"n onKeyUp="writeRexTempLines(makeUniqueDiv('num_rex'),makeUniqueDiv('rex_lines'),makeUniqueDiv('rex_lines'));">
            <div id="rex_lines" style="display:block; width: 100%; padding-left: 0%;"></div>
            </td></tr>
          </table>
        </div>

        <table>
          <tr><td width="566px">Solvate Implicitly with SCPISM</td><td><input type="checkbox" id="solvate_implicitly" name="solvate_implicitly" value="1"></td></tr>
          <tr><td>Make a movie</td><td><input type="checkbox" id="make_movie" name="make_movie" value="make_movie"></td></tr>
          <tr><td>Generate the average structure from the MD run</td><td><input type="checkbox" id="gen_avgstruct" name="gen_avgstruct" value="gen_avgstruct"></td></tr>
        </table>
      </div>

      <div id="heat" style="display: none; width: 100%; padding-left: 20%;">
        <hr width="60%" align="left">
        <table>
          <tr><td>Number of steps (NSTEP)</td><td><input type="text" name="nstepht" id="nstepht" value="1000""></td></tr>
          <tr><td>Starting temperature (FIRSTT)</td><td><input type="text" name="firstt" value="210.15"></td></tr>
          <tr><td>Final temperature (FINALT)</td><td><input type="text" name="finalt" value="310.15"></td></tr>
          <tr><td>Temperature increment (TEMINC)</td><td><input type="text" name="teminc" value="10.0"></td></tr>
          <tr><td>Steps between temperature increments (IHTFRQ)</td><td><input type="text" name="ihtfrq" value="100"></td></tr>
          <tr><td>Temperature of bath (TBATH)</td><td><input type="text" name="tbath" value="410.15"></td></tr>
        </table>
      </div>

      <div id="nve" style="display: none; width: 100%; padding-left: 20%;">
        <hr width="60%" align="left">
        <table>
          <tr><td>Number of steps (NSTEP)</td><td><input type="text" name="nstepeq" id="nstepeq" value="1000" onChange="getTimeEstimate(makeUniqueDiv('run_time_mdestimate'),[{% for item in filename_list%}'{{item}}',{%endfor%}],'md');"></td></tr>
          <tr><td>Temperature (Kelvin)</td><td><input type="text" name="temp" value="310.15"></td></tr>
        </table>
      </div>

      <center><input type="submit" value="Apply Molecular Dynamics" /></center>
</div>

