{% extends "html/skeleton.html" %}

{% block content %}
<div id ="mainpage">

	<h1 align="center">Point-Mutation for Structure {{ structname }}</h1>
	<hr />
	<div id="mutate_options">	
    <form id="mutate_form" method="post" action="/charmming/mutestruct/" enctype="multipart/form-data" onsubmit="return send_form_gener('config_form','/charmming/mutestruct/',makeUniqueDiv('Mutate Structure'));" >
      <div id='task'> 
        <h2 align="center">Working structure: {{ ws_identifier }}</h2>
        {% include "html/taskfiles.html" %}
        <br />
        </div>
			<div style="background-color: #919f86;"><b>Please choose a name for the mutated structure:</b><input type="text" name="MutFile" id="MutFile" value="{{ proposedname }}" /> </div><br />
			<div id=select_segment">
				<h3>Select segment name for mutation</h3>
				<select name="MutSegi" id="MutSegi">
				{% for seg in segnames %} 
        <option value="{{ seg }}">{{ seg }}</option> 
				{% endfor %}
        </select>
        <!-- We count from 0 to make it the same indices...however we will need to fetch innerHTML to get things working right later. -->
			</div>
{%comment%}
so now we have this dictionary with all the possible resids attached to resnames but I haven't a clue how to USE the things...
segs have iter_res(), so we can easily get a bunch of stuff from there
{%endcomment%}
			<div id="select_residue">
        <h3>Select the residue you would like to mutate</h3>
				<select name="MutResName" id="MutResName">
				</select>	
			</div>
			<div id="select_resid"> 
				<h3>Select the residue number</h3>
				<select name="MutResi" id="MutResi">
				</select>
			</div>
			<div id="select_new_residue">
				<h3>Select the new residue at the point of mutation</h3>
				<select name="NewResn" id="NewResn">
				{% for acid in amino_list %}
					<option value="{{ acid }}">{{ acid }}</option>
				{% endfor %}
				</select>
      </div><br />
			<input type="submit" value="Submit" />
		</form>
	</div>
</div>

{% comment %}
Incoming block of JavaScript!
Watch for falling JSON.
{% endcomment %}

<script type="text/javascript">
  function is_empty(obj) { //Inner function since we can't use jQuery to make things easy...
    for (var i in obj){return false;}
    return true;
  }
  var segnames = []
  {% for seg in segnames %}
    segnames.push("{{ seg }}");
  {% endfor %}
  function getSegID(segment){ //Returns the index of the specified segment in segnames. A bit hacky, but it makes sending the form easier
    for (var i=0;i<segnames.length;i++){
      if(segnames[i] == segment)
        return i
    }
  }
  var myDictList = {{ dictlist|safe }}; //Now we have the Python dictionary in JS.
  changeSegBox(); //We call these before anything executes so the initial choice gets itself updated
  changeResBox();
  
  //Following two are the event handlers...
  
  function changeSegBox(){ //Changes the residue list based on which segment you choose
    var currentseg = getSegID($("MutSegi").getValue());
    $("MutResName").update("");
    var resnameString = ""
    if (!(is_empty(myDictList[currentseg]))){    //Don't get keys on an empty dict...
      var sortlist = []
        for(var key in myDictList[currentseg]){
          sortlist[sortlist.length] = key //Lovely little hack this is
        }
      sortlist.sort()
      for (i=0;i<sortlist.length;i++){
        resnameString = resnameString + '<option value="' + sortlist[i] + '">' + sortlist[i] + '</option>';
      }
      $("MutResName").update(resnameString);
    }
    changeResBox(); //Maybe this helps...it seems change listeners don't stack
  };


  function changeResBox(){
      var currentseg = getSegID($("MutSegi").getValue());
      var currentres = $("MutResName").getValue();
      $("MutResi").update("");
      var resiString = ""
      //Sanity check so we don't try to handle things with an empty dict
      if (!(is_empty(myDictList[currentseg]))){
        resids = myDictList[currentseg][currentres]; //Get entries under key
        for (var i=0;i<resids.length;i++){ //resids is a list, can't do for...in
          resiString = resiString + '<option value="' + resids[i] + '">' + resids[i] + '</option>';
        }
      $("MutResi").update(resiString);
      }
  };

  //And these are the eventlisteners.
  document.getElementById("MutResName").addEventListener('change', changeResBox);
  document.getElementById("MutSegi").addEventListener('change', changeSegBox);
  
    
  
</script>
{% endblock %}
