<div>
  <div id="script_dothis" style="display:none;">
    makeUniqueDiv('nma_form');
    makeUniqueDiv('atomnumbernma');
    refreshToolTips();
  </div>

  <div id="change_nma" style="text-align: center;">
    <h1 align="center">Normal Mode Analysis</h1>
    <br />
    <br />
    <br />

    {%if nmode_lines %}
       <h3>First 10 non-zero modes From Previous Run:</h3>
       <pre text-align="left">
         {{nmode_lines}}
       </pre>
    {% endif %}
    <hr noshade width="80%" size="3%" />

    <form id='nma_form' name="nma" method="post" action="." onsubmit="return send_form_nma(this,'/charmming/normalmodes/','change_nma','status_nma',[{% for item in filename_list%}'{{item}}',{%endfor%}]);">

      <center>
        <h2>Working structure: {{ ws_identifier }}</h2>

        {% include "html/workfiles.html" %}
      </center>
      <hr noshade width="80%" size="3%" />

      <p class="fontmed">Choose one of the following types of Normal Mode Analysis to run.</p>
      <table>
        <tr><td>All atoms</td><td><input type="radio" id="usevibran" value="usevibran" name="nma" onclick="checkUncheckNMA('vibran','enm','block');getAtomNumber(makeUniqueDiv('atomnumbernma'),[{% for item in filename_list%}'{{item}}',{%endfor%}],'nma');showHideQMMM();"></td></tr>
        <tr><td>ENM (Elastic Network Model)</td><td><input type="radio" id="useenm" value="useenm" name="nma" onclick="checkUncheckNMA('enm','vibran','block');getAtomNumber(makeUniqueDiv('atomnumbernma'),[{% for item in filename_list%}'{{item}}',{%endfor%}],'nma');showHideQMMM();"></td></tr>
        <tr><td>Number of normal modes to generate:</td><td> <input type="text" id="num_normalmodes" name="num_normalmodes" value="100" /></td></tr>
        <tr><td>Generate trajectories of normal modes</td><td><input type="checkbox" id="gen_trj" name="gen_trj" value="gen_trj" onclick="checkPatch('gen_trj','num_trjstable');"></td></tr>
        <tr><td>How many of the lowest modes should trajectories be generated for?</td>
            <td><select name="num_trjs">
               <option value="5">5</option>
               <option value="10">10</option>
               <option value="15">15</option>
               <option value="20">20</option>
             </select>
            </td>
        </tr>
        <tr><td><p class="fonrmed">Use QM/MM calculations</td><td><input id="useqmmm" type="checkbox" name="useqmmm" onclick="checkPatch(makeUniqueDiv('useqmmm'),makeUniqueDiv('qmmm_parameters'));"></td></tr>
      </table>

    </form>

  </div>
</div>

