{% extends "html/skeleton.html" %}

{% block content %}
<div id="mainpage">
  <br />
  <br />
  <br />
  <h1 class="center_header">Calculate RMSD</h1>

  <div id='change_rmsd' style="text-align:center;">
<!--    <div id="script_dothis" style="display:none;">
       refreshToolTips();
       var GB_ROOT_DIR = "/charmming/greybox/greybox/";
     </div>
    Legacy code.
    -->

    {% if feedback %}
      <h3 class="center_header"><font color="red">{{ feedback }}</font></h3>
    {% endif %}

    {% autoescape off %}
    {% if prior_matrix %}
    <div style="text-align:center">
      {{prior_matrix}}<br />
    </div>
    {% endif %}
    {% endautoescape %}

    <hr class="noshade_hr">
    <h2 class="center_header">Select Structures</h2>
    <br />

       <form id="rmsd_form" method="post"  action=".">
       {% if tasks %}
         <table class="qm_table">
           {% for task in tasks %}
           <tr><td>Coordinates from {{task.action}}&nbsp;<input type="radio" name="dotask_{{ task.id }}" value="1" /></td></tr>
           {% endfor %}
         </table>
         {% endif %}
        <br>


       <table class="qm_table" style="text-align:left">
         <tr><td><p class="fontmed">Compare all atoms (except bulk waters)</td>
             <td><input type="radio" name="comp_allatom" value="1" onclick="document.getElementById('comp_backbone').style.display = 'none';" checked></td></tr>
         <tr><td><p class="fontmed">Compare only backbone atoms</td>
             <td><input type="radio" name="comp_allatom" value="0" onclick="document.getElementById('comp_backbone').style.display = 'block';"></td></tr>
       </table>
       <div id="comp_backbone" style="display: none;">
         <table class="qm_table" style="text-align:left">
           <tr><td colspan="2" style="text-align:center"><b>Select backbone atoms to be compared</b></td></tr>
           <tr><td>Nitrogen (N)</td><td><input type="checkbox" name="bb_n" checked></td></tr>
           <tr><td>&alpha;-Carbon (CA)</td><td><input type="checkbox" name="bb_ca" checked></td></tr>
           <tr><td>Backbone Carbon (C)</td><td><input type="checkbox" name="bb_c" checked></td></tr>
           <tr><td>Backbone Oxygen (O)</td><td><input type="checkbox" name="bb_o" checked></td></tr>
           <tr><td>Backbone Hydrogen bound to Nitrogen (HN)</td><td><input type="checkbox" name="bb_hn"></td></tr>
           <tr><td>Hydrogen bound to the &alpha;-Carbon (HA)</td><td><input type="checkbox" name="bb_ha"></td></tr>
         </table>
       </div>

       <input type="submit" value="Build RMSD matrix">
       </form>
  </div>
</div>
{% endblock %}
