{% extends 'html/skeleton.html' %}
{% block content %}
<!-- REMEMBER! Make new menu. Add atom selection buttons. -->
  <script type="text/javascript" src="/charmming/js/jsmol/js/JSmolCore.js"></script>
  <script type="text/javascript" src="/charmming/js/jsmol/js/JSmolApplet.js"></script>
  <script type="text/javascript" src="/charmming/js/jsmol/js/JSmolApi.js"></script>
  <script type="text/javascript" src="/charmming/js/jsmol/js/j2sjmol.js"></script>
  <script type="text/javascript" src="/charmming/js/jsmol/js/JSmol.js"></script>
  <script type="text/javascript" src="/charmming/js/selection.js"></script>
  <link rel="stylesheet" href="/charmming/css/atomselect_visualize.css" />
  <h1 align="center">Visualization</h1>
  <br />
<div id="jsmol">
  <div id="jsmol_window">
  <script type="text/javascript">
    var jmolApplet;
    jmol_isReady = function(applet) {
    Jmol._getElement(applet, "appletdiv".style.border="1px solid blue");
    }		
    var debug_on = {% if super_user %} false {% else %} true {% endif %}
    var Info = {
	width: "600",
	height: "600",
  debug: false,
  color: "black",
	use: "HTML5",
	j2sPath: "/charmming/js/jsmol/j2s",
	readyFunction: jmol_isReady,
  script: "set antialiasDisplay;",
  disableJ2SLoadMonitor: debug_on,
  disableInitialConsole: debug_on,
//  console: "jmolApplet_infodiv"
  //Apparently the DEFAULT setting is to have debug on. Thus the awkwardness.
}
    </script>
    <script>
      var chain_terminators = {{chain_terminators|safe}};
      var segmentlist = {{segmentlist|safe}};
      jmolApplet = Jmol.getApplet("jmolApplet", Info);
      Jmol.script(jmolApplet,  "load /charmming/pdbuploads/{{filepath}}; slab off; spin off; trace off; set ambient 40; set specpower 40;");
      Jmol.script(jmolApplet, "select none;selectionHalos on");
     </script>
     <br />
  </div>
  <div id="dialog_bad_linkatoms" title="Number of link atoms not an integer">
    <p><span class="ui icon ui-icon-alert" style="float:left;margin 0 auto auto 0;"></span>
    Please input an integer in the "Number of Link Atoms" box.</p>
  </div>
  <div id="dialog_noatoms_alert" title="No atoms chosen">
    <p><span class="ui-icon ui-icon-alert" style="float:left;margin: 0 auto auto 0;"></span>
    Please select at least one atom.</p>
  </div>
  <div id="dialog_too_many_links" title="Too many atoms chosen">
    <p><span class="ui-icon ui-icon-alert" style="float:left;margin: 0 auto auto 0;"></span>
    Please select only one QM/MM host at a time.</p>
  </div>
  <div id="dialog_bad_bond" title="Cannot cut across this bond">
    <p><span class="ui-icon ui-icon-alert" style="float:left;margin: 0 auto auto 0;"></span>
    CHARMMing does not support cutting across bonds that are not C-C. Please select a different 
    link atom, or reset your selection and try again.</p>
  </div>
  <div id="dialog_empty_fields" title="Link atoms missing">
    <p><span class="ui-icon ui-icon-alert" style="float:left;margin: 0 auto auto 0;"></span>
    Some of the link atom fields are still empty. Please select all link atoms before submitting.</p>
  </div>
  <div id="dialog_bad_linkatom_input" title="Bad link atom selection">
    <p><span class="ui-icon ui-icon-alert" style="float:left;margin: 0 auto auto 0;"></span>
    Your link atom input does not match the pattern generated by our automatic selector.
    Please use the automatic selection provided on this page.<br />
    If you are encountering this message in error, please report this bug.</p>
  </div>
  <div id="dialog_bad_qm" title="Bad QM selection">
    <p><span class="ui-icon ui-icon-alert" style="float:left;margin: 0 auto auto 0;"></span>
    Your QM host is not in the QM region you selected previously. Please select an atom in your QM region.</p>
  </div>
  <div id="dialog_bad_mm" title="Bad MM selection">
    <p><span class="ui-icon ui-icon-alert" style="float:left;margin: 0 auto auto 0;"></span>
    Your MM host is either in the QM region you selected previously, or is already one of your MM hosts. 
    Please select an atom that is not already an MM host, and is not in your QM region.</p>
  </div>
  <div id="dialog_bad_add" title="Bad addition">
    <p><span class="ui-icon ui-icon-alert" style="float:left;margin: 0 auto auto 0;"></span>
    The atom(s) you selected are already in your QM region. Please select atoms outside of this region, or reset your selection.</p>
  </div>
  <div id="dialog_long_link" title="Bad link atom">
    <p><span class="ui-icon ui-icon-alert" style="float:left;margin: 0 auto auto 0;"></span>
    The MM host you selected is over 2 Å from the QM host attached to it. Please cut across a C-C bond on that QM host.</p>
  </div>
  
  <!-- Buttons go under "atomselect_buttons" div, buttons themselves go in "selectbuttons" div class
  TODO: "grey out" buttons if certain conditions are not met (i.e. no chains, therefore grey out chain button -->
  <div id="atomselect_buttons">
    <h1>Atom Selection Options</h1>
    <hr />
    <h2>Select by: </h2>
    <button class="aaddselectbutton" id="atom" onclick="Jmol.script(jmolApplet, 'set picking atom')">Atom</button>
    <button class="atomselectbutton" id="molecule" onclick="Jmol.script(jmolApplet, 'set picking molecule')">Molecule</button>
    <button class="atomselectbutton" id="element" onclick="Jmol.script(jmolApplet, 'set picking element')">Element</button>
    <button class="atomselectbutton" id="chain" onclick="Jmol.script(jmolApplet, 'set picking chain')">Chain</button>
    <button class="atomselectbutton" id="residue" onclick="Jmol.script(jmolApplet, 'set picking group')">Residue</button>
    <button class="atomselectbutton" id="site" onclick="Jmol.script(jmolApplet, 'set picking site')">Site</button><br> <br>
    <hr><br>
    <button class="atomselectbutton" onclick="submit_atomselect()">Submit Selection</button>
    <button class="addselectbutton" id="add" onclick="add_atomselect()" style="display:none">Add to Selection</button>
    <button class="resetbutton" id="reset" onclick="reset_select()">Reset Selection</button>
    <br /><br />
  <form id="atomselect_form" method="post" action="/charmming/selection/" enctype="multipart/form-data"> 
    <input type="hidden" name="source" id="source" value="{{source}}">
    <input type="hidden" name="task_id" id="task_id" value="{{task_id}}">
    <h2>QM region atom selection:</h2>
    <input type="text" name="atomselection" id="atomselection" readonly value="">
    <br /><hr>
    <h2>Input number of link atoms:</h2>
    <input type="text" class="qmmminput" name="linkatom_num" id="linkatom_num" value="0">
    <button class="selectbutton" onclick="submit_linkatoms();return false;">Submit Number</button>
    <br />
    <!-- TODO: Make this box smaller! -->
    <div id="linkatom_inputs" name="linkatom_inputs" style="display:none">
    <hr>
    </div>
    <hr>
  </div>
  </form>
  </div>
{% endblock %}
