<!DOCTYPE html>
<head>
    <title>{% block title %} CHARMMing Web interface, developed by the Laboratory of Computational Biology {% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

    <script src="/charmming/js/ajax.js" type="text/javascript"></script>
    <script src="/charmming/js/sdmenu/sdmenu.js" type="text/javascript"></script>
    <script type="text/javascript" src="/charmming/js/custom.js"></script>
    <script type="text/javascript" src="/charmming/js/emap.js"></script>
    <script src="/charmming/js/jsmol/js/JSmoljQuery.js" type="text/javascript"></script>
    <script src="/charmming/js/jqTableKit.js" type="text/javascript"></script>
    <script src="/charmming/js/jquery.periodicalupdater.js" type="text/javascript"></script>
    <script type="text/javascript" src="/charmming/js/jquery-ui/jquery-ui.js"></script>

    <link rel="stylesheet" type="text/css" media="all" href="/charmming/css/tablekit/tablestyle.css" />
    <link href="/charmming/css/charmming.css" rel="stylesheet" type="text/css" />
    <link href="/charmming/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="/charmming/css/tabs.css" rel="stylesheet" type="text/css" />
    <link href="/charmming/css/sdmenu/sdmenu.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" media="all" href="/charmming/css/tabs.css">
    <link rel="stylesheet" href="/charmming/css/jqTableKit.css" type="text/css" />
    <link rel="icon" href="/charmming/images/charmming-css/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/charmming/images/charmming-css/favicon.ico" type="image/x-icon"> 
    <link rel="stylesheet" href="/charmming/js/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="/charmming/css/mutate.css" />

    <script type="text/javascript">

    /***********************************************
    * DHTML Window Widget- © Dynamic Drive (www.dynamicdrive.com)
    * This notice must stay intact for legal use.
    * Visit http://www.dynamicdrive.com/ for full source code
    ***********************************************/

    var myMenu;
    var jmolCounter = -1;
    var currperiodicalupdater = null;

    function getDocWidth() {
       return document.documentElement.clientWidth *.82;
    }
    function doOnLoad() {
       myMenu = new SDMenu("my_menu");
       myMenu.init();

       $("#statusreport").PeriodicalUpdater('/charmming/status/', {async:false,method: 'post', multiplier:5, minTimeout:100, maxTimeout:5000}, function(remoteData){document.getElementById("statusreport").innerHTML = remoteData;});
    }

    function showLesson(lesson)
    {
     if(currperiodicalupdater)
     {
      currperiodicalupdater.stop();
     }
     if(lesson != "nolesson" && lesson != 'None')
       currperiodicalupdater = $("lessonreport").PeriodicalUpdater('/charmming/lessons/lessonstatus/', {method: 'post', multiplier:5, minTimeout:100, maxTimeout:5000}, function(remoteData){document.getElementById("statusreport").innerHTML = remoteData;});
     else
     {
      document.getElementById('lessonreport').innerHTML = '';
     }
    }

    $(document).ready(function (){
        doOnLoad();
      });
    </script>
</head>

<body>
  {% include 'html/error_messages.html' %}
  {% comment %}
  Including error_messages here allows ANY page working under the CHARMMing skeleton to access it - i.e. basically everything. 
  This way we both encourage staying on skeleton and also allow fancy error messages everywhere.
  {% endcomment %}
  <div id="wholepage">

   <div id="header" style="margin: 0 auto;"></div>
   
   <div id="body">
      <div id="sidebar">
        <div id="my_menu" class="sdmenu">
          <div>
            <span>Basic functions</span>
            <a title="CHARMMing usage information and credits." href="/charmming/about/">About CHARMMing</a>
          </div>
          <div>
            <span>Structures</span>
            <a href="/charmming/fileupload/">Submit Structure</a>
            <a href="/charmming/viewpdbs/">Change/Delete Structures</a>
            <a href="/charmming/buildstruct/">Build/Select Working Structure</a>
            <a href="/charmming/ligand_design/">Build Custom Ligand</a>
            <a href="/charmming/downloadfiles/">Download Files</a>
            <a href="/charmming/visualize/">Visualize system</a>
            <a href="/charmming/viewprocessfiles/">View Inputs and Outputs</a>
      	    <a href="/charmming/mutation/">Modify Structure by Point-Mutation</a>
          </div>
          <div class="collapsed">
            <span>Calculations</span>
            <a href="/charmming/energy/">Energy</a>
            <a href="/charmming/minimize/">Minimize</a>
            <a href="/charmming/solvate/">Solvate</a>
            <a href="/charmming/normalmodes/">Normal Modes</a>
            <a href="/charmming/dynamics/md/">Molecular Dynamics</a>
            <a href="/charmming/dynamics/ld/">Langevin Dynamics</a>
          </div>
          <div class="collapsed">
            <span>Analyses</span>
            <a href="/charmming/analysis/mdprop/">MD Properties</a>
            <a href="/charmming/analysis/rmsd/">RMSD calculator</a>
            <a href="/charmming/analysis/redox/">Redox</a>
          </div>
          {% if dd_ok %}
          <div class="collapsed">
          {% else %}
          <div class="collapsed" style="display: none;">
          {% endif %}
            <span>Docking</span>
             <a href="/charmming/dd_substrate/ligandfileupload/">Ligand Upload</a>
             <a href="/charmming/dd_substrate/viewligands/">View Ligands</a>
             <a href="/charmming/dd_substrate/viewligandsets/">Ligand Sets</a>
             <a href="/charmming/dd_infrastructure/dsfform/">Launch Docking Job</a>
             <a href="/charmming/dd_infrastructure/viewjobs/">View Jobs/Results</a>
          </div>

          {% if lesson_ok %}
          <div class="collapsed">
          {% else %}
          <div class="collapsed" style="display:none;">
          {% endif %}
	    <span> Lessons </span>
              <a href="/charmming/lessons/lesson1/">1. Intro to Simulations</a>
              <a href="/charmming/lessons/lesson2/">2. Simulating proteins</a>
              <a href="/charmming/lessons/lesson3/">3. SGLD, sequences</a>
              <a href="/charmming/lessons/lesson4/">4. Custom RTF, QM/MM</a>
              <a href="/charmming/lessons/lesson5/">5. Coarse-grain models</a>
              <a href="/charmming/lessons/lesson6/">6. Redox Calculation</a>
          </div> 

          <div>
            <span>Account</span>
            <a title="Change Password" href="/charmming/accounts/changepassword/">Change Password</a>
            <a title="Logout" href="/charmming/accounts/logout/">Logout</a>
          </div>
        </div>


        <div id="statuscontainer">
          <div id="statusreport" class="status"></div>
        </div>

        <div id="lessoncontainer">
          &nbsp;
          <div id="lessonreport" class="status"></div>
        </div>

      </div>

      <div id="content">
         {% block content %}
            {% include "html/intro.html" %}
         {% endblock %}
      </div>

   </div>

   <div id="chmfooter" style="margin: 0 auto;"></div>

 </div>

</body>

</html>

