<div>
  <center>
    <br />
    <br />
    <br />
    <h1>Solvate</h1>
    <hr noshade width="80%" size="3%" />
  </center>

  <div id='change_solv' style="text-align:center;">

    <div id="script_dothis" style="display:none;">
      makeUniqueDiv('solv_form');
      refreshToolTips();
    </div>

    <body>

      <form id='solv_form' name='solv_form' method="post"  action"." onsubmit="return send_form(this,'/charmming/solvate/','change_solv','status_solv',[{% for item in filename_list %}'{{item}}',{% endfor %}]);">
        <center>
          <h2>Working structure: {{ ws_identifier }}</h2>
 
          {% include "html/workfiles.html" %}

          <hr noshade width="80%" size="3%" />
          <h2>Solvation Parameters</h2>
          
          <table width="80%">
            <tr><td>Choose a unit cell shape for solvation</td>
            <td><select name="solvation_structure" id="solv_struc" onchange="resetBoxDim({{dim_x}},{{dim_y}},{{dim_z}});">
                  <label><option id="id_solvation_structure_0" value="cubic"/>cubic (X=Y=Z, 90 degree angles)</label>
                  <label><option id="id_solvation_structure_1" value="tetra"/>tetragonal (X=Y, 90 degree angles)</label>
                  <label><option id="id_solvation_structure_2" value="rhdo" selected />Rhombic Dodecahedron (X=Y=Z)</label>
                  <label><option id="id_solvation_structure_3" value="hexa" />Hexagonal Prism (X=Y)</label>
                  <label><option id="id_solvation_structure_4" value="sphere"/>sphere (not a space-filling geometry; cannot be used with PBC)</label>
                </select></td></tr>
            <tr><td>Choose Box dimensions (Your structure's dimensions are X={{dim_x}}, Y={{dim_y}}, Z={{dim_z}})</td>
                <td>
                  X = <input type="text" name="set_x" value="0.0" /><br />
                  Y = <input type="text" name="set_y" value="0.0" /><br />
                  Z = <input type="text" name="set_z" value="0.0" />
                </td></tr>
            <tr><td>Neutralize the structure (current charge {{charge}})</td>
                <td>
                   Select salt:&nbsp;
                   <select name="salt" size="1">
                     <option value="none">No Neutralization</option>
                     <option value="kcl">Potassium Chloride (KCl)</option>
                     <option value="nacl">Sodum Chloride (NaCl)</option>
                     <option value="cscl">Cesium Chloride (CsCl)</option>
                     <option value="cacl2">Calcium Chloride (CaCl<sub>2</sub>)</option>
                     <option value="mgcl2">Magnesium Chloride (MgCl<sub>2</sub>)</option>
                   </select>
                   <br />
                   Select Concentration:&nbsp;<input type="text" name="concentration" value="0.15" /> molar<br />
                   Number of trials:&nbsp;<input type="text" name="ntrials" value="3" />
                </td></tr>
          </table>
          <input type="submit" value="Submit" />

        </center>
      </form>
    </body>
  </div>
</div>


