{% autoescape off %}
<div class="status">
  <table border=0 bordercolor=#e2e9fe class="status" cellspacing=0 cellpadding=0 width=150px>
   {% if structure.name %}
     <tr class="status"><th class="status"> Status of: <br /> {{ structure.name }} </th></tr>
     {% if haveWorkingStruct %}
       <tr class="status"><td class="status">Operations:</td></tr>
       {% for s in statuses %}
         {% ifnotequal s.1 "Inactive" %}
           <tr class="status"><td class="status"> {{ s.0 }}: {{ s.1 }} {% ifequal s.2 1 %}<a href="javascript:killJob({{ s.3 }});">X</a>{% endifequal %}</td></tr>
         {% endifnotequal %}
       {% endfor %}
     {% else %}
       <tr class="status"><th class="status"> Structure not built </th></tr>
     {% endif %}
   {% else %}
     <tr class="status"><th class="status"> No Structure </th></tr>
   {% endif %}
</table>

  <div id="statusfooter">
    <div class="content">
    </div>
  </div> 

</div>
{% endautoescape %}
