<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>View/Edit PDBs</title>

    <script type="text/javascript">
        var GB_ROOT_DIR = "/greybox/greybox/";
function send_select_form(form) {
   new Ajax.Request("/select/"+form.id, {method:'post', asynchronous:true});
}

    </script>

<link rel="stylesheet" type="text/css" media="all" href="/charmming/css/tablekit/tablestyle.css" />
<script type="text/javascript" src="/charmming/js/protoculous-1.0.2-packed.js"></script>
<script type="text/javascript" src="/charmming/js/tablekit/fastinit.js"></script>
<script type="text/javascript" src="/charmming/js/tablekit/tablekit.js"></script>
    <script type="text/javascript" src="/charmming/js/greybox/AJS.js"></script>
    <script type="text/javascript" src="/charmming/js/greybox/AJS_fx.js"></script>
    <script type="text/javascript" src="/charmming/js/greybox/gb_scripts.js"></script>
    <link href="/charmming/css/greybox/gb_styles.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>

<center>
<br />
<br />
<br />
<h1>View Process Files</h1>
</center>
<hr width="50%">
<div class='status'>
<body>

<center>
<form method="post" action=".">
   {% if seg_list %}
   <h2>Segment Setup files</h2>
   <table class="sortable resizable" border="2" width="98%">
   <tr><th>Filename</th><th>Timestamp</th><th>Description</th></tr>
   {% for file in seg_list %}
      <tr><td> <a href="javascript:AjaxTabs.OpenTab(getUniqueId('tab_page'),'{{ file.0 }}','/charmming/viewprocessfilescontainer/{{file.0}}',true,'')">{{ file.0 }}</a></td><td> {{ file.1 }} </td><td> {{ file.2 }} </td></tr>
   {% endfor %}
   </table>
   {% endif %}

   {% if minsolv_list %}
   <h2>Minimization/solvation files</h2>
   <table class="sortable resizable" border="2" width="98%">
   <tr><th>Filename</th><th>Timestamp</th><th>Description</th></tr>
      {% for file in minsolv_list %}
         <tr><td> <a href="javascript:AjaxTabs.OpenTab(getUniqueId('tab_page'),'{{ file.0 }}','/charmming/viewprocessfilescontainer/{{file.0}}',true,'')">{{ file.0 }}</a></td><td> {{ file.1 }} </td><td> {{ file.2 }} </td></tr>
      {% endfor %}
   </table>
   {% endif %}

   {% if nmodes_list %}
   <h2>Normal Mode Analysis files</h2>
   <table class="sortable resizable" border="2" width="98%">
   <tr><th>Filename</th><th>Timestamp</th><th>Description</th></tr>
      {% for file in nmodes_list %}
         <tr><td> <a href="javascript:AjaxTabs.OpenTab(getUniqueId('tab_page'),'{{ file.0 }}','/charmming/viewprocessfilescontainer/{{file.0}}',true,'')">{{ file.0 }}</a></td><td> {{ file.1 }} </td><td> {{ file.2 }} </td></tr>
      {% endfor %}
   </table>
   {% endif %}

   {% if dyn_list %}
   <h2>Dynamics files</h2>
   <table class="sortable resizable" border="2" width="98%">
   <tr><th>Filename</th><th>Timestamp</th><th>Description</th></tr>
      {% for file in dyn_list %}
         <tr><td> <a href="javascript:AjaxTabs.OpenTab(getUniqueId('tab_page'),'{{ file.0 }}','/charmming/viewprocessfilescontainer/{{file.0}}',true,'')">{{ file.0 }}</a></td><td> {{ file.1 }} </td><td> {{ file.2 }} </td></tr>
      {% endfor %}
   </table>
   {% endif %}

   {% if redox_list %}
   <h2>Oxidation/reduction files</h2>
   <table class="sortable resizable" border="2" width="98%">
   <tr><th>Filename</th><th>Timestamp</th><th>Description</th></tr>
      {% for file in redox_list %}
         <tr><td> <a href="javascript:AjaxTabs.OpenTab(getUniqueId('tab_page'),'{{ file.0 }}','/charmming/viewprocessfilescontainer/{{file.0}}',true,'')">{{ file.0 }}</a></td><td> {{ file.1 }} </td><td> {{ file.2 }} </td></tr>
      {% endfor %}
   </table>
   {% endif %}

</form>
</center>
</div>
</body>
