{% extends "html/skeleton.html" %}

{% block content %}
<div id="mainpage">
<h1 align="center">View Process Files</h1>
<hr width="50%">

<center>
<form method="post" action=".">
   {% for header in headers %}
     <h2>{{ header }} files</h2>

     <table class="sortable resizable" border="2" width="98%">
       {% for file in files %}
          {% ifequal file.0 header %}
             <tr>
               <td><a href="/charmming/viewprocessfiles/viewfile/{{file.1}}">{{ file.1 }}</a></td>
               <td>{{ file.2 }}</td>
             </tr>
          {% endifequal %}
       {% endfor %}
     </table>
   {% endfor %}

</form>
</center>
</div>
{% endblock %}
