{% extends "html/skeleton.html" %} 
{% block content %}
<div id="mainpage">
  <center>
  <h1>Visualize Structures</h1>
  <hr width="50%">

  <form method="post" action=".">
     <table class="sortable resizable" border=2>
        <tr><th>Filename</th><th>Description</th><th>View in JSmol</th><th>View in GLmol</th></tr>
        {% for file in filelst %}
           <tr><td>{{ file.0 }}</td><td>{{ file.1 }}</td><td><a target="_blank" href="/charmming/jmolview/{{ file.0 }}">View</a></td><td><a target="_blank" href="/charmming/glmolview/{{ file.0 }}">View</a> </td></tr>
        {% endfor %}
     </table>
  </form>
</div>
{% endblock %}
