{% load gears %}
<!doctype html>
<html class='{% block html_class %}{% endblock %}'>
  <head>
    <title>CHARMMing :: {% block title %} CHARMM interface and graphics {% endblock %}</title>
    <link href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet">
    {% css_asset_tag "css/application.css" %}
    <script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
    <script src='http://cdn.ractivejs.org/latest/ractive.js'></script>
    {% js_asset_tag "js/application.js" %}
  </head>
  <body>
    <noscript class="noscript">CHARMMing requires JavaScript to work properly. Please enable JavaScript.</noscript>
    <header class='top-bar'>
      <div class='title-area {% if current_user %} logged_in {% endif %}'>
        CHARMMing{% if not current_user %}: CHARMM Interface and Graphics {% endif %}
      </div>

      {% if current_user %} 
        {% block top_nav %}{% endblock %}
      {% endif %}
    </header>
    <div class="page">
      {% if current_user %}
        {% block side_nav %}{% endblock %}
      {% endif %}

      <div class="page-content {% if current_user %} with-menu{%endif%}">
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
