{% extends "basic_layout.html" %}
{% load url from future %}
{% load give_parent_menu_class from navigation %}
{% load is_submenu_expanded from navigation %}
{% load is_current_page from navigation %}
{% load verbatim from verbatim %}

{% block title %} Dashboard {% endblock %}
{% block top_nav %}
  <ul>
    {% if current_user.is_admin %}
<!--
    <li class='dropdown'>
      <a class='green-bg' href='/status' data-dropdown>Status</a>
      <ul class='submenu'>
        <li><a>Notifications</a></li>
        <li><a>Scheduler</a></li>
      </ul>
      </li>
      -->
    {% endif %}
    <!--
    <li class="notifications">
      <a href="/notifications" title="No New Notifications" data-tooltip><i class="ion-ionic"></i></a>
    </li>
    <li class="has-dropdown">
      <a href="/jobs">Jobs</a>
      <ul class="dropdown">
        <li><a>Energy</a></li>
        <li><a>Minimization</a></li>
      </ul>
    </li>
    <li>
      <a href="/settings">My Settings</a>
      </li>
      -->
    <li>
      <a href="/logout">Logout</a>
    </li>
  </ul>
{% endblock %}
{% block side_nav %}
<div class="menu">
  <ul>
    {% if current_user.is_admin %}
    <li class="administration {% give_parent_menu_class 'admin' %}">
    <a href="{% url 'admin.index' %}"><i class="ion-cube"></i>Administration</a><span class="expand {% is_submenu_expanded 'admin' %}"></span>
      <ul class="expand-menu">
        <li class="{% is_current_page 'admin.users' %}"><a href="{% url 'admin.users' %}">Users</a></li>
        <li class='{% is_current_page 'admin.program_sets' %}'><a href='{% url 'admin.program_sets' %}'>All Program Sets</a></li>
        <li class='{% is_current_page 'admin.program_set.new' %}'><a href='{% url 'admin.program_set.new' %}'>New Program Set</a></li>
        <li class="{% is_current_page 'admin.programs' %}"><a href="{% url 'admin.programs' %}">All Programs</a></li>
        <li class='{% is_current_page 'admin.program.new' %}'><a href='{% url 'admin.program.new' %}'>New Program</a></li>
        <li class='{% is_current_page 'admin.tasks' %}'><a href='{% url 'admin.tasks' %}'>All Tasks</a></li>
        <li class='{% is_current_page 'admin.task.new' %}'><a href='{% url 'admin.task.new' %}'>New Task</a></li>
      </ul>
    </li>
    {% endif %}
    <li class="structures {% give_parent_menu_class 'structure' %}">
      <a href="{% url 'structure.index' %}"><i class="ion-code"></i>Structures</a><span class="expand {% is_submenu_expanded 'structure' %}"></span>
      <ul class="expand-menu">
        <li class="{% is_current_page 'structure.new' %}"><a href="{% url 'structure.new' %}">New Structure</a></li>
        <li class="{% is_current_page 'structure.working_structure.index' %}"><a href="{% url 'structure.working_structure.index' %}">New Working Structure</a></li>
      </ul>
    </li>
    <li class="{% give_parent_menu_class 'task' %}">
      <a href='{% url 'task.index' %}'><i class='ion-beaker'></i>Tasks</a><span class='expand {% is_submenu_expanded 'task' %}'></span>
      <ul class='expand-menu'>
        {% for parent in tasks_with_parents %}
        <li>{{ parent.name }}</li>
          {% for task in parent.tasks %}
            <li><a href='{% url 'task.show' slug=parent.slug task_slug=task.slug %}'>{{ task.name }}</a></li>
          {% endfor %}
        {% endfor %}
      </ul>
    </li>
  </ul>  
</div>
{% endblock %}
{% block content %}
{% endblock %}
