{% extends "basic_layout.html" %}
{% block html_class %} login {% endblock %}
{% block content %}
<div class="row">
  <div class="large-offset-3 large-6 columns">
    <h1 class="text-center">Welcome! Please login to continue</h1>
    <div class='alert-box alert hide'></div>
  </div>
</div>
<div class="row">
  <form class='login' action='/' method='post'>
    <div class="row">
      <div class="large-offset-3 large-3 columns">
        <input name="username" type="text" placeholder="Username">
      </div>
      <div class="large-3 columns">
        <div class="row">
          <div class="small-10 columns">
            <input type="password" name="password" placeholder="Password">
          </div>
          <div class="small-2 columns">
            <input type="submit" class="button secondary postfix" value="Login">
          </div>
        </div>
      </div>
      <div class='large-3 columns'> </div>
    </div>
  </form>
</div>
<div class="row">
  <div class="large-offset-3 large-6 columns">
    <div class="panel">
      <h2>About CHARMMing</h2>
      CHARMMing, which stands for CHARMM interface and graphics, is an intergrated set of tools that performs chemical structure calculations and analysis. It incorpoates freely available tools such as <a href="http://sourceforge.net/projects/jsmol/">JSmol</a> and GENREF, an automatic residue topology file generator that generates information not supported with CHARMM force fields.
    </div>
  </div>
  <div class="large-6 columns">

  </div>
</div>
{% endblock %}

{% block js %}
<script type='text/javascript' src='/js/charmming/login.js'></script>
{% endblock %}
